flows_orangepizero.json
[{"id":"17247d6.de10983","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"b75e6295.fa1ac","type":"tab","label":"WittyCloud2","disabled":true,"info":""},{"id":"f18a7d34.e498d","type":"tab","label":"OrangePi Zero","disabled":false,"info":""},{"id":"64f3384c.3b3028","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"24a5c07c.685f6","type":"tab","label":"WemosD1Mini_1","disabled":false,"info":""},{"id":"6110b0a4.dfb52","type":"tab","label":"WemosD1Mini_2","disabled":false,"info":""},{"id":"68821e6f.cc5fd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"aa7f3528.e08af8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"47b97ffb.dccb6","type":"ui_group","z":"","name":"Температура","tab":"4fa1289b.2ee2b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fa1289b.2ee2b8","type":"ui_tab","z":"","name":"Метео панель","icon":"dashboard","order":1},{"id":"a9dd34b9.cde8c8","type":"ui_tab","z":"","name":"Свет","icon":"dashboard","order":2},{"id":"ddd8d902.a3dc18","type":"ui_group","z":"","name":"Никитына комната","tab":"a9dd34b9.cde8c8","order":2,"disp":true,"width":"6"},{"id":"1e7274f3.a3276b","type":"ui_group","z":"","name":"Датчик движения на кухне","tab":"7b9dffe8.4b02a","order":1,"disp":true,"width":"6"},{"id":"7b9dffe8.4b02a","type":"ui_tab","z":"","name":"Settings","icon":"dashboard"},{"id":"59c97ce2.81d774","type":"ui_group","z":"","name":"Активность на кухне","tab":"","disp":true,"width":"6"},{"id":"819c36ca.9b3f18","type":"ui_group","z":"","name":"Orange Pi","tab":"7b9dffe8.4b02a","order":2,"disp":true,"width":"6"},{"id":"ce4318b2.1b8cd8","type":"ui_group","z":"","name":"Термометр на улице","tab":"7b9dffe8.4b02a","order":3,"disp":true,"width":"6"},{"id":"6d94163f.0f3d18","type":"ui_group","z":"","name":"Weather","tab":"7b9dffe8.4b02a","disp":true,"width":"6"},{"id":"dfde69d3.abf868","type":"ui_tab","z":"","name":"Влажность","icon":"dashboard"},{"id":"a26f2deb.4e84b","type":"ui_group","z":"","name":"Влажность","tab":"4fa1289b.2ee2b8","disp":true,"width":"6","collapse":false},{"id":"62ea3d1f.b9fac4","type":"ui_group","z":"","name":"Давление за 3 дня","tab":"4fa1289b.2ee2b8","disp":true,"width":"6","collapse":false},{"id":"6f803227.2ae3ac","type":"exec","z":"f18a7d34.e498d","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["c3de7a77.b03fe8"],[],[]]},{"id":"c3de7a77.b03fe8","type":"mqtt out","z":"f18a7d34.e498d","name":"ProcTemp","topic":"","qos":"","retain":"","broker":"aa7f3528.e08af8","x":524.0000305175781,"y":126.9999885559082,"wires":[]},{"id":"21856450.db1f9c","type":"inject","z":"f18a7d34.e498d","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["6f803227.2ae3ac"]]},{"id":"1a59f784.66fa78","type":"ui_switch","z":"17247d6.de10983","name":"Nik's lamp","label":"Лампа над диваном","group":"ddd8d902.a3dc18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WittyCloud1/relay","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":716.1666107177734,"y":1096.4445295333862,"wires":[["375b8284.ab3bde","379c1731.7c8128"]]},{"id":"b2dcd981.d54258","type":"ui_gauge","z":"17247d6.de10983","name":"","group":"47b97ffb.dccb6","order":1,"width":"3","height":"3","gtype":"gage","title":"На улице","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":589.1000366210938,"y":151.60006713867188,"wires":[]},{"id":"644bdc44.6e9054","type":"mqtt in","z":"17247d6.de10983","name":"","topic":"WittyCloud/temp","qos":"2","broker":"aa7f3528.e08af8","x":145.09999084472656,"y":130.1999969482422,"wires":[["b2dcd981.d54258","4aac59e8.b7d568","d66c08c8.07fc88"]]},{"id":"b15797f5.49a978","type":"mqtt in","z":"f18a7d34.e498d","name":"","topic":"ProcTemp","qos":"2","broker":"aa7f3528.e08af8","x":80.91249084472656,"y":257.2843704223633,"wires":[["e4411ad3.a6e3e8"]]},{"id":"e4411ad3.a6e3e8","type":"ui_text","z":"f18a7d34.e498d","group":"819c36ca.9b3f18","order":1,"width":0,"height":0,"name":"","label":"Температура процессора","format":"{{msg.payload}}°C","layout":"row-spread","x":502.9093704223633,"y":258.27809715270996,"wires":[]},{"id":"65e058a4.790c58","type":"mqtt in","z":"17247d6.de10983","name":"WittyCloud/light","topic":"WittyCloud/light","qos":"2","broker":"aa7f3528.e08af8","x":172.7799949645996,"y":693.9599809646606,"wires":[["422a8d7d.ec3cf4"]]},{"id":"422a8d7d.ec3cf4","type":"ui_text","z":"17247d6.de10983","group":"ddd8d902.a3dc18","order":2,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":584.7799377441406,"y":693.35498046875,"wires":[]},{"id":"4aac59e8.b7d568","type":"ui_chart","z":"17247d6.de10983","name":"","group":"47b97ffb.dccb6","order":3,"width":"0","height":"0","label":"На улице за 7 дней","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":718.7799072265625,"y":233.3599853515625,"wires":[["92ef7e1b.28a2d"],[]]},{"id":"73d7ba82.014564","type":"stoptimer","z":"17247d6.de10983","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":409,"y":897.1999835968018,"wires":[["1a59f784.66fa78"],[]]},{"id":"3d1247d0.14a168","type":"ui_button","z":"17247d6.de10983","name":"","group":"ddd8d902.a3dc18","order":3,"width":0,"height":0,"passthru":false,"label":"15 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":136.9999008178711,"y":896.399980545044,"wires":[["bb15ede8.e2d5a","73d7ba82.014564"]]},{"id":"379c1731.7c8128","type":"debug","z":"17247d6.de10983","name":"","active":false,"console":"false","complete":"false","x":930.9999465942383,"y":884.0000438690186,"wires":[]},{"id":"375b8284.ab3bde","type":"mqtt out","z":"17247d6.de10983","name":"Light ON/OFF","topic":"","qos":"","retain":"","broker":"aa7f3528.e08af8","x":934.6001663208008,"y":1096.0002536773682,"wires":[]},{"id":"87674ccb.41be3","type":"ui_button","z":"17247d6.de10983","name":"","group":"ddd8d902.a3dc18","order":5,"width":0,"height":0,"passthru":false,"label":"1 Hour","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":135.39990997314453,"y":1020.4000129699707,"wires":[["e84048e4.64fbd8","bb15ede8.e2d5a"]]},{"id":"cecfbcfc.65ace","type":"ui_button","z":"17247d6.de10983","name":"","group":"ddd8d902.a3dc18","order":4,"width":0,"height":0,"passthru":false,"label":"30 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":137.39990615844727,"y":960.4000091552734,"wires":[["bb15ede8.e2d5a","49474a3a.0873b4"]]},{"id":"f56558df.ea0e18","type":"ui_button","z":"17247d6.de10983","name":"","group":"ddd8d902.a3dc18","order":6,"width":0,"height":0,"passthru":false,"label":"Stop","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":139.39991760253906,"y":1094.4000396728516,"wires":[["73d7ba82.014564","49474a3a.0873b4","e84048e4.64fbd8","bb15ede8.e2d5a"]]},{"id":"49474a3a.0873b4","type":"stoptimer","z":"17247d6.de10983","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":409.39990997314453,"y":957.1999855041504,"wires":[["1a59f784.66fa78"],[]]},{"id":"e84048e4.64fbd8","type":"stoptimer","z":"17247d6.de10983","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":401.39990997314453,"y":1013.199987411499,"wires":[["1a59f784.66fa78"],[]]},{"id":"bb15ede8.e2d5a","type":"function","z":"17247d6.de10983","name":"Light ON/OFF","func":"if(msg.payload === \"STOP\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"0\"\n}\nelse if(msg.payload === \"0\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":438.89990234375,"y":1094.0999755859375,"wires":[["1a59f784.66fa78"]]},{"id":"5ba53b10.030684","type":"mqtt in","z":"b75e6295.fa1ac","name":"","topic":"WittyCloud2/sensorStatus","qos":"2","broker":"aa7f3528.e08af8","x":476.30003356933594,"y":225.0666732788086,"wires":[["71c5457a.87ba1c","68b2137c.42810c","b16ade51.8fb89"]]},{"id":"8a56ea4b.6e10d8","type":"mqtt in","z":"b75e6295.fa1ac","name":"","topic":"WittyCloud2/light","qos":"2","broker":"aa7f3528.e08af8","x":446.30002212524414,"y":292.0666694641113,"wires":[["71c5457a.87ba1c","5e5e3fd8.2d6fe"]]},{"id":"71c5457a.87ba1c","type":"debug","z":"b75e6295.fa1ac","name":"","active":false,"console":"false","complete":"payload","x":1029.300136566162,"y":83.13336849212646,"wires":[]},{"id":"ef824ff0.5cec3","type":"mqtt out","z":"b75e6295.fa1ac","name":"","topic":"WittyCloud2/motionSensor","qos":"","retain":"","broker":"aa7f3528.e08af8","x":1277.3002853393555,"y":435.0003080368042,"wires":[]},{"id":"5e2e4c3f.c78f24","type":"ui_switch","z":"b75e6295.fa1ac","name":"","label":"Alarm on/off","group":"59c97ce2.81d774","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":979.300121307373,"y":434.46668243408203,"wires":[["ef824ff0.5cec3","80715fa8.af785"]]},{"id":"f6eef373.11b15","type":"mqtt in","z":"b75e6295.fa1ac","name":"","topic":"WittyCloud2/motionSensor","qos":"2","broker":"aa7f3528.e08af8","x":474.30003356933594,"y":158.6667194366455,"wires":[["71c5457a.87ba1c"]]},{"id":"1f191115.45ed5f","type":"e-mail","z":"b75e6295.fa1ac","server":"smtp.gmail.com","port":"465","secure":true,"name":"ukrduino@gmail.com","dname":"","x":997.3003120422363,"y":359.13337230682373,"wires":[]},{"id":"68b2137c.42810c","type":"function","z":"b75e6295.fa1ac","name":"Notify by email","func":"if(msg.payload === '4'){\n    msg.payload = \"Motion detected!!!\"\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":757.3001022338867,"y":360.000039100647,"wires":[["9a10b0e1.757ce","1f191115.45ed5f"]]},{"id":"9a10b0e1.757ce","type":"function","z":"b75e6295.fa1ac","name":"Disable sensor","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":763.3003005981445,"y":434.2000141143799,"wires":[["5e2e4c3f.c78f24"]]},{"id":"80715fa8.af785","type":"debug","z":"b75e6295.fa1ac","name":"","active":false,"console":"false","complete":"false","x":1186.3000526428223,"y":547.1333961486816,"wires":[]},{"id":"af1dde74.78e03","type":"inject","z":"f18a7d34.e498d","name":"Reboot","topic":"","payload":"reboot","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":145.30001831054688,"y":404.0666790008545,"wires":[["2ce587fb.b83428"]]},{"id":"2ce587fb.b83428","type":"exec","z":"f18a7d34.e498d","command":"reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":391.30003356933594,"y":408.1000289916992,"wires":[[],[],[]]},{"id":"ad89c454.800928","type":"file in","z":"17247d6.de10983","name":"restore from file","filename":"/root/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":345,"y":231.5,"wires":[["e4c2dce7.a3e4f"]]},{"id":"92ef7e1b.28a2d","type":"file","z":"17247d6.de10983","name":"backup to file","filename":"/root/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":942,"y":225.99998092651367,"wires":[]},{"id":"3b1823c3.28fb4c","type":"inject","z":"17247d6.de10983","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":144.99999237060547,"y":232.49999809265137,"wires":[["ad89c454.800928"]]},{"id":"e4c2dce7.a3e4f","type":"json","z":"17247d6.de10983","name":"","pretty":true,"x":538,"y":231.5,"wires":[["4aac59e8.b7d568"]]},{"id":"d66c08c8.07fc88","type":"debug","z":"17247d6.de10983","name":"","active":true,"console":"false","complete":"false","x":532.3000335693359,"y":85.13333892822266,"wires":[]},{"id":"5e48d09e.b64e6","type":"mqtt out","z":"17247d6.de10983","name":"Tempreture read Period","topic":"WittyCloud1/setReadTempPeriod","qos":"","retain":"","broker":"aa7f3528.e08af8","x":718.2999954223633,"y":1215.9999704360962,"wires":[]},{"id":"5e5e3fd8.2d6fe","type":"ui_text","z":"b75e6295.fa1ac","group":"59c97ce2.81d774","order":1,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":974.0094337463379,"y":289.0155601501465,"wires":[]},{"id":"a35f882a.2376a8","type":"ui_button","z":"f18a7d34.e498d","name":"","group":"819c36ca.9b3f18","order":2,"width":"3","height":"1","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":136.90936279296875,"y":484.83435821533203,"wires":[["2ce587fb.b83428"]]},{"id":"d30d114e.cd1ca","type":"ui_numeric","z":"17247d6.de10983","name":"","label":"Период опроса датчика (милисекунд)","group":"ce4318b2.1b8cd8","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":393.9093704223633,"y":1214.7372999191284,"wires":[["5e48d09e.b64e6","c0543c9e.3fb13"]]},{"id":"c0543c9e.3fb13","type":"debug","z":"17247d6.de10983","name":"","active":true,"console":"false","complete":"false","x":696.9093704223633,"y":1324.1468410491943,"wires":[]},{"id":"bf0ecf5a.1a9de","type":"mqtt out","z":"b75e6295.fa1ac","name":"","topic":"WittyCloud2/leds","qos":"","retain":"","broker":"aa7f3528.e08af8","x":721.0093994140625,"y":574.015625,"wires":[]},{"id":"5cc19932.514d18","type":"ui_switch","z":"b75e6295.fa1ac","name":"","label":"Вкл/выкл индикацию","group":"1e7274f3.a3276b","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":453.0092353820801,"y":573.4819993972778,"wires":[["bf0ecf5a.1a9de"]]},{"id":"3dc0953a.9c9b2a","type":"mqtt out","z":"b75e6295.fa1ac","name":"Tempreture read Period","topic":"WittyCloud2/setSensorStatusPeriod","qos":"","retain":"","broker":"aa7f3528.e08af8","x":1204.3906478881836,"y":698.0155963897705,"wires":[]},{"id":"52aa1d21.4ef334","type":"ui_numeric","z":"b75e6295.fa1ac","name":"","label":"Период обновления статуса (милисекунд)","group":"1e7274f3.a3276b","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":744.0000305175781,"y":699.7528762817383,"wires":[["3dc0953a.9c9b2a","189ab1f7.3a640e"]]},{"id":"189ab1f7.3a640e","type":"debug","z":"b75e6295.fa1ac","name":"","active":false,"console":"false","complete":"false","x":1187.9999694824219,"y":817.1623916625977,"wires":[]},{"id":"b16ade51.8fb89","type":"ui_chart","z":"b75e6295.fa1ac","name":"","group":"59c97ce2.81d774","order":2,"width":0,"height":0,"label":"Активность на кухне","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":995.9093475341797,"y":221.5562515258789,"wires":[[],[]]},{"id":"fa6e04be.625be8","type":"inject","z":"64f3384c.3b3028","name":"Get weather","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"x":576.0094146728516,"y":310.0156078338623,"wires":[["ca17634f.99105"]]},{"id":"6d00f5d9.faebac","type":"debug","z":"64f3384c.3b3028","name":"","active":true,"console":"false","complete":"payload","x":1173.009292602539,"y":272.01562118530273,"wires":[]},{"id":"ca17634f.99105","type":"openweathermap","z":"64f3384c.3b3028","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Kherson","country":"Ukraine","language":"ru","x":804.0093994140625,"y":275.015625,"wires":[["87ec9379.44ae2","6d00f5d9.faebac","b495a676.35a338"]]},{"id":"3c52c7ba.864718","type":"comment","z":"64f3384c.3b3028","name":"85caa036010dce285793ea9a1a494fea","info":"https://openweathermap.org/weather-conditions","x":702.909366607666,"y":389.65616035461426,"wires":[]},{"id":"f26502f7.f3e7b","type":"inject","z":"17247d6.de10983","name":"","topic":"","payload":"300000","payloadType":"num","repeat":"","crontab":"","once":true,"x":151.91559600830078,"y":1215.3811902999878,"wires":[["d30d114e.cd1ca"]]},{"id":"11ac2bbf.d04c34","type":"inject","z":"b75e6295.fa1ac","name":"","topic":"","payload":"300000","payloadType":"str","repeat":"","crontab":"","once":true,"x":452.90936279296875,"y":699.3842239379883,"wires":[["52aa1d21.4ef334"]]},{"id":"b813e50f.6103e8","type":"debug","z":"24a5c07c.685f6","name":"","active":false,"console":"false","complete":"false","x":922.9124870300293,"y":328.5467748641968,"wires":[]},{"id":"4ddb364a.6c8b18","type":"mqtt in","z":"24a5c07c.685f6","name":"","topic":"ESP32_1/status","qos":"2","broker":"aa7f3528.e08af8","x":299.9093475341797,"y":327.2843780517578,"wires":[["b813e50f.6103e8","b507480e.374398"]]},{"id":"9231c3fb.6206f","type":"mqtt in","z":"24a5c07c.685f6","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"aa7f3528.e08af8","x":332.91249084472656,"y":624.287483215332,"wires":[["858aa50f.7dd2c8","b813e50f.6103e8"]]},{"id":"9ffafa63.4ab048","type":"mqtt in","z":"24a5c07c.685f6","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"aa7f3528.e08af8","x":319.9093360900879,"y":707.2842922210693,"wires":[["8fc58aa0.581e78","b813e50f.6103e8"]]},{"id":"858aa50f.7dd2c8","type":"ui_gauge","z":"24a5c07c.685f6","name":"","group":"47b97ffb.dccb6","order":2,"width":"3","height":"3","gtype":"gage","title":"В кухне","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":707.9124603271484,"y":621.7843704223633,"wires":[]},{"id":"8fc58aa0.581e78","type":"ui_gauge","z":"24a5c07c.685f6","name":"","group":"a26f2deb.4e84b","order":4,"width":"3","height":"3","gtype":"gage","title":"в Кухне","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":709.9093627929688,"y":707.7874755859375,"wires":[]},{"id":"87ec9379.44ae2","type":"function","z":"64f3384c.3b3028","name":"Get icon id","func":"msg.payload = msg.payload.icon.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":979.9155426025391,"y":414.7593193054199,"wires":[["6d00f5d9.faebac","1e373f79.e7ef21"]]},{"id":"1e373f79.e7ef21","type":"mqtt out","z":"64f3384c.3b3028","name":"","topic":"Wheather/showIcon","qos":"","retain":"","broker":"aa7f3528.e08af8","x":1236.9092864990234,"y":415.4999303817749,"wires":[]},{"id":"34dd8b52.2119b4","type":"ui_button","z":"64f3384c.3b3028","name":"","group":"6d94163f.0f3d18","order":0,"width":0,"height":0,"passthru":true,"label":"Get weather","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":581.9999923706055,"y":221.99999856948853,"wires":[["ca17634f.99105"]]},{"id":"de64a3ae.a3e19","type":"mqtt out","z":"24a5c07c.685f6","name":"","topic":"Weather/update","qos":"","retain":"","broker":"aa7f3528.e08af8","x":1102.9124908447266,"y":460.49685287475586,"wires":[]},{"id":"b507480e.374398","type":"function","z":"24a5c07c.685f6","name":"Trigger weather update","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":861.9093475341797,"y":459.75623321533203,"wires":[["de64a3ae.a3e19","b813e50f.6103e8"]]},{"id":"7b5ff741.a23768","type":"mqtt in","z":"64f3384c.3b3028","name":"","topic":"Weather/update","qos":"2","broker":"aa7f3528.e08af8","x":310.91246795654297,"y":219.28746795654297,"wires":[["34dd8b52.2119b4"]]},{"id":"c350cff9.8f321","type":"opi_in","z":"f18a7d34.e498d","name":"Pin 26 - PA10","opi":true,"enableInterrupt":"","edge":"","debounce":"","select":"OPZ","pin":"10","x":307.9124984741211,"y":654.8749256134033,"wires":[["e421eed8.0c7ff","3db3342a.f0909c"]]},{"id":"e421eed8.0c7ff","type":"debug","z":"f18a7d34.e498d","name":"","active":false,"console":"false","complete":"false","x":566.9093780517578,"y":654.5436763763428,"wires":[]},{"id":"8bed8bad.626818","type":"inject","z":"f18a7d34.e498d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":false,"x":71.90937805175781,"y":655.3843460083008,"wires":[["c350cff9.8f321"]]},{"id":"e8db437f.1787f","type":"exec","z":"f18a7d34.e498d","command":"shutdown -h 0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":717.9156036376953,"y":759.0342960357666,"wires":[[],[],[]]},{"id":"b495a676.35a338","type":"function","z":"64f3384c.3b3028","name":"Get icon id","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":977.0093994140625,"y":490.015625,"wires":[["45beb78.ec03548","6d00f5d9.faebac"]]},{"id":"45beb78.ec03548","type":"mqtt out","z":"64f3384c.3b3028","name":"","topic":"Wheather/showWind","qos":"","retain":"","broker":"aa7f3528.e08af8","x":1239.0093994140625,"y":489.015625,"wires":[]},{"id":"3db3342a.f0909c","type":"function","z":"f18a7d34.e498d","name":"Trigger ","func":"if (msg.payload === 0){\n    return msg;\n}","outputs":1,"noerr":0,"x":484.9093933105469,"y":736.7623958587646,"wires":[["e8db437f.1787f"]]},{"id":"87e976b3.ed8768","type":"debug","z":"6110b0a4.dfb52","name":"","active":false,"console":"false","complete":"false","x":947.0031394958496,"y":255.01561641693115,"wires":[]},{"id":"99917a2c.d31e28","type":"mqtt in","z":"6110b0a4.dfb52","name":"","topic":"WemosD1Mini_2/status","qos":"2","broker":"aa7f3528.e08af8","x":334.99998474121094,"y":260.7532172203064,"wires":[["87e976b3.ed8768"]]},{"id":"7fc0fea8.32e03","type":"mqtt in","z":"6110b0a4.dfb52","name":"","topic":"WemosD1Mini_2/temp","qos":"2","broker":"aa7f3528.e08af8","x":337.0031433105469,"y":550.7563247680664,"wires":[["c0ba69b4.dad888","87e976b3.ed8768"]]},{"id":"684fcd04.f7ce64","type":"mqtt in","z":"6110b0a4.dfb52","name":"","topic":"WemosD1Mini_2/humidity","qos":"2","broker":"aa7f3528.e08af8","x":332.9999465942383,"y":649.7531089782715,"wires":[["b52b444d.01daa8","87e976b3.ed8768"]]},{"id":"c0ba69b4.dad888","type":"ui_gauge","z":"6110b0a4.dfb52","name":"","group":"47b97ffb.dccb6","order":2,"width":"3","height":"3","gtype":"gage","title":"У Никиты","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":732.0031127929688,"y":548.2532119750977,"wires":[]},{"id":"b52b444d.01daa8","type":"ui_gauge","z":"6110b0a4.dfb52","name":"","group":"a26f2deb.4e84b","order":4,"width":"3","height":"3","gtype":"gage","title":"у Никиты","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":722.9999580383301,"y":649.2562999725342,"wires":[]},{"id":"db06a018.c1731","type":"mqtt in","z":"6110b0a4.dfb52","name":"","topic":"WemosD1Mini_2/pressure","qos":"2","broker":"aa7f3528.e08af8","x":335.0093536376953,"y":743.0156326293945,"wires":[["87e976b3.ed8768","fdad3f36.1529b"]]},{"id":"3e91e1ac.d502ce","type":"ui_chart","z":"6110b0a4.dfb52","name":"","group":"62ea3d1f.b9fac4","order":0,"width":0,"height":0,"label":"hPa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"1020","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d323b0","#008000","#2ca02c","#98df8a","#d62728","#0000ff","#9467bd","#c5b0d5"],"useOldStyle":false,"x":892.9125366210938,"y":808.9592895507812,"wires":[["42ef6286.30fc7c"],[]]},{"id":"9e179076.966cf","type":"inject","z":"6110b0a4.dfb52","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":296.5,"y":810,"wires":[["c341d9c2.4bd588"]]},{"id":"c341d9c2.4bd588","type":"file in","z":"6110b0a4.dfb52","name":"restore from file","filename":"/root/pressure_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":497.50000762939453,"y":810.0000019073486,"wires":[["228c6400.b7d0bc"]]},{"id":"228c6400.b7d0bc","type":"json","z":"6110b0a4.dfb52","name":"","pretty":true,"x":690.5000076293945,"y":810.0000019073486,"wires":[["3e91e1ac.d502ce","87e976b3.ed8768"]]},{"id":"42ef6286.30fc7c","type":"file","z":"6110b0a4.dfb52","name":"backup to file","filename":"/root/pressure_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1082.5001602172852,"y":802.5000114440918,"wires":[]},{"id":"fdad3f36.1529b","type":"function","z":"6110b0a4.dfb52","name":"Max/min","func":"var norm = {};\n\nnorm.payload = 1013;\nnorm.topic = \"norm\"\nreturn [norm, msg];","outputs":"2","noerr":0,"x":675.5,"y":744.5,"wires":[["3e91e1ac.d502ce"],["3e91e1ac.d502ce"]]}]