flows_raspberrypi.json
[{"id":"c53e18e8.6deec8","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"6e40f9a1.99e438","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"e943c030.60141","type":"tab","label":"Raspberry pi","disabled":false,"info":""},{"id":"94fe4d3b.bfbfe","type":"tab","label":"E-ink photo frame","disabled":false,"info":""},{"id":"ec2ea640.fd25e8","type":"tab","label":"Nextion HMI","disabled":false,"info":""},{"id":"3d8b205e.17f5a","type":"tab","label":"ESP8266","disabled":true,"info":""},{"id":"f124cd36.1724a","type":"tab","label":"Battery","disabled":true,"info":""},{"id":"b74ff0c.5c0c61","type":"tab","label":"ESP32 OTA","disabled":true,"info":""},{"id":"bd9d52c9.623ba","type":"tab","label":"ESP32_weatherStation","disabled":false,"info":""},{"id":"2b63a9be.04a1f6","type":"tab","label":"Office","disabled":false,"info":""},{"id":"afb87cdc.16d18","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0805ed9.10d2a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"131a45ea.c2cdca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab618ed5.3282e","type":"ui_group","z":"","name":"Температура","tab":"2117e69e.a49d1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2117e69e.a49d1a","type":"ui_tab","z":"","name":"Климат","icon":"invert_colors","order":2},{"id":"9e60afd4.c92a6","type":"ui_tab","z":"","name":"Свет","icon":"dashboard","order":1},{"id":"8549576f.ec0758","type":"ui_group","z":"","name":"Никитына комната","tab":"9e60afd4.c92a6","order":2,"disp":true,"width":"6"},{"id":"96c1a38f.95213","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":3},{"id":"c1ba9783.6bb348","type":"ui_group","z":"","name":"Raspberry Pi","tab":"96c1a38f.95213","order":1,"disp":true,"width":"6","collapse":false},{"id":"e2259787.be1398","type":"ui_group","z":"","name":"Термометр на улице","tab":"96c1a38f.95213","order":2,"disp":true,"width":"6"},{"id":"4a9ff3dd.51582c","type":"ui_group","z":"","name":"Влажность","tab":"2117e69e.a49d1a","order":2,"disp":true,"width":"6","collapse":false},{"id":"a91bf7eb.001d58","type":"ui_group","z":"","name":"Давление за 3 дня","tab":"2117e69e.a49d1a","order":3,"disp":true,"width":"6","collapse":false},{"id":"c7f7b8d9.0b7918","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4dab23d9.812fbc","type":"ui_group","z":"","name":"Weather","tab":"96c1a38f.95213","order":3,"disp":true,"width":"6"},{"id":"9794bce5.feb15","type":"websocket-listener","z":"","path":"/ws/timer","wholemsg":"false"},{"id":"ae58c6ad.816b18","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"6dbb1a6.0e558e4","type":"ui_group","z":"","name":"Батарея","tab":"ba67aef0.adc26","order":4,"disp":true,"width":"6","collapse":false},{"id":"ba67aef0.adc26","type":"ui_tab","z":"","name":"Батарея","icon":"battery_charging_full","order":5},{"id":"93e242d2.8a552","type":"ui_group","z":"","name":"Сенсоры","tab":"4c93c6af.a12948","disp":true,"width":"6","collapse":false},{"id":"4c93c6af.a12948","type":"ui_tab","z":"","name":"Офис","icon":"store","order":4},{"id":"346be8ff.d89558","type":"ui_tab","z":"","name":"ESP32 board","icon":"developer_board","order":6},{"id":"bc30dfd8.23326","type":"ui_group","z":"","name":"Controls","tab":"346be8ff.d89558","disp":true,"width":"6","collapse":false},{"id":"fb575cf8.32657","type":"exec","z":"e943c030.60141","command":"/opt/vc/bin/vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["87f2e83e.80e468"],[],[]]},{"id":"e553617f.ddd9f","type":"inject","z":"e943c030.60141","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["fb575cf8.32657"]]},{"id":"195e13cf.1076ac","type":"ui_switch","z":"c53e18e8.6deec8","name":"Nik's lamp","label":"Лампа над диваном","group":"8549576f.ec0758","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WittyCloud1/relay","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1190,"y":820,"wires":[["6e02c79b.933868","b7d6bfce.63de1"]]},{"id":"42852006.3ebb4","type":"ui_gauge","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":1,"width":"3","height":"3","gtype":"gage","title":"На улице","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":589.1000366210938,"y":151.60006713867188,"wires":[]},{"id":"f0fbb45.3e35748","type":"mqtt in","z":"c53e18e8.6deec8","name":"","topic":"WittyCloud/temp","qos":"2","broker":"131a45ea.c2cdca","x":145.09999084472656,"y":130.1999969482422,"wires":[["42852006.3ebb4","5535580b.f3ccd8","1e6be9c5.7e3d96"]]},{"id":"1f9897b8.cc6ea8","type":"ui_text","z":"e943c030.60141","group":"c1ba9783.6bb348","order":1,"width":0,"height":0,"name":"","label":"Температура процессора","format":"{{msg.payload}} °C","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"fc8a7350.3e6e9","type":"mqtt in","z":"c53e18e8.6deec8","name":"WittyCloud/light","topic":"WittyCloud/light","qos":"2","broker":"131a45ea.c2cdca","x":146.61338424682617,"y":417.5154514312744,"wires":[["46b5bcda.a26814","8bb032d7.6e45e"]]},{"id":"46b5bcda.a26814","type":"ui_text","z":"c53e18e8.6deec8","group":"8549576f.ec0758","order":2,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":558.6133270263672,"y":416.91045093536377,"wires":[]},{"id":"5535580b.f3ccd8","type":"ui_chart","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":5,"width":"0","height":"0","label":"На улице за 7 дней","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":718.7799072265625,"y":233.3599853515625,"wires":[["4f2b329b.b7a69c"],[]]},{"id":"3e70e262.daa5fe","type":"stoptimer","z":"c53e18e8.6deec8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":882.8333892822266,"y":620.7554540634155,"wires":[["195e13cf.1076ac"],[]]},{"id":"1ac4c29b.63244d","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":4,"width":0,"height":0,"passthru":true,"label":"15 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":610.8332901000977,"y":619.9554510116577,"wires":[["32917394.f2729c","3e70e262.daa5fe"]]},{"id":"b7d6bfce.63de1","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":1404.8333358764648,"y":607.5555143356323,"wires":[]},{"id":"6e02c79b.933868","type":"mqtt out","z":"c53e18e8.6deec8","name":"Light ON/OFF","topic":"","qos":"","retain":"","broker":"131a45ea.c2cdca","x":1408.4335556030273,"y":819.5557241439819,"wires":[]},{"id":"4c50b0cd.943a","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":6,"width":0,"height":0,"passthru":true,"label":"1 Hour","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":609.2332992553711,"y":743.9554834365845,"wires":[["30d28f5d.d851a","32917394.f2729c"]]},{"id":"66ea25bb.3a759c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":5,"width":0,"height":0,"passthru":true,"label":"30 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":611.2332954406738,"y":683.9554796218872,"wires":[["32917394.f2729c","928717e7.98fe18"]]},{"id":"c8dfdf6.f573a2","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":7,"width":0,"height":0,"passthru":true,"label":"Stop","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":613.2333068847656,"y":817.9555101394653,"wires":[["3e70e262.daa5fe","928717e7.98fe18","30d28f5d.d851a","32917394.f2729c","a1b98027.8b6b6"]]},{"id":"928717e7.98fe18","type":"stoptimer","z":"c53e18e8.6deec8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":883.2332992553711,"y":680.7554559707642,"wires":[["195e13cf.1076ac"],[]]},{"id":"30d28f5d.d851a","type":"stoptimer","z":"c53e18e8.6deec8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":875.2332992553711,"y":736.7554578781128,"wires":[["195e13cf.1076ac"],[]]},{"id":"32917394.f2729c","type":"function","z":"c53e18e8.6deec8","name":"Light ON/OFF","func":"if(msg.payload === \"STOP\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"0\"\n}\nelse if(msg.payload === \"0\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":912.7332916259766,"y":817.6554460525513,"wires":[["195e13cf.1076ac"]]},{"id":"3afc7fdf.c52fa","type":"exec","z":"e943c030.60141","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":360,"y":400,"wires":[[],[],[]]},{"id":"25c4debd.96ff82","type":"file in","z":"c53e18e8.6deec8","name":"restore from file","filename":"/home/pi/.node-red/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":340,"y":220,"wires":[["18b4d6df.1749d9"]]},{"id":"4f2b329b.b7a69c","type":"file","z":"c53e18e8.6deec8","name":"backup to file","filename":"/home/pi/.node-red/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":942,"y":225.99998092651367,"wires":[]},{"id":"d68e7561.692168","type":"inject","z":"c53e18e8.6deec8","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":220,"wires":[["25c4debd.96ff82"]]},{"id":"18b4d6df.1749d9","type":"json","z":"c53e18e8.6deec8","name":"","pretty":true,"x":538,"y":231.5,"wires":[["5535580b.f3ccd8"]]},{"id":"1e6be9c5.7e3d96","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":532.3000335693359,"y":85.13333892822266,"wires":[]},{"id":"d87eb1cc.93266","type":"mqtt out","z":"c53e18e8.6deec8","name":"Tempreture read Period","topic":"WittyCloud1/setReadTempPeriod","qos":"","retain":"","broker":"131a45ea.c2cdca","x":950,"y":1220,"wires":[]},{"id":"9ba64b3f.3d8018","type":"ui_button","z":"e943c030.60141","name":"","group":"c1ba9783.6bb348","order":2,"width":"3","height":"1","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["3afc7fdf.c52fa"]]},{"id":"9cd036be.fd05b8","type":"ui_numeric","z":"c53e18e8.6deec8","name":"","label":"Период опроса датчика (милисекунд)","group":"e2259787.be1398","order":1,"width":"6","height":"3","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":625.609375,"y":1218.7373294830322,"wires":[["d87eb1cc.93266","daba45c6.3662d8"]]},{"id":"daba45c6.3662d8","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":928.609375,"y":1328.1468706130981,"wires":[]},{"id":"80387d06.9ae1d","type":"inject","z":"c53e18e8.6deec8","name":"","topic":"","payload":"300000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":383.6156005859375,"y":1219.3812198638916,"wires":[["9cd036be.fd05b8"]]},{"id":"8b6387eb.96bb68","type":"debug","z":"94fe4d3b.bfbfe","name":"","active":false,"console":"false","complete":"false","x":922.9124870300293,"y":328.5467748641968,"wires":[]},{"id":"58c73a82.1702f4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"ESP32_1/status","qos":"2","broker":"131a45ea.c2cdca","x":299.9093475341797,"y":327.2843780517578,"wires":[["8b6387eb.96bb68","ab3e84a9.688c98"]]},{"id":"7a3067c.3ee2998","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"131a45ea.c2cdca","x":332.91249084472656,"y":624.287483215332,"wires":[["e8ca2572.43be58","8b6387eb.96bb68"]]},{"id":"33079f0f.ee8c4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"131a45ea.c2cdca","x":319.9093360900879,"y":707.2842922210693,"wires":[["8d0ba26d.4b80f","8b6387eb.96bb68"]]},{"id":"e8ca2572.43be58","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"В кухне","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":707.9124603271484,"y":621.7843704223633,"wires":[]},{"id":"8d0ba26d.4b80f","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"в Кухне","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":709.9093627929688,"y":707.7874755859375,"wires":[]},{"id":"8542e443.7fe468","type":"mqtt out","z":"94fe4d3b.bfbfe","name":"","topic":"Weather/update","qos":"","retain":"","broker":"131a45ea.c2cdca","x":940,"y":420,"wires":[]},{"id":"ab3e84a9.688c98","type":"function","z":"94fe4d3b.bfbfe","name":"Trigger weather update","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["8542e443.7fe468","8b6387eb.96bb68"]]},{"id":"a5801fa9.edb63","type":"debug","z":"e943c030.60141","name":"","active":true,"console":"false","complete":"false","x":1110,"y":720,"wires":[]},{"id":"998fa7e8.2a9368","type":"exec","z":"e943c030.60141","command":"sudo /sbin/shutdown -h 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":940,"wires":[["a5801fa9.edb63"],["a5801fa9.edb63"],["a5801fa9.edb63"]]},{"id":"a6ea2f67.c0e","type":"function","z":"e943c030.60141","name":"Trigger on 1","func":"if (msg.payload === 1){\n    return msg;\n}","outputs":1,"noerr":0,"x":430,"y":720,"wires":[["aeae2269.501de"]]},{"id":"2feb972b.7c00c8","type":"inject","z":"6e40f9a1.99e438","name":"Get weather","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":"","x":460,"y":360,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"ad1f22e.d1108e","type":"debug","z":"6e40f9a1.99e438","name":"","active":false,"console":"false","complete":"payload","x":1069.999855041504,"y":322.00002098083496,"wires":[]},{"id":"2b266a9c.d5ac66","type":"openweathermap","z":"6e40f9a1.99e438","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Kherson","country":"Ukraine","language":"ru","x":687.9999847412109,"y":325.0000171661377,"wires":[["291d3c05.51f5e4","ad1f22e.d1108e","453b5cac.002a94"]]},{"id":"4b109e43.e1e7b","type":"comment","z":"6e40f9a1.99e438","name":"85caa036010dce285793ea9a1a494fea","info":"https://openweathermap.org/weather-conditions","x":586.8999519348145,"y":439.64055252075195,"wires":[]},{"id":"291d3c05.51f5e4","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.icon.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":863.9061279296875,"y":464.7437114715576,"wires":[["ad1f22e.d1108e","413fa13f.5f82f"]]},{"id":"413fa13f.5f82f","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showIcon","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1120.8998718261719,"y":465.4843225479126,"wires":[]},{"id":"1b6eb7fd.d508b8","type":"ui_button","z":"6e40f9a1.99e438","name":"","group":"4dab23d9.812fbc","order":0,"width":0,"height":0,"passthru":true,"label":"Get weather","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":407.99060821533203,"y":268.98439502716064,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"e8383199.fedcc","type":"mqtt in","z":"6e40f9a1.99e438","name":"","topic":"Weather/update","qos":"2","broker":"c7f7b8d9.0b7918","x":194.9030532836914,"y":269.27186012268066,"wires":[["1b6eb7fd.d508b8"]]},{"id":"453b5cac.002a94","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":860.9999847412109,"y":540.0000171661377,"wires":[["3e3e3938.bbde56","ad1f22e.d1108e"]]},{"id":"3e3e3938.bbde56","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showWind","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1122.999984741211,"y":539.0000171661377,"wires":[]},{"id":"67d85f1f.ff777","type":"exec","z":"6e40f9a1.99e438","command":"date '+%A %d %b'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630.9905700683594,"y":205.98439407348633,"wires":[["cbb69e6d.af9e5","ad1f22e.d1108e"],[],[]]},{"id":"3082e4a.bda4f1c","type":"inject","z":"6e40f9a1.99e438","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":430,"y":200,"wires":[["67d85f1f.ff777"]]},{"id":"cbb69e6d.af9e5","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Date","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":903.4507293701172,"y":193.71745109558105,"wires":[]},{"id":"742184f3.96275c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":3,"width":0,"height":0,"passthru":true,"label":"5 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":610,"y":560,"wires":[["32917394.f2729c","a1b98027.8b6b6"]]},{"id":"a1b98027.8b6b6","type":"stoptimer","z":"c53e18e8.6deec8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":880,"y":560,"wires":[["195e13cf.1076ac"],[]]},{"id":"aeae2269.501de","type":"delay","z":"e943c030.60141","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":840,"wires":[["a5801fa9.edb63","998fa7e8.2a9368"]]},{"id":"7ccf7b2b.d8aaf4","type":"function","z":"e943c030.60141","name":"Split BME280 message","func":"var temp = { payload:msg.payload.temperature - 3};\nvar press = { payload:msg.payload.pressure.toFixed(1)};\nvar hum = {payload:msg.payload.humidity.toFixed(1) + 5};\nreturn [temp, press, hum];\n","outputs":3,"noerr":0,"x":650,"y":1180,"wires":[["af4ecc2.8a1633","eb87330d.9113b","ab770557.e788d8"],["de7e3644.4e7d08","eb12715.49ae89","ab770557.e788d8"],["3905d845.b2e688","892ef54e.3f1cc8","ab770557.e788d8"]],"outputLabels":["temperature","pressure","humidity"]},{"id":"3905d845.b2e688","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/humidity","qos":"","retain":"","broker":"afb87cdc.16d18","x":950,"y":1220,"wires":[]},{"id":"de7e3644.4e7d08","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/pressure","qos":"","retain":"","broker":"afb87cdc.16d18","x":950,"y":1140,"wires":[]},{"id":"af4ecc2.8a1633","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/temp","qos":"","retain":"","broker":"afb87cdc.16d18","x":940,"y":1060,"wires":[]},{"id":"eb87330d.9113b","type":"ui_gauge","z":"e943c030.60141","name":"","group":"ab618ed5.3282e","order":4,"width":"3","height":"3","gtype":"gage","title":"У Никиты","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":1014.9999694824219,"y":1317.4968872070312,"wires":[]},{"id":"892ef54e.3f1cc8","type":"ui_gauge","z":"e943c030.60141","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"у Никиты","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":1020,"y":1400,"wires":[]},{"id":"fea69441.23a278","type":"ui_chart","z":"e943c030.60141","name":"","group":"a91bf7eb.001d58","order":0,"width":0,"height":0,"label":"hPa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1030","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d323b0","#008000","#2ca02c","#98df8a","#d62728","#0000ff","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1175.9093933105469,"y":1578.2029647827148,"wires":[["a76228f7.0f1698"],[]]},{"id":"f2e2e776.e2ec78","type":"inject","z":"e943c030.60141","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":579.4968566894531,"y":1579.2436752319336,"wires":[["dd4d67ed.ec8b98"]]},{"id":"dd4d67ed.ec8b98","type":"file in","z":"e943c030.60141","name":"restore from file","filename":"/home/pi/.node-red/pressure_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":780.4968643188477,"y":1579.2436771392822,"wires":[["fd4139e1.7cafe8"]]},{"id":"fd4139e1.7cafe8","type":"json","z":"e943c030.60141","name":"","pretty":true,"x":973.4968643188477,"y":1579.2436771392822,"wires":[["fea69441.23a278"]]},{"id":"a76228f7.0f1698","type":"file","z":"e943c030.60141","name":"backup to file","filename":"/home/pi/.node-red/pressure_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1365.4970169067383,"y":1571.7436866760254,"wires":[]},{"id":"eb12715.49ae89","type":"function","z":"e943c030.60141","name":"Max/min","func":"var norm = {};\n\nnorm.payload = 1013;\nnorm.topic = \"norm\"\nreturn [norm, msg];","outputs":"2","noerr":0,"x":958.4968566894531,"y":1513.7436752319336,"wires":[["fea69441.23a278"],["fea69441.23a278"]]},{"id":"d0001c32.cc62","type":"exec","z":"e943c030.60141","command":"ifconfig wlan0 | grep inet | awk '{ print $2 }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get IP","x":810,"y":460,"wires":[["e7bf0325.ed55b"],[],[]]},{"id":"c2b4bb89.709d88","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":460,"wires":[["d0001c32.cc62"]]},{"id":"8c4d48aa.887b98","type":"debug","z":"e943c030.60141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":460,"wires":[]},{"id":"e7bf0325.ed55b","type":"function","z":"e943c030.60141","name":"Add terminator","func":"var ip = msg.payload.split(\"\\n\")[0];\nmsg.payload = ip\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["8c4d48aa.887b98"]]},{"id":"ab770557.e788d8","type":"debug","z":"e943c030.60141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1180,"wires":[]},{"id":"d9b1341b.ac0708","type":"websocket in","z":"c53e18e8.6deec8","name":"","server":"9794bce5.feb15","client":"","x":160,"y":560,"wires":[["1c606df2.eff262","775f6ba8.de2de4","d983c3f.614924","99ba16f0.4f66e8","424bbe9a.c228b"]]},{"id":"1bb7abac.f47ce4","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":550,"y":480,"wires":[]},{"id":"1c606df2.eff262","type":"function","z":"c53e18e8.6deec8","name":"5 min","func":"if(msg.payload == \"5\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["742184f3.96275c","1bb7abac.f47ce4"]]},{"id":"775f6ba8.de2de4","type":"function","z":"c53e18e8.6deec8","name":"15 min","func":"if(msg.payload == \"15\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["1ac4c29b.63244d"]]},{"id":"d983c3f.614924","type":"function","z":"c53e18e8.6deec8","name":"30 min","func":"if(msg.payload == \"30\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["66ea25bb.3a759c"]]},{"id":"99ba16f0.4f66e8","type":"function","z":"c53e18e8.6deec8","name":"60 min","func":"if(msg.payload == \"60\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["4c50b0cd.943a"]]},{"id":"424bbe9a.c228b","type":"function","z":"c53e18e8.6deec8","name":"stop","func":"if(msg.payload == \"stop\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["c8dfdf6.f573a2"]]},{"id":"8bb032d7.6e45e","type":"websocket out","z":"c53e18e8.6deec8","name":"","server":"9794bce5.feb15","client":"","x":560,"y":360,"wires":[]},{"id":"87e291c4.4b0a7","type":"http response","z":"c53e18e8.6deec8","name":"","statusCode":"","headers":{},"x":550,"y":980,"wires":[]},{"id":"8f34cb42.dbb438","type":"http in","z":"c53e18e8.6deec8","name":"","url":"/timer","method":"get","upload":false,"swaggerDoc":"","x":171,"y":980,"wires":[["2f27326e.eddd7e"]]},{"id":"2f27326e.eddd7e","type":"template","z":"c53e18e8.6deec8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n<head>\n    <title>Nikita's lamp</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/timer\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"timer\", \"ws/timer\");\n\n        function wsConnect() {\n            console.log(\"connect\", wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function (msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p> Light level: \" + data + \"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('light_level').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function () {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function () {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect, 3000);\n            }\n        }\n\n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    <style type=\"text/css\" media=\"screen\">\n        .bt {\n            background: #333;\n            color: #fdfdfd;\n            height: 150px;\n            display: block;\n            margin-left: auto;\n            margin-right: auto;\n            margin-top: 50px;\n            margin-right: auto;\n            width: 40%;\n            border-radius: 15px;\n            border: 0;\n            font-size: 40px;\n            text-align: center;\n        }\n\n        .main {\n            text-align: center;\n            font-size: 40px;\n            text-align: center;\n        }\n    </style>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n    <font face=\"Arial\">\n        <div class=\"main\">\n            <h1>Lamp timer</h1>\n            <div id=\"status\">unknown</div>\n            <div id=\"light_level\"></div>\n            <button type=\"button\" onclick='doit(\"5\");' class=\"bt\">5 minutes</button>\n            <button type=\"button\" onclick='doit(\"15\");' class=\"bt\">15 minutes</button>\n            <button type=\"button\" onclick='doit(\"30\");' class=\"bt\">30 minutes</button>\n            <button type=\"button\" onclick='doit(\"60\");' class=\"bt\">1 Hour</button>\n            <button type=\"button\" onclick='doit(\"stop\");' class=\"bt\">stop</button>\n        </div>\n    </font>\n</body>\n</html>\n","x":378,"y":980,"wires":[["87e291c4.4b0a7"]]},{"id":"65ad21de.d3dd8","type":"rpi-gpio in","z":"e943c030.60141","name":"","pin":"16","intype":"down","debounce":"25","read":false,"x":290,"y":620,"wires":[["a6ea2f67.c0e"]]},{"id":"87f2e83e.80e468","type":"function","z":"e943c030.60141","name":"Format string","func":"var temp = msg.payload.split(\"=\")[1].split(\"'\")[0];\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["1f9897b8.cc6ea8","8c4d48aa.887b98"]]},{"id":"6a01a05f.13f26","type":"exec","z":"e943c030.60141","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":260,"wires":[["906d2038.906c1"],[],[]]},{"id":"9aa0104c.d8008","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["6a01a05f.13f26"]]},{"id":"906d2038.906c1","type":"ui_text","z":"e943c030.60141","group":"c1ba9783.6bb348","order":0,"width":"6","height":"3","name":"","label":"Up time","format":"{{msg.payload}}","layout":"col-center","x":540,"y":240,"wires":[]},{"id":"2e8b5d7f.0a3a02","type":"bme280rpi","z":"e943c030.60141","name":"","bus":"1","address":"0x76","interval":"60000","x":160,"y":1180,"wires":[["8ec6c8b6.a88d78"]]},{"id":"8ec6c8b6.a88d78","type":"json","z":"e943c030.60141","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":1180,"wires":[["7ccf7b2b.d8aaf4"]]},{"id":"814666b8.8323d8","type":"serial out","z":"ec2ea640.fd25e8","name":"Serial","serial":"ae58c6ad.816b18","x":1790,"y":420,"wires":[]},{"id":"8f540952.b0dae8","type":"function","z":"ec2ea640.fd25e8","name":"Buffer for Nextion","func":"var str = msg.payload;\nvar buf = [];\n\nfor (var i=0, l = str.length; i < l; i++) {\n    var ascii = str.charCodeAt(i);\n    buf.push(ascii);\n}\nbuf.push(255);\nbuf.push(255);\nbuf.push(255);\n\nmsg.payload = new Buffer(buf);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":420,"wires":[["814666b8.8323d8"]]},{"id":"91afd8ab.c7d328","type":"inject","z":"ec2ea640.fd25e8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"onceDelay":"","x":730,"y":420,"wires":[["9568ab62.045f88"]]},{"id":"b025cf62.0a657","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"var text = msg.payload.split(',')[0];\nmsg.payload = \"t0.txt=\\\"\" + text + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1143,"y":421,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"691f7e60.b9305","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"var temp = Number(msg.payload).toFixed(1);\nmsg.payload = \"t1.txt=\\\"\" + temp + \" C\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":482.99999618530273,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"23ea45b8.e5814a","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"msg.payload = \"t2.txt=\\\"\" + msg.payload + \" %\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":545.9999961853027,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"af94cd47.ef574","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"msg.payload = \"t3.txt=\\\"\" + msg.payload + \" hPa\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":610.9999961853027,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"9568ab62.045f88","type":"exec","z":"ec2ea640.fd25e8","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":903.0999946594238,"y":421.9000120162964,"wires":[["b025cf62.0a657"],[],[]]},{"id":"8fe7bc14.7ba2f","type":"mqtt in","z":"ec2ea640.fd25e8","name":"","topic":"BME280/temp","qos":"2","broker":"afb87cdc.16d18","x":870,"y":480,"wires":[["691f7e60.b9305"]]},{"id":"480ae4f4.234e5c","type":"mqtt in","z":"ec2ea640.fd25e8","name":"","topic":"BME280/humidity","qos":"2","broker":"afb87cdc.16d18","x":880,"y":540,"wires":[["23ea45b8.e5814a"]]},{"id":"3cfe3855.d4f938","type":"mqtt in","z":"ec2ea640.fd25e8","name":"","topic":"BME280/pressure","qos":"2","broker":"afb87cdc.16d18","x":890,"y":620,"wires":[["af94cd47.ef574"]]},{"id":"d7f14258.72be5","type":"debug","z":"ec2ea640.fd25e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":340,"wires":[]},{"id":"a88a4c2.45352b","type":"function","z":"ec2ea640.fd25e8","name":"Format for screen backlight","func":"msg.payload = \"dim=\" + msg.payload ;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":700,"wires":[["8f540952.b0dae8"]]},{"id":"3bb94d62.a721a2","type":"ui_slider","z":"ec2ea640.fd25e8","name":"","label":"Screen brightness","group":"c1ba9783.6bb348","order":0,"width":"6","height":"2","passthru":true,"topic":"","min":0,"max":"100","step":"10","x":890,"y":700,"wires":[["a88a4c2.45352b"]]},{"id":"ccfb6a6.7480b98","type":"timerswitch","z":"ec2ea640.fd25e8","name":"Screen backlight","ontopic":"ScreenLight","offtopic":"ScreenLight","onpayload":"70","offpayload":"0","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"20","off_m":"00","off_s":"00","valid":true}],"x":680,"y":700,"wires":[["3bb94d62.a721a2"]]},{"id":"d02aa813.2e4398","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery1/busPower","qos":"2","broker":"afb87cdc.16d18","x":520,"y":260,"wires":[["288d7383.e9f60c"]]},{"id":"89a88c60.e48ed","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery1/busVoltage","qos":"2","broker":"afb87cdc.16d18","x":510,"y":360,"wires":[["288d7383.e9f60c","21e324b3.7ae59c"]]},{"id":"132f2cb1.e6c8b3","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery1/shuntCurrent","qos":"2","broker":"afb87cdc.16d18","x":520,"y":100,"wires":[["288d7383.e9f60c","dde22ad1.33c9d8","f6e08ac7.555688"]]},{"id":"fb0f6c81.f858b","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery1/shuntVoltage","qos":"2","broker":"afb87cdc.16d18","x":520,"y":560,"wires":[["288d7383.e9f60c"]]},{"id":"288d7383.e9f60c","type":"debug","z":"f124cd36.1724a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":200,"wires":[]},{"id":"4441fe6e.dcc25","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery/status","qos":"2","broker":"afb87cdc.16d18","x":490,"y":640,"wires":[["288d7383.e9f60c"]]},{"id":"48f02bc.681e0d4","type":"ui_gauge","z":"f124cd36.1724a","name":"Battery 1","group":"6dbb1a6.0e558e4","order":3,"width":"3","height":"3","gtype":"gage","title":"Voltage 1","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#b1032f","#008000","#ca3838"],"seg1":"10","seg2":"13","x":1400,"y":360,"wires":[]},{"id":"2c11c5c2.b811da","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"30000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":760,"wires":[["74ffebea.4d60e4"]]},{"id":"74ffebea.4d60e4","type":"mqtt out","z":"f124cd36.1724a","name":"","topic":"Battery/sensorRequestPeriod","qos":"","retain":"","broker":"afb87cdc.16d18","x":880,"y":760,"wires":[]},{"id":"21e324b3.7ae59c","type":"function","z":"f124cd36.1724a","name":"Format .00","func":"msg.payload = Number(msg.payload).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["48f02bc.681e0d4","7aaefd03.2b7304"]]},{"id":"dde22ad1.33c9d8","type":"function","z":"f124cd36.1724a","name":"Format .000","func":"msg.payload = Number(msg.payload).toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":100,"wires":[["f912ee11.b1c66"]]},{"id":"7aaefd03.2b7304","type":"ui_chart","z":"f124cd36.1724a","name":"","group":"6dbb1a6.0e558e4","order":8,"width":"6","height":"6","label":"Voltage 1","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1600,"y":440,"wires":[["fa1ea841.e63ec8"],[]]},{"id":"15e26cd2.49d733","type":"inject","z":"f124cd36.1724a","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":520,"y":440,"wires":[["3d76ea55.34edc6"]]},{"id":"3d76ea55.34edc6","type":"file in","z":"f124cd36.1724a","name":"restore from file","filename":"/home/pi/.node-red/voltage1_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":960,"y":440,"wires":[["9389d122.a4932"]]},{"id":"9389d122.a4932","type":"json","z":"f124cd36.1724a","name":"","pretty":true,"x":1310,"y":440,"wires":[["7aaefd03.2b7304"]]},{"id":"fa1ea841.e63ec8","type":"file","z":"f124cd36.1724a","name":"backup to file","filename":"/home/pi/.node-red/voltage1_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1850,"y":420,"wires":[]},{"id":"b400c771.69a768","type":"mqtt out","z":"f124cd36.1724a","name":"","topic":"Battery/relay1","qos":"","retain":"","broker":"afb87cdc.16d18","x":1280,"y":860,"wires":[]},{"id":"6dc1633b.71876c","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":860,"wires":[["b400c771.69a768"]]},{"id":"c0adc645.55bc18","type":"http in","z":"3d8b205e.17f5a","name":"OTA Request","url":"/esp8266-ota/update/:version","method":"get","upload":false,"swaggerDoc":"","x":330,"y":260,"wires":[["c1dc6095.8e413"]]},{"id":"17d6625.de1ce9e","type":"http response","z":"3d8b205e.17f5a","name":"OTA Response","statusCode":"","headers":{},"x":3594.0597534179688,"y":739.107177734375,"wires":[]},{"id":"8474fd84.f6aa8","type":"file in","z":"3d8b205e.17f5a","name":"Load Firmware","filename":"","format":"","sendError":false,"x":2888.999870300293,"y":521.9285869598389,"wires":[["17d6625.de1ce9e","ce3722db.f8ce","716c1ca3.e33b34"]]},{"id":"ac10375b.97b308","type":"change","z":"3d8b205e.17f5a","name":"No Update","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3201.107421875,"y":383.5714111328125,"wires":[["17d6625.de1ce9e"]]},{"id":"3a865fd3.ae2cd","type":"change","z":"3d8b205e.17f5a","name":"Forbidden","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Forbidden (Please connect from ESP8266)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3168.999755859375,"y":260.8928527832031,"wires":[["17d6625.de1ce9e"]]},{"id":"c1dc6095.8e413","type":"switch","z":"3d8b205e.17f5a","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":549.21435546875,"y":259.99999237060547,"wires":[["3a865fd3.ae2cd"],["266571c2.a51bde","b00fd9c4.983128","71c97a29.40dc94"]]},{"id":"266571c2.a51bde","type":"switch","z":"3d8b205e.17f5a","name":"Update type","property":"req.headers.x-esp8266-mode","propertyType":"msg","rules":[{"t":"eq","v":"spiffs","vt":"str"},{"t":"eq","v":"sketch","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":778.5179710388184,"y":368.5714330673218,"wires":[["ac10375b.97b308"],["ca16453f.3c4778"]]},{"id":"6ab4f012.46716","type":"comment","z":"3d8b205e.17f5a","name":"Sketch","info":"","x":969.2856979370117,"y":439.1427917480469,"wires":[]},{"id":"7575256d.9dcdac","type":"comment","z":"3d8b205e.17f5a","name":"Spiffs","info":"","x":794.0000076293945,"y":306.99999141693115,"wires":[]},{"id":"44b5b166.ec601","type":"http in","z":"3d8b205e.17f5a","name":"OTA Manager","url":"/esp8266-ota","method":"get","upload":false,"swaggerDoc":"","x":333.55558013916016,"y":793.2856712341309,"wires":[["dd81a331.23f62"]]},{"id":"fd505332.d4137","type":"file","z":"3d8b205e.17f5a","name":"Save md5 Checksum","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1785.4998168945312,"y":990.8333740234375,"wires":[]},{"id":"556ae707.69ded8","type":"file in","z":"3d8b205e.17f5a","name":"Read firmware","filename":"","format":"","sendError":true,"x":1087.5833740234375,"y":991.6666870117188,"wires":[["5f0939af.af0608"]]},{"id":"501fbde9.bb33b4","type":"change","z":"3d8b205e.17f5a","name":"Extract filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.files.firmware[0].originalname","tot":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":864.875,"y":992.9166870117188,"wires":[["556ae707.69ded8"]]},{"id":"bd1fed84.34ac1","type":"change","z":"3d8b205e.17f5a","name":"","rules":[{"t":"change","p":"filename","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1471.125,"y":991.25,"wires":[["fd505332.d4137"]]},{"id":"77b251e8.99a68","type":"file in","z":"3d8b205e.17f5a","name":"Load Hash","filename":"","format":"utf8","sendError":false,"x":1989.410629272461,"y":466.82147216796875,"wires":[["78b3de84.5eba6"]]},{"id":"78b3de84.5eba6","type":"switch","z":"3d8b205e.17f5a","name":"Compare MD5 hash","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"req.headers.x-esp8266-sketch-md5","vt":"msg"},{"t":"else"}],"checkall":"false","outputs":2,"x":2200.41064453125,"y":467.1786193847656,"wires":[["ac10375b.97b308"],["3aa0d36e.3988fc"]]},{"id":"3aa0d36e.3988fc","type":"change","z":"3d8b205e.17f5a","name":"Save new MD5 Hash to response","rules":[{"t":"set","p":"headers.x-MD5","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"md5","fromt":"str","to":"bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2584.7857360839844,"y":522.0714416503906,"wires":[["8474fd84.f6aa8"]]},{"id":"85dcdd90.b932","type":"comment","z":"3d8b205e.17f5a","name":"Firmware Upgrade","info":"The system determines which firmware to send based\non the MAC address, version, and MD5 headers in the\nrequest from the ESP8266.\n\nFirstly, it checks if a firmware hash file with \nthe MAC address as the name exists, or else if a \nfirmware file with the version as the name exists.\nIf neither exist then no update is available.\n\nIt then reads the corresponding MD5 hash from the\nhash file and compares to the MD5 hash in the\nrequest.  If they match then the firmware is up\nto date and no update is required.\n\nOtherwise, it sends the contents of the firmware\nbin file and the MD5 hash value.","x":349,"y":191,"wires":[]},{"id":"7488e9d6.d5dcc8","type":"comment","z":"3d8b205e.17f5a","name":"Firmware Management","info":"","x":356,"y":687,"wires":[]},{"id":"d20b4642.299ff8","type":"change","z":"3d8b205e.17f5a","name":"Get Version MD5 filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.headers.x-esp8266-version","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":".bin","fromt":"re","to":".md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438.7857666015625,"y":584.6427917480469,"wires":[["73c93cb8.237a84","67bd8c80.74cbf4"]]},{"id":"53be89d5.3ba988","type":"template","z":"3d8b205e.17f5a","name":"Firmware Manager","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>ESP8266 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            .file-btn-grp {\n                display: none;\n            }\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .link {\n                font-style: italic;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"esp8266-ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n\n        <div id=\"linkModal\" class=\"modal fade\" role=\"dialog\">\n            <div class=\"modal-dialog\">\n        \n                <!-- Modal content-->\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                        <h4 class=\"modal-title\">Create Symbolic Link</h4>\n                    </div>\n                    <div class=\"modal-body\">\n                        <form class=\"form-horizontal\" id=\"linkForm\" role=\"form\" action=\"#\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkName\">Link:</label> \n                                <div class=\"col-sm-10\">\n                                    <input id=\"linkName\" name=\"linkName\" class=\"form-control\"/>\n                                </div>\n                            </div>\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkFile\">To:</label> \n                                <div class=\"col-sm-10\">\n                                    <input class=\"form-control\" id=\"linkFile\" name=\"linkFile\"/>\n                                </div>\n                            </div>\n                        </form>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"submit\" class=\"btn btn-success link-create\">Create</button>\n                        <button type=\"button\" class=\"btn btn-warning\" data-dismiss=\"modal\">Cancel</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n            var linkButton = \"<button id='link' class='btn btn-success'>Link</button>\";\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n            var twoButtons = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + linkButton + \"</div>\";\n            \n            function addListEntry(list, filename, linkname) {\n            \n                var entry;\n                \n                if (linkname === undefined) {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + twoButtons + \"</div></li>\");\n                } else {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span class='link'>\" \n                    + filename + \"</span> <span class='glyphicon glyphicon-arrow-right'></span> \" \n                    + linkname + oneButton + \"</div></li>\");\n                }\n                \n                entry.mouseover(function(){\n                    $(this).find(\".btn-group\").fadeIn(\"fast\");\n                });\n                entry.mouseleave(function(){\n                    $(this).find(\".btn-group\").fadeOut(\"slow\");\n                });\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                entry.on(\"click\", \"button#link\", function(){\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $(\"#linkName\").val(\"\");\n                    $(\"#linkFile\").prop(\"disabled\", true).val(file);\n                    $(\"#linkName\").parent().removeClass(\"has-error\");\n                    $(\"#linkModal\").modal();\n                    $('#linkModal').on('shown.bs.modal', function () {\n                        $('#linkName').focus();\n                    });\n                });\n                \n                if (list.children().length == 0) {\n                    list.append(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            \n            var files = String(\"{{payload.files}}\").split(',');\n            var links = String(\"{{payload.links}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                if (links[index] == \"\") {\n                    addListEntry(this, file.slice(0,-4));\n                } else {\n                    addListEntry(this, file.slice(0,-4), links[index].slice(0,-4));\n                }\n            },list_of_items);\n           \n           \n            $(\"#linkModal\").on(\"click\", \"button.link-create\", function(event){\n               event.preventDefault();\n               if ($(\"#linkName\").val() == \"\") {\n                    $('#linkName').focus();\n                    $('#linkName').parent().addClass(\"has-error\");\n                    return false;\n               }\n               $(\"#linkFile\").prop(\"disabled\",false);               \n               $.ajax({\n                    type: 'PUT',\n                    data: $(\"#linkForm\").serialize(),\n                    success: function(result) {\n                        $(\"#linkModal\").modal('hide');\n                        addListEntry(list_of_items, $('#linkName').val(), $('#linkFile').val());\n                    },\n                    error: function(result) {\n                        $(\"#linkFile\").prop(\"disabled\", true);\n                        $('#linkName').focus();\n                        $('#linkName').parent().addClass(\"has-error\");\n                        $(linkForm).append(\"<div id='linkError' class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n                });\n            });\n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().slice(0,-4).split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>","output":"str","x":1626.8333740234375,"y":790.8135375976562,"wires":[["17d6625.de1ce9e"]]},{"id":"c3b3c385.6246a","type":"http in","z":"3d8b205e.17f5a","name":"OTA Delete","url":"/esp8266-ota","method":"delete","upload":false,"swaggerDoc":"","x":328.625,"y":1078.75,"wires":[["4ec22eff.0cfc3"]]},{"id":"284f4395.0aedfc","type":"catch","z":"3d8b205e.17f5a","name":"File Error","scope":["11616d5d.fc3753","2134073a.7e4478","100c7f7f.ee76d1"],"x":2116.1665573120117,"y":950.3333158493042,"wires":[["4b3f75dd.d337dc"]]},{"id":"4b3f75dd.d337dc","type":"change","z":"3d8b205e.17f5a","name":"Error","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2404.5,"y":936,"wires":[["17d6625.de1ce9e"]]},{"id":"92ef6065.6a5a4","type":"change","z":"3d8b205e.17f5a","name":"Change to MD5 filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"bin","fromt":"str","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2124.6666564941406,"y":1081.6666269302368,"wires":[["2134073a.7e4478"]]},{"id":"4ec22eff.0cfc3","type":"change","z":"3d8b205e.17f5a","name":"Extract filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1628,"y":1082.5,"wires":[["11616d5d.fc3753"]]},{"id":"ca16453f.3c4778","type":"switch","z":"3d8b205e.17f5a","name":"","property":"req.headers.x-esp8266-version","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970.4642143249512,"y":488.7856707572937,"wires":[["d20b4642.299ff8"],["2992ecbe.f83334"]]},{"id":"2992ecbe.f83334","type":"change","z":"3d8b205e.17f5a","name":"Version in Request","rules":[{"t":"set","p":"req.headers.x-esp8266-version","pt":"msg","to":"req.params.version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.9285278320312,"y":657.8571166992188,"wires":[["d20b4642.299ff8"]]},{"id":"71c97a29.40dc94","type":"debug","z":"3d8b205e.17f5a","name":"","active":true,"console":"false","complete":"req.params","x":847.9285430908203,"y":230.2857789993286,"wires":[]},{"id":"52ecc230.dc5c6c","type":"debug","z":"3d8b205e.17f5a","name":"Firmware file error","active":true,"console":"false","complete":"error","x":3163.214370727539,"y":472.14283657073975,"wires":[]},{"id":"27dfbc.adc24044","type":"catch","z":"3d8b205e.17f5a","name":"File error","scope":["8474fd84.f6aa8","77b251e8.99a68"],"x":2873.3572387695312,"y":473.5714111328125,"wires":[["ac10375b.97b308","52ecc230.dc5c6c"]]},{"id":"4b3674bf.f8edac","type":"config","z":"3d8b205e.17f5a","name":"Firmware Config","properties":[{"p":"firmware.directory","pt":"flow","to":"/home/pi/ota/firmware/","tot":"str"}],"active":true,"x":368.5714111328125,"y":505.1428527832031,"wires":[]},{"id":"100c7f7f.ee76d1","type":"fs-ops-move","z":"3d8b205e.17f5a","name":"Store firmware","sourcePath":"req.files.firmware[0].destination","sourcePathType":"msg","sourceFilename":"req.files.firmware[0].filename","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"req.files.firmware[0].originalname","destFilenameType":"msg","link":false,"x":608.3928298950195,"y":959.3332395553589,"wires":[["501fbde9.bb33b4","17d6625.de1ce9e"]]},{"id":"11616d5d.fc3753","type":"fs-ops-delete","z":"3d8b205e.17f5a","name":"Delete firmware","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":1874.1250457763672,"y":1081.5832777023315,"wires":[["92ef6065.6a5a4"]]},{"id":"2134073a.7e4478","type":"fs-ops-delete","z":"3d8b205e.17f5a","name":"Delete MD5 Hash","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":2416.333206176758,"y":1081.6665878295898,"wires":[["17d6625.de1ce9e"]]},{"id":"73c93cb8.237a84","type":"fs-ops-access","z":"3d8b205e.17f5a","name":"Check for MD5 file exists","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1742.2857055664062,"y":584.7142028808594,"wires":[["77b251e8.99a68"],["ac10375b.97b308"]]},{"id":"b8da30c7.f8f58","type":"fs-ops-link","z":"3d8b205e.17f5a","name":"Get Links","path":"firmware.directory","pathType":"flow","filename":"payload.files","filenameType":"msg","link":"payload.links","linkType":"msg","x":1021.9999923706055,"y":793.3333110809326,"wires":[["53be89d5.3ba988"]]},{"id":"dd81a331.23f62","type":"fs-ops-dir","z":"3d8b205e.17f5a","name":"Firmware listing","path":"firmware.directory","pathType":"flow","filter":"*.bin","filterType":"str","dir":"payload.files","dirType":"msg","x":738.5355987548828,"y":792.8015928268433,"wires":[["b8da30c7.f8f58"]]},{"id":"10fe6a5d.99be56","type":"httpInMultipart","z":"3d8b205e.17f5a","name":"OTA Upload","url":"/esp8266-ota","method":"post","fields":"[{ \"name\": \"firmware\"}]","swaggerDoc":"","x":325.2857437133789,"y":957.4286108016968,"wires":[["100c7f7f.ee76d1"]]},{"id":"5f0939af.af0608","type":"md5","z":"3d8b205e.17f5a","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"payload","hashFieldType":"msg","x":1277.1668090820312,"y":991.6666259765625,"wires":[["bd1fed84.34ac1"]]},{"id":"b00fd9c4.983128","type":"debug","z":"3d8b205e.17f5a","name":"","active":true,"console":"false","complete":"req.headers","x":857.5999374389648,"y":187.3999538421631,"wires":[]},{"id":"ce3722db.f8ce","type":"change","z":"3d8b205e.17f5a","name":"Firmware sent message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Firmware: s0(s1) sent to reciever mac:s2","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"s0","fromt":"re","to":"req.headers.x-esp8266-version","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"s1","fromt":"str","to":"headers.x-MD5","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"s2","fromt":"re","to":"req.headers.x-esp8266-ap-mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3249.0120544433594,"y":522.4530506134033,"wires":[["716c1ca3.e33b34"]]},{"id":"67bd8c80.74cbf4","type":"debug","z":"3d8b205e.17f5a","name":"","active":true,"console":"false","complete":"filename","x":1685.2093353271484,"y":459.4718704223633,"wires":[]},{"id":"716c1ca3.e33b34","type":"debug","z":"3d8b205e.17f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers","x":3690,"y":440,"wires":[]},{"id":"f912ee11.b1c66","type":"ui_text","z":"f124cd36.1724a","group":"6dbb1a6.0e558e4","order":5,"width":"3","height":"3","name":"","label":"Current 1","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":100,"wires":[]},{"id":"f6e08ac7.555688","type":"function","z":"f124cd36.1724a","name":"time stamp","func":"msg.payload = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":60,"wires":[["41f369e0.e5bdc8"]]},{"id":"41f369e0.e5bdc8","type":"ui_text","z":"f124cd36.1724a","group":"6dbb1a6.0e558e4","order":7,"width":"6","height":"1","name":"Time","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":60,"wires":[]},{"id":"226a437.67ea4bc","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":820,"wires":[["b400c771.69a768"]]},{"id":"57fad561.e168cc","type":"mqtt out","z":"f124cd36.1724a","name":"","topic":"Battery/relay2","qos":"","retain":"","broker":"afb87cdc.16d18","x":1280,"y":1060,"wires":[]},{"id":"fac7fd8c.5167d","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":1060,"wires":[["57fad561.e168cc"]]},{"id":"682a3c5e.94bd34","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":1020,"wires":[["57fad561.e168cc"]]},{"id":"13b4b344.33b74d","type":"mqtt out","z":"f124cd36.1724a","name":"","topic":"Battery/relay3","qos":"","retain":"","broker":"afb87cdc.16d18","x":1280,"y":1180,"wires":[]},{"id":"ccb809c1.c196f8","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":1180,"wires":[["13b4b344.33b74d"]]},{"id":"fdbe7a58.c505f8","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":1140,"wires":[["13b4b344.33b74d"]]},{"id":"bd84104f.d372b","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery2/busPower","qos":"2","broker":"afb87cdc.16d18","x":530,"y":1500,"wires":[["3e603c85.51e1c4"]]},{"id":"f4aaa5e6.75bfb8","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery2/busVoltage","qos":"2","broker":"afb87cdc.16d18","x":530,"y":1660,"wires":[["3e603c85.51e1c4","5a5a5ea1.afa35"]]},{"id":"8aa8816f.1e661","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery2/shuntCurrent","qos":"2","broker":"afb87cdc.16d18","x":530,"y":1400,"wires":[["3e603c85.51e1c4","efcd71e0.5e2c5","f6e08ac7.555688"]]},{"id":"b2bcb19.d461d5","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery2/shuntVoltage","qos":"2","broker":"afb87cdc.16d18","x":530,"y":1860,"wires":[["3e603c85.51e1c4"]]},{"id":"3e603c85.51e1c4","type":"debug","z":"f124cd36.1724a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1500,"wires":[]},{"id":"5a5a5ea1.afa35","type":"function","z":"f124cd36.1724a","name":"Format .00","func":"msg.payload = Number(msg.payload).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1660,"wires":[["9736f3f4.1c9c6","4cb9eb5b.9780a4"]]},{"id":"efcd71e0.5e2c5","type":"function","z":"f124cd36.1724a","name":"Format .000","func":"msg.payload = Number(msg.payload).toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1400,"wires":[["33185368.7dad2c"]]},{"id":"9736f3f4.1c9c6","type":"ui_chart","z":"f124cd36.1724a","name":"","group":"6dbb1a6.0e558e4","order":9,"width":"6","height":"6","label":"Voltage 2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1610,"y":1740,"wires":[["4d647fd2.76a4c"],[]]},{"id":"6b584d76.ad44b4","type":"inject","z":"f124cd36.1724a","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":530,"y":1740,"wires":[["e6c5cc14.e9bca"]]},{"id":"e6c5cc14.e9bca","type":"file in","z":"f124cd36.1724a","name":"restore from file","filename":"/home/pi/.node-red/voltage1_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":970,"y":1740,"wires":[["15be114f.53a54f"]]},{"id":"15be114f.53a54f","type":"json","z":"f124cd36.1724a","name":"","pretty":true,"x":1320,"y":1740,"wires":[["9736f3f4.1c9c6"]]},{"id":"4d647fd2.76a4c","type":"file","z":"f124cd36.1724a","name":"backup to file","filename":"/home/pi/.node-red/voltage1_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1860,"y":1720,"wires":[]},{"id":"33185368.7dad2c","type":"ui_text","z":"f124cd36.1724a","group":"6dbb1a6.0e558e4","order":6,"width":"3","height":"3","name":"","label":"Current 2","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":1400,"wires":[]},{"id":"4cb9eb5b.9780a4","type":"ui_gauge","z":"f124cd36.1724a","name":"","group":"6dbb1a6.0e558e4","order":4,"width":"3","height":"3","gtype":"gage","title":"Battery 2","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#ff0000","#008000","#ca3838"],"seg1":"10","seg2":"13","x":1360,"y":1660,"wires":[]},{"id":"967ce578.a5ca78","type":"http in","z":"b74ff0c.5c0c61","name":"OTA Request","url":"/ota/update/:version","method":"get","upload":false,"swaggerDoc":"","x":290,"y":400,"wires":[["8c6d4d84.869a4","9b2f5728.3d72b8","ef01447e.f65ba8"]]},{"id":"82db809d.08ebc","type":"http response","z":"b74ff0c.5c0c61","name":"OTA Response","statusCode":"","headers":{},"x":1897.0603866577148,"y":720.1072406768799,"wires":[]},{"id":"fd3be3e5.c7b92","type":"change","z":"b74ff0c.5c0c61","name":"No Update","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1481.1077423095703,"y":717.5714359283447,"wires":[["82db809d.08ebc"]]},{"id":"1264feb8.24abf1","type":"change","z":"b74ff0c.5c0c61","name":"Forbidden","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Forbidden (Connect from ESP)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":280,"wires":[["b263cddc.1e11b"]]},{"id":"bc636ce8.c11be","type":"http in","z":"b74ff0c.5c0c61","name":"OTA Manager","url":"/ota","method":"get","upload":false,"swaggerDoc":"","x":345.55562591552734,"y":932.2857093811035,"wires":[["3a6bf39b.c8e6dc"]]},{"id":"7622260f.bb03d8","type":"comment","z":"b74ff0c.5c0c61","name":"Firmware Upgrade","info":"The system determines which firmware to send based\non the hardware(esp32, esp8266), version, and MD5 headers in the\nrequest from the module.\n\nFirstly, it checks client type (esp32/esp8266),\nthen it searches for firmware with appropriate file name,\nif a firmware exists, it sends the contents of the firmware\nbin file and the MD5 hash value.\n\nOn hardware side it compares MD5 hash of sent firmware \nto installed MD5 hash and if they do not math it updates chip \nto new firmqare\n","x":310.0000686645508,"y":317.00003814697266,"wires":[]},{"id":"2039cd4b.3c4ad2","type":"template","z":"b74ff0c.5c0c61","name":"Firmware Manager","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>ESP8266/ESP32 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            /*.file-btn-grp {*/\n            /*    display: none;*/\n            /*}*/\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266/ESP32 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.ino.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"firmware.ino.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n\n            \n            function addListEntry(list, filename) {\n            \n                var entry;\n                entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + oneButton + \"</div></li>\");\n\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                \n                if (list.children().length == 0) {\n                    if(filename){\n                        list.append(entry);\n                        entry.fadeIn(\"slow\");\n                        return;\n                    }\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            var files = String(\"{{payload.files}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                addListEntry(this, file);},\n                list_of_items);\n           \n           \n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>","output":"str","x":930,"y":940,"wires":[["5ab78be3.f70a84"]]},{"id":"a73424e9.b4b9c8","type":"http in","z":"b74ff0c.5c0c61","name":"OTA Delete","url":"/ota","method":"delete","upload":false,"swaggerDoc":"","x":341.625057220459,"y":1158.7500203251839,"wires":[["5a6b9e6c.02d2d"]]},{"id":"76c357d.1acbfa8","type":"catch","z":"b74ff0c.5c0c61","name":"File Error","scope":["5a6b9e6c.02d2d","3a6bf39b.c8e6dc","87c11ae8.a43e28","5cc1a63f.db6558"],"x":1138.1664428710938,"y":826.333417892456,"wires":[["ce727125.e4173"]]},{"id":"ce727125.e4173","type":"change","z":"b74ff0c.5c0c61","name":"Error","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1464.5001258850098,"y":826.0000514984131,"wires":[["82db809d.08ebc"]]},{"id":"9b2f5728.3d72b8","type":"debug","z":"b74ff0c.5c0c61","name":"","active":true,"console":"false","complete":"req.params","x":555.9285430908203,"y":192.2857322692871,"wires":[]},{"id":"40e756b5.f55ee8","type":"debug","z":"b74ff0c.5c0c61","name":"Firmware file error","active":false,"tosidebar":true,"console":false,"complete":"error","x":1497.2145767211914,"y":643.1429195404053,"wires":[]},{"id":"54f5e297.90230c","type":"catch","z":"b74ff0c.5c0c61","name":"File error","scope":[],"x":1132.357322692871,"y":721.5715255737305,"wires":[["fd3be3e5.c7b92","40e756b5.f55ee8"]]},{"id":"d2e32f73.de894","type":"config","z":"b74ff0c.5c0c61","name":"Firmware Config","properties":[{"p":"firmware.directory","pt":"flow","to":"/home/pi/ota/firmware/","tot":"str"}],"active":true,"x":324.5714569091797,"y":520.1429080963135,"wires":[]},{"id":"5cc1a63f.db6558","type":"fs-ops-move","z":"b74ff0c.5c0c61","name":"Store firmware","sourcePath":"req.files.firmware[0].destination","sourcePathType":"msg","sourceFilename":"req.files.firmware[0].filename","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"req.files.firmware[0].originalname","destFilenameType":"msg","link":false,"x":608.3927993774414,"y":1037.33331823349,"wires":[["7ebbc738.69dce8"]]},{"id":"5a6b9e6c.02d2d","type":"fs-ops-delete","z":"b74ff0c.5c0c61","name":"Delete firmware","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":620,"y":1160,"wires":[["3010be20.928ae2"]]},{"id":"3a6bf39b.c8e6dc","type":"fs-ops-dir","z":"b74ff0c.5c0c61","name":"Firmware listing","path":"firmware.directory","pathType":"flow","filter":"*.bin","filterType":"str","dir":"payload.files","dirType":"msg","x":609.5356903076172,"y":932.8016605377197,"wires":[["2039cd4b.3c4ad2"]]},{"id":"1545c13b.7991cf","type":"httpInMultipart","z":"b74ff0c.5c0c61","name":"OTA Upload","url":"/ota","method":"post","fields":"[{ \"name\": \"firmware\"}]","swaggerDoc":"","x":345.2857437133789,"y":1038.4286551475525,"wires":[["5cc1a63f.db6558"]]},{"id":"5990df04.bbeb8","type":"file in","z":"b74ff0c.5c0c61","name":"Load Firmware","filename":"","format":"","sendError":false,"x":1160,"y":520,"wires":[["df599529.4f47a8"]]},{"id":"927296a1.d30e68","type":"change","z":"b74ff0c.5c0c61","name":"Add file path and name","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.params.version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":520,"wires":[["5990df04.bbeb8"]]},{"id":"df599529.4f47a8","type":"md5","z":"b74ff0c.5c0c61","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"req.headers.md5","hashFieldType":"msg","x":1370,"y":520,"wires":[["9ffea423.e0ce08"]]},{"id":"ec4d883e.b4fbf8","type":"debug","z":"b74ff0c.5c0c61","name":"","active":true,"console":"false","complete":"req.headers","x":1910.3246459960938,"y":408.5336513519287,"wires":[]},{"id":"9ffea423.e0ce08","type":"function","z":"b74ff0c.5c0c61","name":"Add MD5 to Header","func":"msg.headers = { 'md5': msg.req.headers.md5,\n                'x-MD5': msg.req.headers.md5 }\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":520,"wires":[["ec4d883e.b4fbf8","82db809d.08ebc"]]},{"id":"ef01447e.f65ba8","type":"switch","z":"b74ff0c.5c0c61","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"esp-32","vt":"str"},{"t":"eq","v":"esp-32","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":519.0000610351562,"y":406.0000343322754,"wires":[["1264feb8.24abf1"],["927296a1.d30e68"]]},{"id":"8c6d4d84.869a4","type":"debug","z":"b74ff0c.5c0c61","name":"","active":true,"console":"false","complete":"req.headers","x":569.6000137329102,"y":270.3999881744385,"wires":[]},{"id":"3010be20.928ae2","type":"http response","z":"b74ff0c.5c0c61","name":"OTA Response","statusCode":"","headers":{},"x":920,"y":1160,"wires":[]},{"id":"7ebbc738.69dce8","type":"http response","z":"b74ff0c.5c0c61","name":"OTA Response","statusCode":"","headers":{},"x":911.9999771118164,"y":1038.000066280365,"wires":[]},{"id":"5ab78be3.f70a84","type":"http response","z":"b74ff0c.5c0c61","name":"OTA Response","statusCode":"","headers":{},"x":1220,"y":940,"wires":[]},{"id":"b263cddc.1e11b","type":"http response","z":"b74ff0c.5c0c61","name":"OTA Response","statusCode":"","headers":{},"x":1080,"y":280,"wires":[]},{"id":"b94a13c5.d9c88","type":"mqtt in","z":"bd9d52c9.623ba","name":"","topic":"ESP32_E_Paper_Screen/humidity","qos":"2","broker":"afb87cdc.16d18","x":600,"y":340,"wires":[["9e575bcf.a7f968","8163103d.8e661"]]},{"id":"9e575bcf.a7f968","type":"debug","z":"bd9d52c9.623ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":60,"wires":[]},{"id":"2ded252f.141c0a","type":"mqtt in","z":"bd9d52c9.623ba","name":"","topic":"ESP32_E_Paper_Screen/temperature","qos":"2","broker":"afb87cdc.16d18","x":610,"y":420,"wires":[["9e575bcf.a7f968","2f28cc2d.6735c4","5c114bbe.f09984"]]},{"id":"8163103d.8e661","type":"ui_gauge","z":"bd9d52c9.623ba","name":"","group":"4a9ff3dd.51582c","order":0,"width":"3","height":"3","gtype":"gage","title":"в Спальня","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#ffff00","#1dd80e","#0000ff"],"seg1":"50","seg2":"60","x":1010,"y":340,"wires":[]},{"id":"2f28cc2d.6735c4","type":"ui_gauge","z":"bd9d52c9.623ba","name":"","group":"ab618ed5.3282e","order":3,"width":"3","height":"3","gtype":"gage","title":"в Спальне","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":1010,"y":420,"wires":[]},{"id":"5c114bbe.f09984","type":"simpletime","z":"bd9d52c9.623ba","name":"","x":890,"y":560,"wires":[["1f3a775c.296c69","2792c9b2.347196"]]},{"id":"1f3a775c.296c69","type":"function","z":"bd9d52c9.623ba","name":"show prev/last message time","func":"msg.payload = msg.mytimes;\nvar prev = { payload:flow.get('lastUpdate') || \"\"};\nvar last = { payload:msg.mytimes};\nflow.set('lastUpdate', msg.mytimes);\nreturn [prev, last]","outputs":2,"noerr":0,"x":1180,"y":560,"wires":[["9e575bcf.a7f968","158bbaf7.5d1d25"],["9e575bcf.a7f968","e4a5b072.3b5ff"]],"outputLabels":["prev","last"]},{"id":"6ac2c10d.2993d","type":"ui_text","z":"2b63a9be.04a1f6","group":"93e242d2.8a552","order":2,"width":"6","height":"1","name":"","label":"Last reading","format":"{{msg.payload}}","layout":"row-left","x":890,"y":480,"wires":[]},{"id":"d44ae72c.0313b8","type":"simpletime","z":"2b63a9be.04a1f6","name":"","x":450,"y":480,"wires":[["a6feb431.469c08"]]},{"id":"a6feb431.469c08","type":"function","z":"2b63a9be.04a1f6","name":"","func":"msg.payload = msg.mymonth + \" \" + msg.mydom + \" \" + msg.mytimes;\nreturn msg","outputs":2,"noerr":0,"x":670,"y":480,"wires":[[],["6ac2c10d.2993d"]],"outputLabels":["prev","last"]},{"id":"72e629b9.91b668","type":"ui_gauge","z":"2b63a9be.04a1f6","name":"","group":"93e242d2.8a552","order":1,"width":"3","height":"3","gtype":"gage","title":"Температура","label":"℃","format":"{{value}}","min":0,"max":"30","colors":["#3131ff","#31b542","#ca3838"],"seg1":"18","seg2":"23","x":540,"y":320,"wires":[]},{"id":"4b812e64.affae","type":"mqtt in","z":"2b63a9be.04a1f6","name":"","topic":"office/temperature","qos":"2","broker":"afb87cdc.16d18","x":210,"y":320,"wires":[["72e629b9.91b668","d44ae72c.0313b8"]]},{"id":"18da0a73.7f00a6","type":"ui_button","z":"bd9d52c9.623ba","name":"","group":"bc30dfd8.23326","order":5,"width":"3","height":"1","passthru":false,"label":"Reset count","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":560,"y":740,"wires":[["52ffc525.975aec"]]},{"id":"52ffc525.975aec","type":"function","z":"bd9d52c9.623ba","name":"reset messageCount","func":"flow.set('messageCount', 0)\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":740,"wires":[[]]},{"id":"f787a965.145098","type":"ui_text","z":"bd9d52c9.623ba","group":"bc30dfd8.23326","order":3,"width":"6","height":"1","name":"","label":"First message","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":660,"wires":[]},{"id":"2792c9b2.347196","type":"function","z":"bd9d52c9.623ba","name":"show messageCount","func":"var mc = flow.get('messageCount') || 0;\nif( mc === 0){\n    flow.set('firstMessage', msg.mydate + \" \" + msg.mytime);\n}\nvar first = { payload:flow.get('firstMessage')};\nmc = mc + 1;\nflow.set('messageCount', mc);\nvar count = { payload:mc};\nreturn [first, count];","outputs":2,"noerr":0,"x":1160,"y":660,"wires":[["f787a965.145098"],["423e9fa2.d411f"]],"outputLabels":["first","count"]},{"id":"423e9fa2.d411f","type":"ui_text","z":"bd9d52c9.623ba","group":"bc30dfd8.23326","order":4,"width":"3","height":"1","name":"","label":"Messages:","format":"{{msg.payload}}","layout":"row-left","x":1440,"y":720,"wires":[]},{"id":"158bbaf7.5d1d25","type":"ui_text","z":"bd9d52c9.623ba","group":"bc30dfd8.23326","order":1,"width":"3","height":"1","name":"","label":"Prev","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":540,"wires":[]},{"id":"e4a5b072.3b5ff","type":"ui_text","z":"bd9d52c9.623ba","group":"bc30dfd8.23326","order":2,"width":"3","height":"1","name":"","label":"Last","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":600,"wires":[]}]