flows_orangepizero.json
[{"id":"b2c89108.09595","type":"tab","label":"Nextion","disabled":false,"info":""},{"id":"d35d3e3c.012f8","type":"tab","label":"OTA","disabled":false,"info":""},{"id":"ca195f7d.105ad","type":"tab","label":"Orange Pi","disabled":false,"info":""},{"id":"9a788825.9c84a8","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false,"responsetimeout":"10000"},{"id":"7e7a553.df437ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"40cd370d.97d198","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7c6d6b68.630194","type":"ui_group","z":"","name":"Батарея 1","tab":"610ca258.9d48cc","order":4,"disp":true,"width":"6","collapse":false},{"id":"610ca258.9d48cc","type":"ui_tab","z":"","name":"Батарея","icon":"battery_charging_full","order":4},{"id":"595e107a.ce5b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"913336ba.a1cb58","type":"function","z":"b2c89108.09595","name":"Buffer for Nextion","func":"var str = msg.payload;\nvar buf = [];\n\nfor (var i=0, l = str.length; i < l; i++) {\n    var ascii = str.charCodeAt(i);\n    buf.push(ascii);\n}\nbuf.push(255);\nbuf.push(255);\nbuf.push(255);\n\nmsg.payload = new Buffer(buf);\n\nreturn msg;","outputs":1,"noerr":0,"x":795,"y":211.00000286102295,"wires":[["748472d6.5f32fc"]]},{"id":"dd73bcf0.83f7","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"x":96,"y":219.00000381469727,"wires":[["1556a58d.3f30ca"]]},{"id":"3eb38683.45195a","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"var text = msg.payload.split(',')[0];\nmsg.payload = \"t0.txt=\\\"\" + text + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":495.00000762939453,"y":217.00000286102295,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"748472d6.5f32fc","type":"serial out","z":"b2c89108.09595","name":"Serial","serial":"9a788825.9c84a8","x":1002.1000137329102,"y":211.399995803833,"wires":[]},{"id":"e9082016.580f4","type":"debug","z":"b2c89108.09595","name":"","active":false,"console":"false","complete":"false","x":783.10009765625,"y":92.39999771118164,"wires":[]},{"id":"bd42f003.ba158","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"6","crontab":"","once":false,"x":94,"y":281,"wires":[["d9cee52e.d2d3f8"]]},{"id":"d9cee52e.d2d3f8","type":"random","z":"b2c89108.09595","name":"Random temp","low":"20","high":"30","inte":"false","property":"payload","x":257.1000061035156,"y":280.5999984741211,"wires":[["63401e82.d967d"]]},{"id":"63401e82.d967d","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"var temp = msg.payload.toFixed(1);\nmsg.payload = \"t1.txt=\\\"\" + temp + \" C\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":493.00000762939453,"y":278.9999990463257,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"7fa4fe7d.9be8c","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"7","crontab":"","once":false,"x":94,"y":344,"wires":[["25931476.0d247c"]]},{"id":"25931476.0d247c","type":"random","z":"b2c89108.09595","name":"Random humid","low":"45","high":"60","inte":"true","property":"payload","x":257.1000061035156,"y":343.5999984741211,"wires":[["a3bdcd2.148f63"]]},{"id":"a3bdcd2.148f63","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"msg.payload = \"t2.txt=\\\"\" + msg.payload + \" %\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":493.00000762939453,"y":341.9999990463257,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"63358d07.ac1094","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"8","crontab":"","once":false,"x":94,"y":409,"wires":[["2451d963.04eff6"]]},{"id":"2451d963.04eff6","type":"random","z":"b2c89108.09595","name":"Random pressure","low":"1000","high":"1020","inte":"true","property":"payload","x":267.1000061035156,"y":408.5999984741211,"wires":[["59718ae7.4567b4"]]},{"id":"59718ae7.4567b4","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"msg.payload = \"t3.txt=\\\"\" + msg.payload + \" hPa\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":493.00000762939453,"y":406.9999990463257,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"1556a58d.3f30ca","type":"exec","z":"b2c89108.09595","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":255.10000228881836,"y":217.90001487731934,"wires":[["3eb38683.45195a"],[],[]]},{"id":"98afed9f.91f01","type":"http in","z":"d35d3e3c.012f8","name":"OTA Request","url":"/ota/update/:version","method":"get","upload":false,"swaggerDoc":"","x":846.4999542236328,"y":568.9999752044678,"wires":[["9182e129.d665b","bcc3da04.cad608","2a62014e.6c500e"]]},{"id":"ba1a3fcc.59f8b","type":"http response","z":"d35d3e3c.012f8","name":"OTA Response","statusCode":"","headers":{},"x":2453.5603408813477,"y":889.1072158813477,"wires":[]},{"id":"744380fe.74416","type":"change","z":"d35d3e3c.012f8","name":"No Update","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2037.6076965332031,"y":886.5714111328125,"wires":[["ba1a3fcc.59f8b"]]},{"id":"d8428b0.3670e78","type":"change","z":"d35d3e3c.012f8","name":"Forbidden","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Forbidden (Connect from ESP)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1721.499626159668,"y":411.8928527832031,"wires":[["6a2c562c.94ec68"]]},{"id":"af1a621d.430a","type":"switch","z":"d35d3e3c.012f8","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":1299.714370727539,"y":568.0000085830688,"wires":[["d8428b0.3670e78"],["5b9fe793.b852a8"]]},{"id":"6a02be46.baf1e","type":"http in","z":"d35d3e3c.012f8","name":"OTA Manager","url":"/ota","method":"get","upload":false,"swaggerDoc":"","x":902.0555801391602,"y":1101.2856845855713,"wires":[["2b080f69.072ac"]]},{"id":"ca3e86cc.f119c8","type":"comment","z":"d35d3e3c.012f8","name":"Firmware Upgrade","info":"The system determines which firmware to send based\non the hardware(esp32, esp8266), version, and MD5 headers in the\nrequest from the module.\n\nFirstly, it checks client type (esp32/esp8266),\nthen it searches for firmware with appropriate file name,\nif a firmware exists, it sends the contents of the firmware\nbin file and the MD5 hash value.\n\nOn hardware side it compares MD5 hash of sent firmware \nto installed MD5 hash and if they do not math it updates chip \nto new firmqare\n","x":866.5000228881836,"y":486.00001335144043,"wires":[]},{"id":"72fe9fc8.06d8a","type":"template","z":"d35d3e3c.012f8","name":"Firmware Manager","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>ESP8266/ESP32 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            /*.file-btn-grp {*/\n            /*    display: none;*/\n            /*}*/\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266/ESP32 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n\n            \n            function addListEntry(list, filename) {\n            \n                var entry;\n                entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + oneButton + \"</div></li>\");\n\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                \n                if (list.children().length == 0) {\n                    if(filename){\n                        list.append(entry);\n                        entry.fadeIn(\"slow\");\n                        return;\n                    }\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            var files = String(\"{{payload.files}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                addListEntry(this, file);},\n                list_of_items);\n           \n           \n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>","output":"str","x":1668.33349609375,"y":1100.8135986328125,"wires":[["14498fd5.613ce"]]},{"id":"70afaf30.6148f","type":"http in","z":"d35d3e3c.012f8","name":"OTA Delete","url":"/ota","method":"delete","upload":false,"swaggerDoc":"","x":898.1250114440918,"y":1327.7499955296516,"wires":[["fa4a7800.012898"]]},{"id":"3c1718a9.d0c388","type":"catch","z":"d35d3e3c.012f8","name":"File Error","scope":["fa4a7800.012898","2b080f69.072ac","c14ec76c.b80b38","ac188661.af8658"],"x":1694.6663970947266,"y":995.3333930969238,"wires":[["26447836.0fb0e8"]]},{"id":"26447836.0fb0e8","type":"change","z":"d35d3e3c.012f8","name":"Error","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2021.0000801086426,"y":995.0000267028809,"wires":[["ba1a3fcc.59f8b"]]},{"id":"bcc3da04.cad608","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"req.params","x":1112.4284973144531,"y":361.2857074737549,"wires":[]},{"id":"7468110a.400d7","type":"debug","z":"d35d3e3c.012f8","name":"Firmware file error","active":false,"console":"false","complete":"error","x":2053.714530944824,"y":812.142894744873,"wires":[]},{"id":"19d9d937.698637","type":"catch","z":"d35d3e3c.012f8","name":"File error","scope":[],"x":1688.857276916504,"y":890.5715007781982,"wires":[["744380fe.74416","7468110a.400d7"]]},{"id":"23bb8d17.ee3812","type":"config","z":"d35d3e3c.012f8","name":"Firmware Config","properties":[{"p":"firmware.directory","pt":"flow","to":"/root/firmware/","tot":"str"}],"active":true,"x":881.0714111328125,"y":689.1428833007812,"wires":[]},{"id":"ac188661.af8658","type":"fs-ops-move","z":"d35d3e3c.012f8","name":"Store firmware","sourcePath":"req.files.firmware[0].destination","sourcePathType":"msg","sourceFilename":"req.files.firmware[0].filename","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"req.files.firmware[0].originalname","destFilenameType":"msg","link":false,"x":1164.8927536010742,"y":1206.3332934379578,"wires":[["f2243f55.ceba6"]]},{"id":"fa4a7800.012898","type":"fs-ops-delete","z":"d35d3e3c.012f8","name":"Delete firmware","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":1397.6250190734863,"y":1328.583209335804,"wires":[["19fffd4b.f5d653"]]},{"id":"c14ec76c.b80b38","type":"fs-ops-link","z":"d35d3e3c.012f8","name":"Get Links","path":"firmware.directory","pathType":"flow","filename":"payload.files","filenameType":"msg","link":"payload.links","linkType":"msg","x":1408.5,"y":1101.3333740234375,"wires":[["72fe9fc8.06d8a"]]},{"id":"2b080f69.072ac","type":"fs-ops-dir","z":"d35d3e3c.012f8","name":"Firmware listing","path":"firmware.directory","pathType":"flow","filter":"*.bin","filterType":"str","dir":"payload.files","dirType":"msg","x":1166.03564453125,"y":1101.8016357421875,"wires":[["c14ec76c.b80b38"]]},{"id":"675324a6.c1310c","type":"httpInMultipart","z":"d35d3e3c.012f8","name":"OTA Upload","url":"/ota","method":"post","fields":"[{ \"name\": \"firmware\"}]","swaggerDoc":"","x":901.7856979370117,"y":1207.4286303520203,"wires":[["ac188661.af8658"]]},{"id":"496d20a8.7e19d","type":"exec","z":"ca195f7d.105ad","command":"cat /sys/devices/virtual/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":651.9124603271484,"y":228.4374771118164,"wires":[["48e1251f.6c928c"],["48e1251f.6c928c"],[]]},{"id":"48e1251f.6c928c","type":"debug","z":"ca195f7d.105ad","name":"","active":true,"console":"false","complete":"false","x":1019.9093551635742,"y":214.4718780517578,"wires":[]},{"id":"10eb1d1.cfe48e3","type":"inject","z":"ca195f7d.105ad","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":311.9093704223633,"y":227.38747692108154,"wires":[["496d20a8.7e19d"]]},{"id":"62fe8557.62214c","type":"file in","z":"d35d3e3c.012f8","name":"Load Firmware","filename":"","format":"","sendError":false,"x":1683.0003662109375,"y":699.9286479949951,"wires":[["e02a8182.66be9"]]},{"id":"5b9fe793.b852a8","type":"change","z":"d35d3e3c.012f8","name":"Add file name","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.params.version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1446.4909896850586,"y":700.6001329421997,"wires":[["62fe8557.62214c"]]},{"id":"e02a8182.66be9","type":"md5","z":"d35d3e3c.012f8","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"req.headers.md5","hashFieldType":"msg","x":1944.3913879394531,"y":701.0001811981201,"wires":[["69e9234a.12e4fc"]]},{"id":"ec13052e.98d3f8","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"req.headers","x":2466.8246002197266,"y":577.5336265563965,"wires":[]},{"id":"69e9234a.12e4fc","type":"function","z":"d35d3e3c.012f8","name":"Add MD5 to Header","func":"msg.headers = { 'md5': msg.req.headers.md5,\n                'x-MD5': msg.req.headers.md5 }\nreturn msg;","outputs":1,"noerr":0,"x":2201.557403564453,"y":701.533579826355,"wires":[["ec13052e.98d3f8","ba1a3fcc.59f8b"]]},{"id":"2a62014e.6c500e","type":"switch","z":"d35d3e3c.012f8","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"esp-32","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":1075.500015258789,"y":575.0000095367432,"wires":[["af1a621d.430a"],["5b9fe793.b852a8"]]},{"id":"9182e129.d665b","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"req.headers","x":1126.099967956543,"y":439.39996337890625,"wires":[]},{"id":"19fffd4b.f5d653","type":"http response","z":"d35d3e3c.012f8","name":"OTA Response","statusCode":"","headers":{},"x":1664.8000679016113,"y":1328.5999329686165,"wires":[]},{"id":"f2243f55.ceba6","type":"http response","z":"d35d3e3c.012f8","name":"OTA Response","statusCode":"","headers":{},"x":1468.4999313354492,"y":1207.0000414848328,"wires":[]},{"id":"14498fd5.613ce","type":"http response","z":"d35d3e3c.012f8","name":"OTA Response","statusCode":"","headers":{},"x":1937.2000312805176,"y":1100.799991607666,"wires":[]},{"id":"6a2c562c.94ec68","type":"http response","z":"d35d3e3c.012f8","name":"OTA Response","statusCode":"","headers":{},"x":1953.0000228881836,"y":412.6000061035156,"wires":[]}]