flows_orangepipc2.json
[{"id":"c53e18e8.6deec8","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"6e40f9a1.99e438","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"e943c030.60141","type":"tab","label":"Orange Pi PC2","disabled":false,"info":""},{"id":"94fe4d3b.bfbfe","type":"tab","label":"E-ink photo frame","disabled":false,"info":""},{"id":"b9e299af.17d938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"afb87cdc.16d18","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0805ed9.10d2a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"131a45ea.c2cdca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab618ed5.3282e","type":"ui_group","z":"","name":"Температура","tab":"2117e69e.a49d1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2117e69e.a49d1a","type":"ui_tab","z":"","name":"Метео панель","icon":"dashboard","order":1},{"id":"9e60afd4.c92a6","type":"ui_tab","z":"","name":"Свет","icon":"dashboard","order":2},{"id":"8549576f.ec0758","type":"ui_group","z":"","name":"Никитына комната","tab":"9e60afd4.c92a6","order":2,"disp":true,"width":"6"},{"id":"96c1a38f.95213","type":"ui_tab","z":"","name":"Settings","icon":"dashboard"},{"id":"c1ba9783.6bb348","type":"ui_group","z":"","name":"Orange Pi","tab":"96c1a38f.95213","order":2,"disp":true,"width":"6"},{"id":"e2259787.be1398","type":"ui_group","z":"","name":"Термометр на улице","tab":"96c1a38f.95213","order":3,"disp":true,"width":"6"},{"id":"4a9ff3dd.51582c","type":"ui_group","z":"","name":"Влажность","tab":"2117e69e.a49d1a","disp":true,"width":"6","collapse":false},{"id":"a91bf7eb.001d58","type":"ui_group","z":"","name":"Давление за 3 дня","tab":"2117e69e.a49d1a","disp":true,"width":"6","collapse":false},{"id":"c7f7b8d9.0b7918","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4dab23d9.812fbc","type":"ui_group","z":"","name":"Weather","tab":"96c1a38f.95213","order":4,"disp":true,"width":"6"},{"id":"c3282703.c5d988","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"fb575cf8.32657","type":"exec","z":"e943c030.60141","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["fb4a11eb.7fa5b"],[],[]]},{"id":"e553617f.ddd9f","type":"inject","z":"e943c030.60141","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["fb575cf8.32657"]]},{"id":"195e13cf.1076ac","type":"ui_switch","z":"c53e18e8.6deec8","name":"Nik's lamp","label":"Лампа над диваном","group":"8549576f.ec0758","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WittyCloud1/relay","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":690,"y":820,"wires":[["6e02c79b.933868","b7d6bfce.63de1"]]},{"id":"42852006.3ebb4","type":"ui_gauge","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":1,"width":"3","height":"3","gtype":"gage","title":"На улице","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":589.1000366210938,"y":151.60006713867188,"wires":[]},{"id":"f0fbb45.3e35748","type":"mqtt in","z":"c53e18e8.6deec8","name":"","topic":"WittyCloud/temp","qos":"2","broker":"131a45ea.c2cdca","x":145.09999084472656,"y":130.1999969482422,"wires":[["42852006.3ebb4","5535580b.f3ccd8","1e6be9c5.7e3d96"]]},{"id":"1f9897b8.cc6ea8","type":"ui_text","z":"e943c030.60141","group":"c1ba9783.6bb348","order":1,"width":0,"height":0,"name":"","label":"Температура процессора","format":"{{msg.payload}}°C","layout":"row-spread","x":760,"y":120,"wires":[]},{"id":"fc8a7350.3e6e9","type":"mqtt in","z":"c53e18e8.6deec8","name":"WittyCloud/light","topic":"WittyCloud/light","qos":"2","broker":"131a45ea.c2cdca","x":146.61338424682617,"y":417.5154514312744,"wires":[["46b5bcda.a26814"]]},{"id":"46b5bcda.a26814","type":"ui_text","z":"c53e18e8.6deec8","group":"8549576f.ec0758","order":2,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":558.6133270263672,"y":416.91045093536377,"wires":[]},{"id":"5535580b.f3ccd8","type":"ui_chart","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":3,"width":"0","height":"0","label":"На улице за 7 дней","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":718.7799072265625,"y":233.3599853515625,"wires":[["4f2b329b.b7a69c"],[]]},{"id":"3e70e262.daa5fe","type":"stoptimer","z":"c53e18e8.6deec8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":382.83338928222656,"y":620.7554540634155,"wires":[["195e13cf.1076ac"],[]]},{"id":"1ac4c29b.63244d","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":4,"width":0,"height":0,"passthru":false,"label":"15 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":110.83329010009766,"y":619.9554510116577,"wires":[["32917394.f2729c","3e70e262.daa5fe"]]},{"id":"b7d6bfce.63de1","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":904.8333358764648,"y":607.5555143356323,"wires":[]},{"id":"6e02c79b.933868","type":"mqtt out","z":"c53e18e8.6deec8","name":"Light ON/OFF","topic":"","qos":"","retain":"","broker":"131a45ea.c2cdca","x":908.4335556030273,"y":819.5557241439819,"wires":[]},{"id":"4c50b0cd.943a","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":6,"width":0,"height":0,"passthru":false,"label":"1 Hour","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":109.2332992553711,"y":743.9554834365845,"wires":[["30d28f5d.d851a","32917394.f2729c"]]},{"id":"66ea25bb.3a759c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":5,"width":0,"height":0,"passthru":false,"label":"30 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":111.23329544067383,"y":683.9554796218872,"wires":[["32917394.f2729c","928717e7.98fe18"]]},{"id":"c8dfdf6.f573a2","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":7,"width":0,"height":0,"passthru":false,"label":"Stop","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":113.23330688476562,"y":817.9555101394653,"wires":[["3e70e262.daa5fe","928717e7.98fe18","30d28f5d.d851a","32917394.f2729c","a1b98027.8b6b6"]]},{"id":"928717e7.98fe18","type":"stoptimer","z":"c53e18e8.6deec8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":383.2332992553711,"y":680.7554559707642,"wires":[["195e13cf.1076ac"],[]]},{"id":"30d28f5d.d851a","type":"stoptimer","z":"c53e18e8.6deec8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":375.2332992553711,"y":736.7554578781128,"wires":[["195e13cf.1076ac"],[]]},{"id":"32917394.f2729c","type":"function","z":"c53e18e8.6deec8","name":"Light ON/OFF","func":"if(msg.payload === \"STOP\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"0\"\n}\nelse if(msg.payload === \"0\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":412.73329162597656,"y":817.6554460525513,"wires":[["195e13cf.1076ac"]]},{"id":"b1d02545.d0c1c8","type":"inject","z":"e943c030.60141","name":"Reboot","topic":"","payload":"reboot","payloadType":"str","repeat":"10800","crontab":"","once":false,"onceDelay":"","x":145.30001831054688,"y":404.0666790008545,"wires":[["3afc7fdf.c52fa"]]},{"id":"3afc7fdf.c52fa","type":"exec","z":"e943c030.60141","command":"/sbin/reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":401.30003356933594,"y":408.1000289916992,"wires":[[],[],[]]},{"id":"25c4debd.96ff82","type":"file in","z":"c53e18e8.6deec8","name":"restore from file","filename":"/root/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":345,"y":231.5,"wires":[["18b4d6df.1749d9"]]},{"id":"4f2b329b.b7a69c","type":"file","z":"c53e18e8.6deec8","name":"backup to file","filename":"/root/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":942,"y":225.99998092651367,"wires":[]},{"id":"d68e7561.692168","type":"inject","z":"c53e18e8.6deec8","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":144.99999237060547,"y":232.49999809265137,"wires":[["25c4debd.96ff82"]]},{"id":"18b4d6df.1749d9","type":"json","z":"c53e18e8.6deec8","name":"","pretty":true,"x":538,"y":231.5,"wires":[["5535580b.f3ccd8"]]},{"id":"1e6be9c5.7e3d96","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":532.3000335693359,"y":85.13333892822266,"wires":[]},{"id":"d87eb1cc.93266","type":"mqtt out","z":"c53e18e8.6deec8","name":"Tempreture read Period","topic":"WittyCloud1/setReadTempPeriod","qos":"","retain":"","broker":"131a45ea.c2cdca","x":692.1333847045898,"y":939.55544090271,"wires":[]},{"id":"9ba64b3f.3d8018","type":"ui_button","z":"e943c030.60141","name":"","group":"c1ba9783.6bb348","order":2,"width":"3","height":"1","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":136.90936279296875,"y":484.83435821533203,"wires":[["3afc7fdf.c52fa"]]},{"id":"9cd036be.fd05b8","type":"ui_numeric","z":"c53e18e8.6deec8","name":"","label":"Период опроса датчика (милисекунд)","group":"e2259787.be1398","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":367.74275970458984,"y":938.2927703857422,"wires":[["d87eb1cc.93266","daba45c6.3662d8"]]},{"id":"daba45c6.3662d8","type":"debug","z":"c53e18e8.6deec8","name":"","active":true,"console":"false","complete":"false","x":670.7427597045898,"y":1047.702311515808,"wires":[]},{"id":"80387d06.9ae1d","type":"inject","z":"c53e18e8.6deec8","name":"","topic":"","payload":"300000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":125.74898529052734,"y":938.9366607666016,"wires":[["9cd036be.fd05b8"]]},{"id":"8b6387eb.96bb68","type":"debug","z":"94fe4d3b.bfbfe","name":"","active":false,"console":"false","complete":"false","x":922.9124870300293,"y":328.5467748641968,"wires":[]},{"id":"58c73a82.1702f4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"ESP32_1/status","qos":"2","broker":"131a45ea.c2cdca","x":299.9093475341797,"y":327.2843780517578,"wires":[["8b6387eb.96bb68","ab3e84a9.688c98"]]},{"id":"7a3067c.3ee2998","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"131a45ea.c2cdca","x":332.91249084472656,"y":624.287483215332,"wires":[["e8ca2572.43be58","8b6387eb.96bb68"]]},{"id":"33079f0f.ee8c4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"131a45ea.c2cdca","x":319.9093360900879,"y":707.2842922210693,"wires":[["8d0ba26d.4b80f","8b6387eb.96bb68"]]},{"id":"e8ca2572.43be58","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"В кухне","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":707.9124603271484,"y":621.7843704223633,"wires":[]},{"id":"8d0ba26d.4b80f","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"в Кухне","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":709.9093627929688,"y":707.7874755859375,"wires":[]},{"id":"8542e443.7fe468","type":"mqtt out","z":"94fe4d3b.bfbfe","name":"","topic":"Weather/update","qos":"","retain":"","broker":"131a45ea.c2cdca","x":940,"y":420,"wires":[]},{"id":"ab3e84a9.688c98","type":"function","z":"94fe4d3b.bfbfe","name":"Trigger weather update","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["8542e443.7fe468","8b6387eb.96bb68"]]},{"id":"20e4b37f.14bd9c","type":"opi_in","z":"e943c030.60141","name":"Pin 13 - PA0","opi":true,"enableInterrupt":"","edge":"","debounce":"","select":"PC","pin":"0","x":310,"y":660,"wires":[["a5801fa9.edb63","a6ea2f67.c0e"]]},{"id":"a5801fa9.edb63","type":"debug","z":"e943c030.60141","name":"","active":false,"console":"false","complete":"false","x":950,"y":660,"wires":[]},{"id":"27d68b3f.3d39f4","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":true,"onceDelay":"120","x":110,"y":660,"wires":[["20e4b37f.14bd9c"]]},{"id":"998fa7e8.2a9368","type":"exec","z":"e943c030.60141","command":"/sbin/shutdown -h 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":940,"wires":[["a5801fa9.edb63"],["a5801fa9.edb63"],["a5801fa9.edb63"]]},{"id":"a6ea2f67.c0e","type":"function","z":"e943c030.60141","name":"Trigger on 1","func":"if (msg.payload === 1){\n    return msg;\n}","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["aeae2269.501de"]]},{"id":"2feb972b.7c00c8","type":"inject","z":"6e40f9a1.99e438","name":"Get weather","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":"","x":460,"y":360,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"ad1f22e.d1108e","type":"debug","z":"6e40f9a1.99e438","name":"","active":true,"console":"false","complete":"payload","x":1069.999855041504,"y":322.00002098083496,"wires":[]},{"id":"2b266a9c.d5ac66","type":"openweathermap","z":"6e40f9a1.99e438","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Kherson","country":"Ukraine","language":"ru","x":687.9999847412109,"y":325.0000171661377,"wires":[["291d3c05.51f5e4","ad1f22e.d1108e","453b5cac.002a94"]]},{"id":"4b109e43.e1e7b","type":"comment","z":"6e40f9a1.99e438","name":"85caa036010dce285793ea9a1a494fea","info":"https://openweathermap.org/weather-conditions","x":586.8999519348145,"y":439.64055252075195,"wires":[]},{"id":"291d3c05.51f5e4","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.icon.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":863.9061279296875,"y":464.7437114715576,"wires":[["ad1f22e.d1108e","413fa13f.5f82f"]]},{"id":"413fa13f.5f82f","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showIcon","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1120.8998718261719,"y":465.4843225479126,"wires":[]},{"id":"1b6eb7fd.d508b8","type":"ui_button","z":"6e40f9a1.99e438","name":"","group":"4dab23d9.812fbc","order":0,"width":0,"height":0,"passthru":true,"label":"Get weather","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":407.99060821533203,"y":268.98439502716064,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"e8383199.fedcc","type":"mqtt in","z":"6e40f9a1.99e438","name":"","topic":"Weather/update","qos":"2","broker":"c7f7b8d9.0b7918","x":194.9030532836914,"y":269.27186012268066,"wires":[["1b6eb7fd.d508b8"]]},{"id":"453b5cac.002a94","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":860.9999847412109,"y":540.0000171661377,"wires":[["3e3e3938.bbde56","ad1f22e.d1108e"]]},{"id":"3e3e3938.bbde56","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showWind","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1122.999984741211,"y":539.0000171661377,"wires":[]},{"id":"67d85f1f.ff777","type":"exec","z":"6e40f9a1.99e438","command":"date '+%A %d %b'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630.9905700683594,"y":205.98439407348633,"wires":[["cbb69e6d.af9e5","ad1f22e.d1108e"],[],[]]},{"id":"3082e4a.bda4f1c","type":"inject","z":"6e40f9a1.99e438","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":430,"y":200,"wires":[["67d85f1f.ff777"]]},{"id":"cbb69e6d.af9e5","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Date","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":903.4507293701172,"y":193.71745109558105,"wires":[]},{"id":"742184f3.96275c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":3,"width":0,"height":0,"passthru":false,"label":"5 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":110,"y":560,"wires":[["32917394.f2729c","a1b98027.8b6b6"]]},{"id":"a1b98027.8b6b6","type":"stoptimer","z":"c53e18e8.6deec8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":560,"wires":[["195e13cf.1076ac"],[]]},{"id":"fb4a11eb.7fa5b","type":"function","z":"e943c030.60141","name":"29296 => 29","func":"msg.payload = msg.payload.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["1f9897b8.cc6ea8"]]},{"id":"aeae2269.501de","type":"delay","z":"e943c030.60141","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":840,"wires":[["998fa7e8.2a9368"]]},{"id":"7ccf7b2b.d8aaf4","type":"function","z":"e943c030.60141","name":"Split BME280 message","func":"if(msg.payload.startsWith(\"BME280\")){\n    var temp = { payload:msg.payload.split(\"|\")[1]};\n    var press = { payload:msg.payload.split(\"|\")[2]};\n    var hum = {payload:msg.payload.split(\"|\")[3]};\n    return [temp, press, hum];\n} ","outputs":3,"noerr":0,"x":340,"y":1160,"wires":[["af4ecc2.8a1633","eb87330d.9113b","ab770557.e788d8"],["de7e3644.4e7d08","eb12715.49ae89","ab770557.e788d8"],["3905d845.b2e688","892ef54e.3f1cc8","ab770557.e788d8"]],"outputLabels":["temperature","pressure","humidity"]},{"id":"3905d845.b2e688","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/humidity","qos":"","retain":"","broker":"afb87cdc.16d18","x":630,"y":1200,"wires":[]},{"id":"de7e3644.4e7d08","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/pressure","qos":"","retain":"","broker":"afb87cdc.16d18","x":630,"y":1120,"wires":[]},{"id":"af4ecc2.8a1633","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/temp","qos":"","retain":"","broker":"afb87cdc.16d18","x":620,"y":1040,"wires":[]},{"id":"eb87330d.9113b","type":"ui_gauge","z":"e943c030.60141","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"У Никиты","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":694.9999694824219,"y":1297.4968872070312,"wires":[]},{"id":"892ef54e.3f1cc8","type":"ui_gauge","z":"e943c030.60141","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"у Никиты","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":685.9968147277832,"y":1398.4999752044678,"wires":[]},{"id":"fea69441.23a278","type":"ui_chart","z":"e943c030.60141","name":"","group":"a91bf7eb.001d58","order":0,"width":0,"height":0,"label":"hPa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1030","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d323b0","#008000","#2ca02c","#98df8a","#d62728","#0000ff","#9467bd","#c5b0d5"],"useOldStyle":false,"x":855.9093933105469,"y":1558.2029647827148,"wires":[["a76228f7.0f1698"],[]]},{"id":"f2e2e776.e2ec78","type":"inject","z":"e943c030.60141","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":259.4968566894531,"y":1559.2436752319336,"wires":[["dd4d67ed.ec8b98"]]},{"id":"dd4d67ed.ec8b98","type":"file in","z":"e943c030.60141","name":"restore from file","filename":"/root/pressure_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":460.49686431884766,"y":1559.2436771392822,"wires":[["fd4139e1.7cafe8"]]},{"id":"fd4139e1.7cafe8","type":"json","z":"e943c030.60141","name":"","pretty":true,"x":653.4968643188477,"y":1559.2436771392822,"wires":[["fea69441.23a278"]]},{"id":"a76228f7.0f1698","type":"file","z":"e943c030.60141","name":"backup to file","filename":"/root/pressure_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1045.4970169067383,"y":1551.7436866760254,"wires":[]},{"id":"eb12715.49ae89","type":"function","z":"e943c030.60141","name":"Max/min","func":"var norm = {};\n\nnorm.payload = 1013;\nnorm.topic = \"norm\"\nreturn [norm, msg];","outputs":"2","noerr":0,"x":638.4968566894531,"y":1493.7436752319336,"wires":[["fea69441.23a278"],["fea69441.23a278"]]},{"id":"d0001c32.cc62","type":"exec","z":"e943c030.60141","command":"ip -4 addr show eth0 | grep -oP '(?<=inet\\s)\\d+(\\.\\d+){3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get IP","x":780,"y":480,"wires":[["e7bf0325.ed55b"],[],[]]},{"id":"c2b4bb89.709d88","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":480,"wires":[["d0001c32.cc62"]]},{"id":"8c4d48aa.887b98","type":"debug","z":"e943c030.60141","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":400,"wires":[]},{"id":"e7bf0325.ed55b","type":"function","z":"e943c030.60141","name":"Add terminator","func":"var ip = msg.payload.substring(0, msg.payload.length - 1) + \"|\";\nmsg.payload = ip\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":300,"wires":[["8c4d48aa.887b98","69e0a34e.3c1aac"]]},{"id":"ab770557.e788d8","type":"debug","z":"e943c030.60141","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":980,"wires":[]},{"id":"97b8fdc3.439ac","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"afb87cdc.16d18","x":560,"y":340,"wires":[["b5c72a60.c66e68"]]},{"id":"567192ef.34095c","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"BME280/temp","qos":"2","broker":"afb87cdc.16d18","x":510,"y":420,"wires":[["9e945fe6.e48fb"]]},{"id":"719955ec.962b8c","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"afb87cdc.16d18","x":550,"y":500,"wires":[["237f287c.d83278"]]},{"id":"34ff4eef.5f2362","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"BME280/humidity","qos":"2","broker":"afb87cdc.16d18","x":520,"y":580,"wires":[["505691c2.36d41"]]},{"id":"2fa617b9.321f98","type":"function","z":"b9e299af.17d938","name":"Show 2 temps difference  on chart","func":"msg1 = {};\nmsg1.topic = \"BME-DTH\";\nvar bme = flow.get(\"BME\") || 0;\nvar dth = flow.get(\"DTH\") || 0;\nmsg1.payload = bme - dth;\nreturn msg1;\n","outputs":2,"noerr":0,"x":800,"y":180,"wires":[[],[]]},{"id":"b5c72a60.c66e68","type":"function","z":"b9e299af.17d938","name":"Save DTH","func":"flow.set(\"DTH\", msg.payload);","outputs":1,"noerr":0,"x":830,"y":340,"wires":[[]]},{"id":"9e945fe6.e48fb","type":"function","z":"b9e299af.17d938","name":"Save BME","func":"flow.set(\"BME\", msg.payload);","outputs":1,"noerr":0,"x":810,"y":420,"wires":[[]]},{"id":"7eacc1d1.f2e4","type":"inject","z":"b9e299af.17d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["2fa617b9.321f98"]]},{"id":"89af228.51e8be","type":"function","z":"b9e299af.17d938","name":"Show 2 humidities difference on chart","func":"msg1 = {};\nmsg1.topic = \"DTH_H-BME_H\";\nvar bme = flow.get(\"BME_H\") || 0;\nvar dth = flow.get(\"DTH_H\") || 0;\nmsg1.payload = dth - bme;\nreturn msg1;\n","outputs":2,"noerr":0,"x":810,"y":240,"wires":[[],[]]},{"id":"afeda194.04d06","type":"inject","z":"b9e299af.17d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":240,"wires":[["89af228.51e8be"]]},{"id":"237f287c.d83278","type":"function","z":"b9e299af.17d938","name":"Save DTH_H","func":"flow.set(\"DTH_H\", msg.payload);","outputs":1,"noerr":0,"x":780,"y":500,"wires":[[]]},{"id":"505691c2.36d41","type":"function","z":"b9e299af.17d938","name":"Save BME_H","func":"flow.set(\"BME_H\", msg.payload);","outputs":1,"noerr":0,"x":770,"y":580,"wires":[[]]},{"id":"e99a2667.631ad8","type":"serial in","z":"e943c030.60141","name":"Serial","serial":"c3282703.c5d988","x":90,"y":1160,"wires":[["7ccf7b2b.d8aaf4","ab770557.e788d8"]]},{"id":"69e0a34e.3c1aac","type":"serial out","z":"e943c030.60141","name":"","serial":"c3282703.c5d988","x":1060,"y":220,"wires":[]},{"id":"5176fccb.cf4db4","type":"comment","z":"e943c030.60141","name":"Get serial number","info":"$ dmesg | grep ttyS\n","x":130,"y":1240,"wires":[]}]