flows_orangepizero.json
[{"id":"b2c89108.09595","type":"tab","label":"Flow 1"},{"id":"d35d3e3c.012f8","type":"tab","label":"ESP8266"},{"id":"9a788825.9c84a8","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false,"responsetimeout":"10000"},{"id":"7e7a553.df437ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"913336ba.a1cb58","type":"function","z":"b2c89108.09595","name":"Buffer for Nextion","func":"var str = msg.payload;\nvar buf = [];\n\nfor (var i=0, l = str.length; i < l; i++) {\n    var ascii = str.charCodeAt(i);\n    buf.push(ascii);\n}\nbuf.push(255);\nbuf.push(255);\nbuf.push(255);\n\nmsg.payload = new Buffer(buf);\n\nreturn msg;","outputs":1,"noerr":0,"x":722.0000076293945,"y":216.00000286102295,"wires":[["748472d6.5f32fc"]]},{"id":"dd73bcf0.83f7","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"x":96,"y":219.00000381469727,"wires":[["1556a58d.3f30ca"]]},{"id":"3eb38683.45195a","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"var text = msg.payload.split(',')[0];\nmsg.payload = \"t0.txt=\\\"\" + text + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":495.00000762939453,"y":217.00000286102295,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"748472d6.5f32fc","type":"serial out","z":"b2c89108.09595","name":"Serial","serial":"9a788825.9c84a8","x":905.1000137329102,"y":216.40001487731934,"wires":[]},{"id":"e9082016.580f4","type":"debug","z":"b2c89108.09595","name":"","active":false,"console":"false","complete":"false","x":725.1000556945801,"y":107.4000129699707,"wires":[]},{"id":"bd42f003.ba158","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"6","crontab":"","once":false,"x":94,"y":281,"wires":[["d9cee52e.d2d3f8"]]},{"id":"d9cee52e.d2d3f8","type":"random","z":"b2c89108.09595","name":"Random temp","low":"20","high":"30","inte":"false","property":"payload","x":257.1000061035156,"y":280.5999984741211,"wires":[["63401e82.d967d"]]},{"id":"63401e82.d967d","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"var temp = msg.payload.toFixed(1);\nmsg.payload = \"t1.txt=\\\"\" + temp + \" C\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":493.00000762939453,"y":278.9999990463257,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"7fa4fe7d.9be8c","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"7","crontab":"","once":false,"x":94,"y":344,"wires":[["25931476.0d247c"]]},{"id":"25931476.0d247c","type":"random","z":"b2c89108.09595","name":"Random humid","low":"45","high":"60","inte":"true","property":"payload","x":257.1000061035156,"y":343.5999984741211,"wires":[["a3bdcd2.148f63"]]},{"id":"a3bdcd2.148f63","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"msg.payload = \"t2.txt=\\\"\" + msg.payload + \" %\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":493.00000762939453,"y":341.9999990463257,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"63358d07.ac1094","type":"inject","z":"b2c89108.09595","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"8","crontab":"","once":false,"x":94,"y":409,"wires":[["2451d963.04eff6"]]},{"id":"2451d963.04eff6","type":"random","z":"b2c89108.09595","name":"Random pressure","low":"1000","high":"1020","inte":"true","property":"payload","x":267.1000061035156,"y":408.5999984741211,"wires":[["59718ae7.4567b4"]]},{"id":"59718ae7.4567b4","type":"function","z":"b2c89108.09595","name":"Format for text field","func":"msg.payload = \"t3.txt=\\\"\" + msg.payload + \" hPa\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":493.00000762939453,"y":406.9999990463257,"wires":[["913336ba.a1cb58","e9082016.580f4"]]},{"id":"1556a58d.3f30ca","type":"exec","z":"b2c89108.09595","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":255.10000228881836,"y":217.90001487731934,"wires":[["3eb38683.45195a"],[],[]]},{"id":"98afed9f.91f01","type":"http in","z":"d35d3e3c.012f8","name":"OTA Request","url":"/esp8266-ota/update/:version","method":"get","upload":false,"swaggerDoc":"","x":84.5,"y":115,"wires":[["af1a621d.430a"]]},{"id":"ba1a3fcc.59f8b","type":"http response","z":"d35d3e3c.012f8","name":"OTA Response","x":3348.5597534179688,"y":594.107177734375,"wires":[]},{"id":"ad48e8d4.994928","type":"file in","z":"d35d3e3c.012f8","name":"Load Firmware","filename":"","format":"","sendError":false,"x":2643.499870300293,"y":376.92858695983887,"wires":[["ba1a3fcc.59f8b","21862e15.e32922","61f8a31c.c47d8c"]]},{"id":"744380fe.74416","type":"change","z":"d35d3e3c.012f8","name":"No Update","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2955.607421875,"y":238.5714111328125,"wires":[["ba1a3fcc.59f8b"]]},{"id":"d8428b0.3670e78","type":"change","z":"d35d3e3c.012f8","name":"Forbidden","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Forbidden (Connect from ESP)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2933.499755859375,"y":115.89285278320312,"wires":[["ba1a3fcc.59f8b"]]},{"id":"af1a621d.430a","type":"switch","z":"d35d3e3c.012f8","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":303.71435546875,"y":114.99999237060547,"wires":[["d8428b0.3670e78"],["903c27df.31da88","9182e129.d665b","bcc3da04.cad608"]]},{"id":"903c27df.31da88","type":"switch","z":"d35d3e3c.012f8","name":"Update type","property":"req.headers.x-esp8266-mode","propertyType":"msg","rules":[{"t":"eq","v":"spiffs","vt":"str"},{"t":"eq","v":"sketch","vt":"str"}],"checkall":"false","outputs":2,"x":533.0179710388184,"y":223.57143306732178,"wires":[["744380fe.74416"],["56468ecc.fbd12"]]},{"id":"33a0fd4f.99e232","type":"comment","z":"d35d3e3c.012f8","name":"Sketch","info":"","x":723.7856979370117,"y":294.1427917480469,"wires":[]},{"id":"8b647a47.325038","type":"comment","z":"d35d3e3c.012f8","name":"Spiffs","info":"","x":548.5000076293945,"y":161.99999141693115,"wires":[]},{"id":"6a02be46.baf1e","type":"http in","z":"d35d3e3c.012f8","name":"OTA Manager","url":"/esp8266-ota","method":"get","swaggerDoc":"","x":88.05558013916016,"y":648.2856712341309,"wires":[["2b080f69.072ac"]]},{"id":"9e445ef4.dfda4","type":"file","z":"d35d3e3c.012f8","name":"Save md5 Checksum","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1539.9998168945312,"y":845.8333740234375,"wires":[]},{"id":"74be5856.2789c8","type":"file in","z":"d35d3e3c.012f8","name":"Read firmware","filename":"","format":"","sendError":true,"x":842.0833740234375,"y":846.6666870117188,"wires":[["427dbc05.eea4a4"]]},{"id":"e8b89bd9.888188","type":"change","z":"d35d3e3c.012f8","name":"Extract filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.files.firmware[0].originalname","tot":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":619.375,"y":847.9166870117188,"wires":[["74be5856.2789c8"]]},{"id":"bc16d28f.3bb1","type":"change","z":"d35d3e3c.012f8","name":"","rules":[{"t":"change","p":"filename","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1225.625,"y":846.25,"wires":[["9e445ef4.dfda4"]]},{"id":"cd860fee.66142","type":"file in","z":"d35d3e3c.012f8","name":"Load Hash","filename":"","format":"utf8","sendError":false,"x":1743.910629272461,"y":321.82147216796875,"wires":[["c93a4a62.510848"]]},{"id":"c93a4a62.510848","type":"switch","z":"d35d3e3c.012f8","name":"Compare MD5 hash","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"req.headers.x-esp8266-sketch-md5","vt":"msg"},{"t":"else"}],"checkall":"false","outputs":2,"x":1954.91064453125,"y":322.1786193847656,"wires":[["744380fe.74416"],["bac4de7b.be89a"]]},{"id":"bac4de7b.be89a","type":"change","z":"d35d3e3c.012f8","name":"Save new MD5 Hash to response","rules":[{"t":"set","p":"headers.x-MD5","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"md5","fromt":"str","to":"bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2339.2857360839844,"y":377.0714416503906,"wires":[["ad48e8d4.994928"]]},{"id":"ca3e86cc.f119c8","type":"comment","z":"d35d3e3c.012f8","name":"Firmware Upgrade","info":"The system determines which firmware to send based\non the MAC address, version, and MD5 headers in the\nrequest from the ESP8266.\n\nFirstly, it checks if a firmware hash file with \nthe MAC address as the name exists, or else if a \nfirmware file with the version as the name exists.\nIf neither exist then no update is available.\n\nIt then reads the corresponding MD5 hash from the\nhash file and compares to the MD5 hash in the\nrequest.  If they match then the firmware is up\nto date and no update is required.\n\nOtherwise, it sends the contents of the firmware\nbin file and the MD5 hash value.","x":103.5,"y":46,"wires":[]},{"id":"aae0fb1a.95a5e8","type":"comment","z":"d35d3e3c.012f8","name":"Firmware Management","info":"","x":110.5,"y":542,"wires":[]},{"id":"9c008a3c.1ccfc8","type":"change","z":"d35d3e3c.012f8","name":"Get Version MD5 filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.headers.x-esp8266-version","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":".bin","fromt":"re","to":".md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.2857666015625,"y":439.6427917480469,"wires":[["1a346c89.251153","355e853c.f9407a"]]},{"id":"72fe9fc8.06d8a","type":"template","z":"d35d3e3c.012f8","name":"Firmware Manager","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>ESP8266 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            .file-btn-grp {\n                display: none;\n            }\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .link {\n                font-style: italic;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"esp8266-ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n\n        <div id=\"linkModal\" class=\"modal fade\" role=\"dialog\">\n            <div class=\"modal-dialog\">\n        \n                <!-- Modal content-->\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                        <h4 class=\"modal-title\">Create Symbolic Link</h4>\n                    </div>\n                    <div class=\"modal-body\">\n                        <form class=\"form-horizontal\" id=\"linkForm\" role=\"form\" action=\"#\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkName\">Link:</label> \n                                <div class=\"col-sm-10\">\n                                    <input id=\"linkName\" name=\"linkName\" class=\"form-control\"/>\n                                </div>\n                            </div>\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkFile\">To:</label> \n                                <div class=\"col-sm-10\">\n                                    <input class=\"form-control\" id=\"linkFile\" name=\"linkFile\"/>\n                                </div>\n                            </div>\n                        </form>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"submit\" class=\"btn btn-success link-create\">Create</button>\n                        <button type=\"button\" class=\"btn btn-warning\" data-dismiss=\"modal\">Cancel</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n            var linkButton = \"<button id='link' class='btn btn-success'>Link</button>\";\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n            var twoButtons = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + linkButton + \"</div>\";\n            \n            function addListEntry(list, filename, linkname) {\n            \n                var entry;\n                \n                if (linkname === undefined) {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + twoButtons + \"</div></li>\");\n                } else {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span class='link'>\" \n                    + filename + \"</span> <span class='glyphicon glyphicon-arrow-right'></span> \" \n                    + linkname + oneButton + \"</div></li>\");\n                }\n                \n                entry.mouseover(function(){\n                    $(this).find(\".btn-group\").fadeIn(\"fast\");\n                });\n                entry.mouseleave(function(){\n                    $(this).find(\".btn-group\").fadeOut(\"slow\");\n                });\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                entry.on(\"click\", \"button#link\", function(){\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $(\"#linkName\").val(\"\");\n                    $(\"#linkFile\").prop(\"disabled\", true).val(file);\n                    $(\"#linkName\").parent().removeClass(\"has-error\");\n                    $(\"#linkModal\").modal();\n                    $('#linkModal').on('shown.bs.modal', function () {\n                        $('#linkName').focus();\n                    });\n                });\n                \n                if (list.children().length == 0) {\n                    list.append(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            \n            var files = String(\"{{payload.files}}\").split(',');\n            var links = String(\"{{payload.links}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                if (links[index] == \"\") {\n                    addListEntry(this, file.slice(0,-4));\n                } else {\n                    addListEntry(this, file.slice(0,-4), links[index].slice(0,-4));\n                }\n            },list_of_items);\n           \n           \n            $(\"#linkModal\").on(\"click\", \"button.link-create\", function(event){\n               event.preventDefault();\n               if ($(\"#linkName\").val() == \"\") {\n                    $('#linkName').focus();\n                    $('#linkName').parent().addClass(\"has-error\");\n                    return false;\n               }\n               $(\"#linkFile\").prop(\"disabled\",false);               \n               $.ajax({\n                    type: 'PUT',\n                    data: $(\"#linkForm\").serialize(),\n                    success: function(result) {\n                        $(\"#linkModal\").modal('hide');\n                        addListEntry(list_of_items, $('#linkName').val(), $('#linkFile').val());\n                    },\n                    error: function(result) {\n                        $(\"#linkFile\").prop(\"disabled\", true);\n                        $('#linkName').focus();\n                        $('#linkName').parent().addClass(\"has-error\");\n                        $(linkForm).append(\"<div id='linkError' class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n                });\n            });\n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().slice(0,-4).split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>","output":"str","x":1381.3333740234375,"y":645.8135375976562,"wires":[["ba1a3fcc.59f8b"]]},{"id":"70afaf30.6148f","type":"http in","z":"d35d3e3c.012f8","name":"OTA Delete","url":"/esp8266-ota","method":"delete","swaggerDoc":"","x":83.125,"y":933.75,"wires":[["8cd04674.a77268"]]},{"id":"3c1718a9.d0c388","type":"catch","z":"d35d3e3c.012f8","name":"File Error","scope":["fa4a7800.012898","928b64d.639dd98","5eac46b2.34a108","7817c6e.fb8fd38","ac188661.af8658"],"x":1870.6665573120117,"y":805.3333158493042,"wires":[["26447836.0fb0e8"]]},{"id":"26447836.0fb0e8","type":"change","z":"d35d3e3c.012f8","name":"Error","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2159,"y":791,"wires":[["ba1a3fcc.59f8b"]]},{"id":"464adac2.434874","type":"change","z":"d35d3e3c.012f8","name":"Change to MD5 filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"bin","fromt":"str","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1879.1666564941406,"y":936.6666269302368,"wires":[["928b64d.639dd98"]]},{"id":"cf3b698f.a40078","type":"http in","z":"d35d3e3c.012f8","name":"OTA Link","url":"/esp8266-ota","method":"put","swaggerDoc":"","x":84,"y":1041.5,"wires":[["87c0b29b.768dd"]]},{"id":"87c0b29b.768dd","type":"change","z":"d35d3e3c.012f8","name":"Extract filename","rules":[{"t":"change","p":"payload.linkName","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"},{"t":"change","p":"payload.linkFile","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1385,"y":1044,"wires":[["5eac46b2.34a108"]]},{"id":"40d9b8d1.6ee5f8","type":"change","z":"d35d3e3c.012f8","name":"Change to MD5 Filename","rules":[{"t":"change","p":"payload.linkName","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"},{"t":"change","p":"payload.linkFile","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1908,"y":1045,"wires":[["7817c6e.fb8fd38"]]},{"id":"8cd04674.a77268","type":"change","z":"d35d3e3c.012f8","name":"Extract filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1382.5,"y":937.5,"wires":[["fa4a7800.012898"]]},{"id":"5726e6bf.d06448","type":"debug","z":"d35d3e3c.012f8","name":"Firmware sent","active":true,"console":"false","complete":"payload","x":689.499870300293,"y":1579.0000352859497,"wires":[]},{"id":"56468ecc.fbd12","type":"switch","z":"d35d3e3c.012f8","name":"","property":"req.headers.x-esp8266-version","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":724.9642143249512,"y":343.7856707572937,"wires":[["9c008a3c.1ccfc8"],["dc049fe.214e06"]]},{"id":"dc049fe.214e06","type":"change","z":"d35d3e3c.012f8","name":"Version in Request","rules":[{"t":"set","p":"req.headers.x-esp8266-version","pt":"msg","to":"req.params.version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":916.4285278320312,"y":512.8571166992188,"wires":[["9c008a3c.1ccfc8"]]},{"id":"bcc3da04.cad608","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"req.params","x":602.4285430908203,"y":85.28577899932861,"wires":[]},{"id":"7468110a.400d7","type":"debug","z":"d35d3e3c.012f8","name":"Firmware file error","active":false,"console":"false","complete":"error","x":2917.714370727539,"y":327.14283657073975,"wires":[]},{"id":"19d9d937.698637","type":"catch","z":"d35d3e3c.012f8","name":"File error","scope":["ad48e8d4.994928","cd860fee.66142"],"x":2627.8572387695312,"y":328.5714111328125,"wires":[["744380fe.74416","7468110a.400d7"]]},{"id":"23bb8d17.ee3812","type":"config","z":"d35d3e3c.012f8","name":"Firmware Config","properties":[{"p":"firmware.directory","pt":"flow","to":"/root/firmware/","tot":"str"}],"active":true,"x":123.0714111328125,"y":360.1428527832031,"wires":[]},{"id":"ac188661.af8658","type":"fs-ops-move","z":"d35d3e3c.012f8","name":"Store firmware","sourcePath":"req.files.firmware[0].destination","sourcePathType":"msg","sourceFilename":"req.files.firmware[0].filename","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"req.files.firmware[0].originalname","destFilenameType":"msg","link":false,"x":362.89282989501953,"y":814.3332395553589,"wires":[["e8b89bd9.888188","ba1a3fcc.59f8b"]]},{"id":"5eac46b2.34a108","type":"fs-ops-move","z":"d35d3e3c.012f8","name":"Link firmware","sourcePath":"","sourcePathType":"str","sourceFilename":"payload.linkFile","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"payload.linkName","destFilenameType":"msg","link":true,"x":1644.5,"y":1044,"wires":[["40d9b8d1.6ee5f8"]]},{"id":"7817c6e.fb8fd38","type":"fs-ops-move","z":"d35d3e3c.012f8","name":"Link MD5","sourcePath":"","sourcePathType":"str","sourceFilename":"payload.linkFile","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"payload.linkName","destFilenameType":"msg","link":true,"x":2152.5,"y":1044,"wires":[["ba1a3fcc.59f8b"]]},{"id":"fa4a7800.012898","type":"fs-ops-delete","z":"d35d3e3c.012f8","name":"Delete firmware","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":1628.6250457763672,"y":936.5832777023315,"wires":[["464adac2.434874"]]},{"id":"928b64d.639dd98","type":"fs-ops-delete","z":"d35d3e3c.012f8","name":"Delete MD5 Hash","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":2170.833206176758,"y":936.6665878295898,"wires":[["ba1a3fcc.59f8b"]]},{"id":"1a346c89.251153","type":"fs-ops-access","z":"d35d3e3c.012f8","name":"Check for MD5 file exists","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1496.7857055664062,"y":439.7142028808594,"wires":[["cd860fee.66142"],["744380fe.74416"]]},{"id":"c14ec76c.b80b38","type":"fs-ops-link","z":"d35d3e3c.012f8","name":"Get Links","path":"firmware.directory","pathType":"flow","filename":"payload.files","filenameType":"msg","link":"payload.links","linkType":"msg","x":776.4999923706055,"y":648.3333110809326,"wires":[["72fe9fc8.06d8a"]]},{"id":"2b080f69.072ac","type":"fs-ops-dir","z":"d35d3e3c.012f8","name":"Firmware listing","path":"firmware.directory","pathType":"flow","filter":"*.bin","filterType":"str","dir":"payload.files","dirType":"msg","x":493.0355987548828,"y":647.8015928268433,"wires":[["c14ec76c.b80b38"]]},{"id":"675324a6.c1310c","type":"httpInMultipart","z":"d35d3e3c.012f8","name":"OTA Upload","url":"/esp8266-ota","method":"post","fields":"[{ \"name\": \"firmware\"}]","swaggerDoc":"","x":79.7857437133789,"y":812.4286108016968,"wires":[["ac188661.af8658"]]},{"id":"427dbc05.eea4a4","type":"md5","z":"d35d3e3c.012f8","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"payload","hashFieldType":"msg","x":1031.6668090820312,"y":846.6666259765625,"wires":[["bc16d28f.3bb1"]]},{"id":"9182e129.d665b","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"req.headers","x":612.0999374389648,"y":42.399953842163086,"wires":[]},{"id":"ed68ae18.6909e","type":"mqtt in","z":"d35d3e3c.012f8","name":"","topic":"Client_Name/sensor_value","qos":"2","broker":"7e7a553.df437ac","x":359.9156036376953,"y":1305.2874221801758,"wires":[["86376203.61d7"]]},{"id":"86376203.61d7","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"false","x":669.9093780517578,"y":1304.4686012268066,"wires":[]},{"id":"2581adf3.43cdc2","type":"mqtt out","z":"d35d3e3c.012f8","name":"","topic":"Sender_2/topic_2","qos":"","retain":"","broker":"7e7a553.df437ac","x":692.9124603271484,"y":1429.4218215942383,"wires":[]},{"id":"5688c2c0.563dac","type":"inject","z":"d35d3e3c.012f8","name":"","topic":"","payload":"15000","payloadType":"str","repeat":"","crontab":"","once":false,"x":321.9124526977539,"y":1514.3812398910522,"wires":[["2581adf3.43cdc2"]]},{"id":"3a8ce10a.2907de","type":"inject","z":"d35d3e3c.012f8","name":"","topic":"","payload":"5000","payloadType":"num","repeat":"","crontab":"","once":false,"x":316.9156036376953,"y":1421.3874588012695,"wires":[["2581adf3.43cdc2"]]},{"id":"fe03dde8.4d7a9","type":"mqtt in","z":"d35d3e3c.012f8","name":"","topic":"Client_Name/status","qos":"2","broker":"7e7a553.df437ac","x":346.9093475341797,"y":1221.2874221801758,"wires":[["86376203.61d7"]]},{"id":"57198137.92739","type":"file","z":"d35d3e3c.012f8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":null,"y":null,"wires":[]},{"id":"9be95b9a.1a7108","type":"file","z":"d35d3e3c.012f8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":null,"y":null,"wires":[]},{"id":"21862e15.e32922","type":"change","z":"d35d3e3c.012f8","name":"Firmware sent message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Firmware: s0(s1) sent to reciever mac:s2","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"s0","fromt":"re","to":"req.headers.x-esp8266-version","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"s1","fromt":"str","to":"headers.x-MD5","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"s2","fromt":"re","to":"req.headers.x-esp8266-ap-mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3003.5120544433594,"y":377.4530506134033,"wires":[["cac3d736.ea83f8"]]},{"id":"355e853c.f9407a","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"filename","x":1439.7093353271484,"y":314.4718704223633,"wires":[]},{"id":"61f8a31c.c47d8c","type":"debug","z":"d35d3e3c.012f8","name":"","active":true,"console":"false","complete":"req.headers","x":2998.5123138427734,"y":511.4686965942383,"wires":[]},{"id":"cac3d736.ea83f8","type":"mqtt out","z":"d35d3e3c.012f8","name":"","topic":"OTA_log","qos":"","retain":"","broker":"7e7a553.df437ac","x":3356.715316772461,"y":450.41873931884766,"wires":[]},{"id":"38249398.b698bc","type":"mqtt in","z":"d35d3e3c.012f8","name":"","topic":"OTA_log","qos":"2","broker":"7e7a553.df437ac","x":325.9093475341797,"y":1583.2842483520508,"wires":[["5726e6bf.d06448"]]}]