flows_raspberrypi.json
[{"id":"d1bee08f.46262","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"1d338830.3248a8","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"ab703e2c.55887","type":"tab","label":"Raspberry pi","disabled":false,"info":""},{"id":"91f9f06e.2f699","type":"tab","label":"E-ink photo frame","disabled":false,"info":""},{"id":"7c4b5d9.aad69a4","type":"tab","label":"Nextion HMI","disabled":true,"info":""},{"id":"fa5ca788.b966a8","type":"tab","label":"ESP32_weatherStation","disabled":false,"info":""},{"id":"829bb3ab.ab04f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f151d55.656914","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"41d96726.6df538","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3168c880.180228","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aafddfb4.ed939","type":"websocket-listener","z":"","path":"/ws/timer","wholemsg":"false"},{"id":"ec34d6ef.56e4a8","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"7ae4f3.25fafb0c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58e3c3a0.3f242c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d6af6c6.b19159","type":"ui_group","z":"","name":"Settings","tab":"90ef58de.506668","order":3,"disp":true,"width":"6","collapse":false},{"id":"5076fe89.1af888","type":"ui_tab","z":"","name":"Климат","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4080e421.c34094","type":"ui_group","z":"","name":"Температура","tab":"5076fe89.1af888","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfcd91e.03a4af","type":"ui_group","z":"","name":"Weather","tab":"5076fe89.1af888","order":3,"disp":true,"width":"6","collapse":false},{"id":"90ef58de.506668","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1d8ccb2c.b858a5","type":"ui_group","z":"","name":"Balcony light","tab":"58e3c3a0.3f242c","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb746a36.b70ef8","type":"ui_group","z":"","name":"Влажность","tab":"5076fe89.1af888","order":2,"disp":true,"width":"6","collapse":false},{"id":"d764f9f3.0c9b48","type":"Generic BLE","z":"","localName":"","address":"5c:0a:42:3b:b8:23","uuid":"5c0a423bb823","muteNotifyEvents":false,"operationTimeout":"10000","characteristics":[]},{"id":"ec4142fc.e9519","type":"Generic BLE","z":"","localName":"","address":"","uuid":"","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"3d888018.b56a6","type":"exec","z":"ab703e2c.55887","command":"/opt/vc/bin/vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["83fac0a5.aeba4"],[],[]]},{"id":"667fd8e4.46a458","type":"inject","z":"ab703e2c.55887","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["3d888018.b56a6"]]},{"id":"57984077.d758d","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/temp","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":690.0999984741211,"y":705.1999998092651,"wires":[["4bfd2e15.95f05","be93f4e6.eab298"]]},{"id":"7883a544.c27b4c","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/light","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":681.6134033203125,"y":1013.0154418945312,"wires":[["652c20b9.28056"]]},{"id":"7274a57.d9afd5c","type":"debug","z":"d1bee08f.46262","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1987.1061172485352,"y":1394.600998878479,"wires":[]},{"id":"34f92aef.7d08b6","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/relay","qos":"","retain":"","broker":"41d96726.6df538","x":1998.8880920410156,"y":1501.1466302871704,"wires":[]},{"id":"28428234.947b9e","type":"function","z":"d1bee08f.46262","name":"Light ON/OFF","func":"//if stopped recieved from timer\nif(msg.payload === \"STOP\"){\n    msg.payload = \"0\"\n}\n// if any other button pressed\nelse {\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1517.7332077026367,"y":1500.155424118042,"wires":[["27f220f8.e2b9b"]]},{"id":"9ef4eb53.ba2d88","type":"exec","z":"ab703e2c.55887","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":360,"y":400,"wires":[[],[],[]]},{"id":"92d4a649.3253f8","type":"file in","z":"d1bee08f.46262","name":"restore from file","filename":"/home/pi/.node-red/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":875.0000076293945,"y":772.5000009536743,"wires":[["483cf901.50ecb8"]]},{"id":"a936514a.82fe7","type":"file","z":"d1bee08f.46262","name":"backup to file","filename":"/home/pi/.node-red/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1559.5000228881836,"y":773.4999885559082,"wires":[[]]},{"id":"614658b5.e81e78","type":"inject","z":"d1bee08f.46262","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":677.5000076293945,"y":772.5000038146973,"wires":[["92d4a649.3253f8"]]},{"id":"483cf901.50ecb8","type":"json","z":"d1bee08f.46262","name":"","pretty":true,"x":1073.000015258789,"y":771.5000042915344,"wires":[["ad6bb85b.98aae8"]]},{"id":"3d0fca29.adee96","type":"debug","z":"d1bee08f.46262","name":"","active":true,"console":"false","complete":"false","x":1118.3000564575195,"y":620.633339881897,"wires":[]},{"id":"2882b4bc.3af74c","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/setReadTempPeriod","qos":"","retain":"","broker":"41d96726.6df538","x":1515.0000076293945,"y":1772.5000009536743,"wires":[]},{"id":"f6a77bd5.0c09e8","type":"debug","z":"d1bee08f.46262","name":"","active":true,"console":"false","complete":"false","x":1463.6093826293945,"y":1880.6468715667725,"wires":[]},{"id":"efa19f1a.6d7e1","type":"inject","z":"d1bee08f.46262","name":"","topic":"","payload":"600000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":1075.9488525390625,"y":1760.992431640625,"wires":[["65944c2e.c0ad04","2882b4bc.3af74c","f6a77bd5.0c09e8"]]},{"id":"9d8c1109.7866e","type":"debug","z":"91f9f06e.2f699","name":"","active":true,"console":"false","complete":"false","x":922.9124870300293,"y":328.5467748641968,"wires":[]},{"id":"fcbb0b1d.30bd68","type":"mqtt in","z":"91f9f06e.2f699","name":"","topic":"ESP32_1/status","qos":"2","broker":"41d96726.6df538","x":299.9093475341797,"y":327.2843780517578,"wires":[["9d8c1109.7866e","d3dfe3e.77dfb2"]]},{"id":"3843e2b3.b14c1e","type":"mqtt in","z":"91f9f06e.2f699","name":"","topic":"DHT_21/temperature","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":312.91249084472656,"y":624.287483215332,"wires":[["f24b10cf.f24da","9d8c1109.7866e"]]},{"id":"adfaf4d2.570318","type":"mqtt in","z":"91f9f06e.2f699","name":"","topic":"DHT_21/humidity","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":289.9093360900879,"y":707.2842922210693,"wires":[["36c9e4d3.b9946c","9d8c1109.7866e"]]},{"id":"25369dc4.42e082","type":"mqtt out","z":"91f9f06e.2f699","name":"","topic":"Weather/update","qos":"","retain":"","broker":"41d96726.6df538","x":940,"y":420,"wires":[]},{"id":"d3dfe3e.77dfb2","type":"function","z":"91f9f06e.2f699","name":"Trigger weather update","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["25369dc4.42e082","9d8c1109.7866e"]]},{"id":"90d87372.1530a","type":"debug","z":"ab703e2c.55887","name":"","active":true,"console":"false","complete":"false","x":1110,"y":720,"wires":[]},{"id":"10b6e11b.958e1f","type":"exec","z":"ab703e2c.55887","command":"sudo shutdown -h 0","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":860,"y":940,"wires":[["90d87372.1530a"],["90d87372.1530a"],["90d87372.1530a"]]},{"id":"b18b7e64.19ccf","type":"function","z":"ab703e2c.55887","name":"Trigger on 0","func":"if (msg.payload === 0){\n    return msg;\n}","outputs":1,"noerr":0,"x":495,"y":717,"wires":[["7ec64dff.227cb4"]]},{"id":"821f1c46.c387f","type":"inject","z":"1d338830.3248a8","name":"Get weather","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":"","x":460,"y":360,"wires":[["d36792f9.5d335","f54d9d1b.6f323"]]},{"id":"2de0943d.bbff4c","type":"debug","z":"1d338830.3248a8","name":"","active":false,"console":"false","complete":"payload","x":1069.999855041504,"y":322.00002098083496,"wires":[]},{"id":"1dae45c7.34ca9a","type":"comment","z":"1d338830.3248a8","name":"85caa036010dce285793ea9a1a494fea","info":"https://openweathermap.org/weather-conditions","x":586.8999519348145,"y":439.64055252075195,"wires":[]},{"id":"a71d1ed4.023ff","type":"function","z":"1d338830.3248a8","name":"Get icon id","func":"msg.payload = msg.payload.icon.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":863.9061279296875,"y":464.7437114715576,"wires":[["2de0943d.bbff4c","af772e2b.d8d96"]]},{"id":"af772e2b.d8d96","type":"mqtt out","z":"1d338830.3248a8","name":"","topic":"Wheather/showIcon","qos":"","retain":"","broker":"3168c880.180228","x":1120.8998718261719,"y":465.4843225479126,"wires":[]},{"id":"ca8e2080.88bd3","type":"mqtt in","z":"1d338830.3248a8","name":"","topic":"Weather/update","qos":"2","broker":"3168c880.180228","x":194.9030532836914,"y":269.27186012268066,"wires":[["25d0ee5c.4fe482"]]},{"id":"14c853f8.190d0c","type":"function","z":"1d338830.3248a8","name":"Get icon id","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":860.9999847412109,"y":540.0000171661377,"wires":[["6c37cd65.776a94","2de0943d.bbff4c"]]},{"id":"6c37cd65.776a94","type":"mqtt out","z":"1d338830.3248a8","name":"","topic":"Wheather/showWind","qos":"","retain":"","broker":"3168c880.180228","x":1122.999984741211,"y":539.0000171661377,"wires":[]},{"id":"f54d9d1b.6f323","type":"exec","z":"1d338830.3248a8","command":"date '+%A %d %b'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630.9905700683594,"y":205.98439407348633,"wires":[["3bf8b0dd.12fa3","2de0943d.bbff4c"],[],[]]},{"id":"a0927e74.30329","type":"inject","z":"1d338830.3248a8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":430,"y":200,"wires":[["f54d9d1b.6f323"]]},{"id":"3bf8b0dd.12fa3","type":"mqtt out","z":"1d338830.3248a8","name":"","topic":"Date","qos":"","retain":"","broker":"3168c880.180228","x":903.4507293701172,"y":193.71745109558105,"wires":[]},{"id":"7ec64dff.227cb4","type":"delay","z":"ab703e2c.55887","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":745,"y":718,"wires":[["b66d4fdf.2609a"]]},{"id":"83fa2d98.48c57","type":"exec","z":"ab703e2c.55887","command":"ifconfig wlan0 | grep inet | awk '{ print $2 }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get IP","x":810,"y":460,"wires":[["3f1a2fb6.47ebd"],[],[]]},{"id":"6fdef8b7.653f18","type":"inject","z":"ab703e2c.55887","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":460,"wires":[["83fa2d98.48c57"]]},{"id":"8a0726cc.bd0498","type":"debug","z":"ab703e2c.55887","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":460,"wires":[]},{"id":"3f1a2fb6.47ebd","type":"function","z":"ab703e2c.55887","name":"Add terminator","func":"var ip = msg.payload.split(\"\\n\")[0];\nmsg.payload = ip\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["8a0726cc.bd0498"]]},{"id":"89cc40c8.641cf","type":"websocket in","z":"d1bee08f.46262","name":"","server":"aafddfb4.ed939","client":"","x":695.0000076293945,"y":1112.5000009536743,"wires":[["6f688a75.0681c4","e48292af.0425e","73f2ebf0.bd7ad4","7cdcf3d7.dca55c","1d75a70e.2f9819"]]},{"id":"6f688a75.0681c4","type":"function","z":"d1bee08f.46262","name":"5 min","func":"if(msg.payload == \"5\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":945.0000076293945,"y":1112.5000009536743,"wires":[["67148bf9.94fd44"]]},{"id":"e48292af.0425e","type":"function","z":"d1bee08f.46262","name":"15 min","func":"if(msg.payload == \"15\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":945.0000076293945,"y":1172.5000009536743,"wires":[["44874199.5f045"]]},{"id":"73f2ebf0.bd7ad4","type":"function","z":"d1bee08f.46262","name":"30 min","func":"if(msg.payload == \"30\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":945.0000228881836,"y":1236.1363859176636,"wires":[["5167bb5b.f43464"]]},{"id":"7cdcf3d7.dca55c","type":"function","z":"d1bee08f.46262","name":"60 min","func":"if(msg.payload == \"60\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":945.0000038146973,"y":1296.1363534927368,"wires":[["c83c21f7.fc753"]]},{"id":"1d75a70e.2f9819","type":"function","z":"d1bee08f.46262","name":"stop","func":"if(msg.payload == \"stop\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":945.9091033935547,"y":1368.8636388778687,"wires":[["df86728d.dbc2c"]]},{"id":"652c20b9.28056","type":"websocket out","z":"d1bee08f.46262","name":"","server":"aafddfb4.ed939","client":"","x":1126,"y":1014.5,"wires":[]},{"id":"aae901a5.b68b4","type":"http response","z":"d1bee08f.46262","name":"","statusCode":"","headers":{},"x":1085.0000076293945,"y":1532.5000009536743,"wires":[]},{"id":"715bf17d.cc136","type":"http in","z":"d1bee08f.46262","name":"","url":"/timer","method":"get","upload":false,"swaggerDoc":"","x":706.0000076293945,"y":1532.5000009536743,"wires":[["2cb1a9ee.d9b836"]]},{"id":"2cb1a9ee.d9b836","type":"template","z":"d1bee08f.46262","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n<head>\n    <title>Nikita's lamp</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/timer\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"timer\", \"ws/timer\");\n\n        function wsConnect() {\n            console.log(\"connect\", wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function (msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p> Light level: \" + data + \"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('light_level').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function () {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function () {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect, 3000);\n            }\n        }\n\n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    <style type=\"text/css\" media=\"screen\">\n        .bt {\n            background: #333;\n            color: #fdfdfd;\n            height: 150px;\n            display: block;\n            margin-left: auto;\n            margin-right: auto;\n            margin-top: 50px;\n            margin-right: auto;\n            width: 40%;\n            border-radius: 15px;\n            border: 0;\n            font-size: 40px;\n            text-align: center;\n        }\n\n        .main {\n            text-align: center;\n            font-size: 40px;\n            text-align: center;\n        }\n    </style>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n    <font face=\"Arial\">\n        <div class=\"main\">\n            <h1>Lamp timer</h1>\n            <div id=\"status\">unknown</div>\n            <div id=\"light_level\"></div>\n            <button type=\"button\" onclick='doit(\"5\");' class=\"bt\">5 minutes</button>\n            <button type=\"button\" onclick='doit(\"15\");' class=\"bt\">15 minutes</button>\n            <button type=\"button\" onclick='doit(\"30\");' class=\"bt\">30 minutes</button>\n            <button type=\"button\" onclick='doit(\"60\");' class=\"bt\">1 Hour</button>\n            <button type=\"button\" onclick='doit(\"stop\");' class=\"bt\">stop</button>\n        </div>\n    </font>\n</body>\n</html>\n","x":913.0000076293945,"y":1532.5000009536743,"wires":[["aae901a5.b68b4"]]},{"id":"fdd25b40.7287f8","type":"rpi-gpio in","z":"ab703e2c.55887","name":"","pin":"36","intype":"down","debounce":"25","read":false,"x":260,"y":716,"wires":[["b18b7e64.19ccf"]]},{"id":"83fac0a5.aeba4","type":"function","z":"ab703e2c.55887","name":"Format string","func":"var temp = msg.payload.split(\"=\")[1].split(\"'\")[0];\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["8d06f723.3a27c8","8a0726cc.bd0498"]]},{"id":"f51aff16.6f9c8","type":"exec","z":"ab703e2c.55887","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":260,"wires":[["bc4de7a5.bac678"],[],[]]},{"id":"9beca5da.7d5598","type":"inject","z":"ab703e2c.55887","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["f51aff16.6f9c8"]]},{"id":"df6ea11a.2208c","type":"serial out","z":"7c4b5d9.aad69a4","name":"Serial","serial":"ec34d6ef.56e4a8","x":1790,"y":420,"wires":[]},{"id":"3ee7e37a.01c56c","type":"function","z":"7c4b5d9.aad69a4","name":"Buffer for Nextion","func":"var str = msg.payload;\nvar buf = [];\n\nfor (var i=0, l = str.length; i < l; i++) {\n    var ascii = str.charCodeAt(i);\n    buf.push(ascii);\n}\nbuf.push(255);\nbuf.push(255);\nbuf.push(255);\n\nmsg.payload = new Buffer(buf);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":420,"wires":[["df6ea11a.2208c"]]},{"id":"6609c4.de10c63c","type":"inject","z":"7c4b5d9.aad69a4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"onceDelay":"","x":730,"y":420,"wires":[["3b94de8e.64f842"]]},{"id":"f06a279d.e73a98","type":"function","z":"7c4b5d9.aad69a4","name":"Format for text field","func":"var text = msg.payload.split(',')[0];\nmsg.payload = \"t0.txt=\\\"\" + text + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1143,"y":421,"wires":[["3ee7e37a.01c56c","f5e66e72.76b8e"]]},{"id":"bacaa295.d31f4","type":"function","z":"7c4b5d9.aad69a4","name":"Format for text field","func":"var temp = Number(msg.payload).toFixed(1);\nmsg.payload = \"t1.txt=\\\"\" + temp + \" C\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":482.99999618530273,"wires":[["3ee7e37a.01c56c","f5e66e72.76b8e"]]},{"id":"c4b00f1c.5caec","type":"function","z":"7c4b5d9.aad69a4","name":"Format for text field","func":"msg.payload = \"t2.txt=\\\"\" + msg.payload + \" %\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":545.9999961853027,"wires":[["3ee7e37a.01c56c","f5e66e72.76b8e"]]},{"id":"b9f4a98f.628168","type":"function","z":"7c4b5d9.aad69a4","name":"Format for text field","func":"msg.payload = \"t3.txt=\\\"\" + msg.payload + \" hPa\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":610.9999961853027,"wires":[["3ee7e37a.01c56c","f5e66e72.76b8e"]]},{"id":"3b94de8e.64f842","type":"exec","z":"7c4b5d9.aad69a4","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":903.0999946594238,"y":421.9000120162964,"wires":[["f06a279d.e73a98"],[],[]]},{"id":"30fd9f66.0a551","type":"mqtt in","z":"7c4b5d9.aad69a4","name":"","topic":"BME280/temp","qos":"2","broker":"4f151d55.656914","x":870,"y":480,"wires":[["bacaa295.d31f4"]]},{"id":"30010c77.a08f34","type":"mqtt in","z":"7c4b5d9.aad69a4","name":"","topic":"BME280/humidity","qos":"2","broker":"4f151d55.656914","x":880,"y":540,"wires":[["c4b00f1c.5caec"]]},{"id":"fcd14bf8.5edfe8","type":"mqtt in","z":"7c4b5d9.aad69a4","name":"","topic":"BME280/pressure","qos":"2","broker":"4f151d55.656914","x":890,"y":620,"wires":[["b9f4a98f.628168"]]},{"id":"f5e66e72.76b8e","type":"debug","z":"7c4b5d9.aad69a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":340,"wires":[]},{"id":"7aa7f0e7.a6fba","type":"function","z":"7c4b5d9.aad69a4","name":"Format for screen backlight","func":"msg.payload = \"dim=\" + msg.payload ;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":700,"wires":[["3ee7e37a.01c56c"]]},{"id":"79654cd6.4b9724","type":"mqtt in","z":"fa5ca788.b966a8","name":"","topic":"ESP32_E_Paper_Screen/humidity","qos":"2","broker":"4f151d55.656914","x":600,"y":340,"wires":[["48a7f60d.490168","65e0d2d4.bd5edc"]]},{"id":"48a7f60d.490168","type":"debug","z":"fa5ca788.b966a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":60,"wires":[]},{"id":"4756bced.e0e6c4","type":"mqtt in","z":"fa5ca788.b966a8","name":"","topic":"ESP32_E_Paper_Screen/temperature","qos":"2","broker":"4f151d55.656914","x":610,"y":420,"wires":[["48a7f60d.490168","56357ae9.afd5a4","153d744e.bc4d9c"]]},{"id":"2a0e88d2.e34158","type":"function","z":"fa5ca788.b966a8","name":"show prev/last message time","func":"msg.payload = msg.mytimes;\nvar prev = { payload:flow.get('lastUpdate') || \"\"};\nvar last = { payload:msg.mytimes};\nflow.set('lastUpdate', msg.mytimes);\nreturn [prev, last]","outputs":2,"noerr":0,"x":1180,"y":560,"wires":[["48a7f60d.490168"],["48a7f60d.490168"]],"outputLabels":["prev","last"]},{"id":"c53c466.12e35b8","type":"function","z":"fa5ca788.b966a8","name":"reset messageCount","func":"flow.set('messageCount', 0)\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":740,"wires":[[]]},{"id":"64f85255.1bb8ec","type":"function","z":"fa5ca788.b966a8","name":"show messageCount","func":"var mc = flow.get('messageCount') || 0;\nif( mc === 0){\n    flow.set('firstMessage', msg.mydate + \" \" + msg.mytime);\n}\nvar first = { payload:flow.get('firstMessage')};\nmc = mc + 1;\nflow.set('messageCount', mc);\nvar count = { payload:mc};\nreturn [first, count];","outputs":2,"noerr":0,"x":1160,"y":660,"wires":[[],[]],"outputLabels":["first","count"]},{"id":"44874199.5f045","type":"ui_button","z":"d1bee08f.46262","name":"","group":"1d8ccb2c.b858a5","order":3,"width":0,"height":0,"passthru":true,"label":"15 Min","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1145.8332977294922,"y":1172.455451965332,"wires":[["68d07662.289c98","28428234.947b9e"]]},{"id":"c83c21f7.fc753","type":"ui_button","z":"d1bee08f.46262","name":"","group":"1d8ccb2c.b858a5","order":5,"width":0,"height":0,"passthru":true,"label":"1 Hour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1144.2333068847656,"y":1296.4554843902588,"wires":[["1f1ae3fe.3a6dcc","28428234.947b9e"]]},{"id":"5167bb5b.f43464","type":"ui_button","z":"d1bee08f.46262","name":"","group":"1d8ccb2c.b858a5","order":4,"width":0,"height":0,"passthru":true,"label":"30 Min","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1146.2333030700684,"y":1236.4554805755615,"wires":[["2e862613.2a970a","28428234.947b9e"]]},{"id":"df86728d.dbc2c","type":"ui_button","z":"d1bee08f.46262","name":"","group":"1d8ccb2c.b858a5","order":6,"width":0,"height":0,"passthru":true,"label":"Stop","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":1148.2333145141602,"y":1370.4555110931396,"wires":[["68d07662.289c98","2e862613.2a970a","1f1ae3fe.3a6dcc","e6822774.f5e248","28428234.947b9e"]]},{"id":"880e773b.7df848","type":"ui_button","z":"ab703e2c.55887","name":"","group":"d6af6c6.b19159","order":3,"width":"3","height":"1","passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["9ef4eb53.ba2d88"]]},{"id":"25d0ee5c.4fe482","type":"ui_button","z":"1d338830.3248a8","name":"","group":"d6af6c6.b19159","order":0,"width":0,"height":0,"passthru":true,"label":"Get weather","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":407.99060821533203,"y":268.98439502716064,"wires":[["d36792f9.5d335","f54d9d1b.6f323"]]},{"id":"67148bf9.94fd44","type":"ui_button","z":"d1bee08f.46262","name":"","group":"1d8ccb2c.b858a5","order":2,"width":0,"height":0,"passthru":true,"label":"5 Min","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1145.0000076293945,"y":1112.5000009536743,"wires":[["e6822774.f5e248","28428234.947b9e"]]},{"id":"27f220f8.e2b9b","type":"ui_switch","z":"d1bee08f.46262","name":"","label":"Big","tooltip":"","group":"1d8ccb2c.b858a5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1763.181957244873,"y":1501.5909986495972,"wires":[["34f92aef.7d08b6","7274a57.d9afd5c"]]},{"id":"45a33396.80323c","type":"ui_slider","z":"7c4b5d9.aad69a4","name":"","label":"Screen brightness","tooltip":"","group":"d6af6c6.b19159","order":4,"width":"6","height":"2","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"10","x":890,"y":700,"wires":[["7aa7f0e7.a6fba"]]},{"id":"8d06f723.3a27c8","type":"ui_text","z":"ab703e2c.55887","group":"d6af6c6.b19159","order":2,"width":0,"height":0,"name":"","label":"Температура процессора","format":"{{msg.payload}} °C","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"bc4de7a5.bac678","type":"ui_text","z":"ab703e2c.55887","group":"d6af6c6.b19159","order":1,"width":"6","height":"3","name":"","label":"Up time","format":"{{msg.payload}}","layout":"col-center","x":540,"y":240,"wires":[]},{"id":"4bfd2e15.95f05","type":"ui_gauge","z":"d1bee08f.46262","name":"","group":"4080e421.c34094","order":1,"width":"3","height":"3","gtype":"gage","title":"Большой балкон","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":1154.1000442504883,"y":704.1000680923462,"wires":[]},{"id":"f24b10cf.f24da","type":"ui_gauge","z":"91f9f06e.2f699","name":"","group":"4080e421.c34094","order":3,"width":"3","height":"3","gtype":"gage","title":"Кухня","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":707.9124603271484,"y":621.7843704223633,"wires":[]},{"id":"36c9e4d3.b9946c","type":"ui_gauge","z":"91f9f06e.2f699","name":"","group":"fb746a36.b70ef8","order":2,"width":"3","height":"3","gtype":"gage","title":"Кухня","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":709.9093627929688,"y":707.7874755859375,"wires":[]},{"id":"65e0d2d4.bd5edc","type":"ui_gauge","z":"fa5ca788.b966a8","name":"","group":"fb746a36.b70ef8","order":3,"width":"3","height":"3","gtype":"gage","title":"Спальня","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#ffff00","#1dd80e","#0000ff"],"seg1":"50","seg2":"60","x":1010,"y":340,"wires":[]},{"id":"56357ae9.afd5a4","type":"ui_gauge","z":"fa5ca788.b966a8","name":"","group":"4080e421.c34094","order":4,"width":"3","height":"3","gtype":"gage","title":"Спальня","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#0000ff","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":1010,"y":420,"wires":[]},{"id":"68d07662.289c98","type":"stoptimer","z":"d1bee08f.46262","duration":"15","units":"Minute","payloadtype":"str","payloadval":"0","name":"","x":1417.833396911621,"y":1173.2554550170898,"wires":[["27f220f8.e2b9b"],[]]},{"id":"2e862613.2a970a","type":"stoptimer","z":"d1bee08f.46262","duration":"30","units":"Minute","payloadtype":"str","payloadval":"0","name":"","x":1418.2333068847656,"y":1233.2554569244385,"wires":[["27f220f8.e2b9b"],[]]},{"id":"1f1ae3fe.3a6dcc","type":"stoptimer","z":"d1bee08f.46262","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":1410.2333068847656,"y":1289.255458831787,"wires":[["27f220f8.e2b9b"],[]]},{"id":"e6822774.f5e248","type":"stoptimer","z":"d1bee08f.46262","duration":"5","units":"Minute","payloadtype":"str","payloadval":"0","name":"","x":1415.0000076293945,"y":1112.5000009536743,"wires":[["27f220f8.e2b9b"],[]]},{"id":"d36792f9.5d335","type":"openweathermap","z":"1d338830.3248a8","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Lublin","country":"Poland","language":"en","x":687.9999847412109,"y":325.0000171661377,"wires":[["a71d1ed4.023ff","2de0943d.bbff4c","14c853f8.190d0c"]]},{"id":"f069b99e.ea6138","type":"timerswitch","z":"7c4b5d9.aad69a4","name":"Screen backlight","ontopic":"ScreenLight","offtopic":"ScreenLight","onpayload":"70","offpayload":"0","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"20","off_m":"00","off_s":"00","valid":true}],"x":680,"y":700,"wires":[["45a33396.80323c"]]},{"id":"153d744e.bc4d9c","type":"simpletime","z":"fa5ca788.b966a8","name":"","x":890,"y":560,"wires":[["2a0e88d2.e34158","64f85255.1bb8ec"]]},{"id":"bdb80b3e.c31668","type":"ui_button","z":"ab703e2c.55887","name":"","group":"d6af6c6.b19159","order":3,"width":"3","height":"1","passthru":true,"label":"Shut down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":603,"y":942,"wires":[["10b6e11b.958e1f"]]},{"id":"ea10b0cb.454d3","type":"ui_slider","z":"d1bee08f.46262","name":"","label":"Red","tooltip":"","group":"1d8ccb2c.b858a5","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":886.5000076293945,"y":2100.5000009536743,"wires":[["c41af350.18a6f","f0780c2d.d2dee"]]},{"id":"5bbee1b.5c6652","type":"ui_slider","z":"d1bee08f.46262","name":"","label":"Green","tooltip":"","group":"1d8ccb2c.b858a5","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":886.5000076293945,"y":2171.5000009536743,"wires":[["885392.7674fc7","f0780c2d.d2dee"]]},{"id":"d33dea79.5a4908","type":"ui_slider","z":"d1bee08f.46262","name":"","label":"Blue","tooltip":"","group":"1d8ccb2c.b858a5","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":888.5000076293945,"y":2247.5000009536743,"wires":[["35eb87a3.6daee8","f0780c2d.d2dee"]]},{"id":"c41af350.18a6f","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/red","qos":"","retain":"","broker":"41d96726.6df538","x":1180.0000076293945,"y":2097.5000009536743,"wires":[]},{"id":"f0780c2d.d2dee","type":"debug","z":"d1bee08f.46262","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1238.5000076293945,"y":2329.5000009536743,"wires":[]},{"id":"638171f4.c509f","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/playLed","qos":"","retain":"","broker":"4f151d55.656914","x":1194.5000076293945,"y":2012.5000009536743,"wires":[]},{"id":"2c01224d.ae432e","type":"ui_switch","z":"d1bee08f.46262","name":"","label":"RGD led","tooltip":"","group":"1d8ccb2c.b858a5","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":889.5000114440918,"y":2011.0000224113464,"wires":[["638171f4.c509f","f0780c2d.d2dee"]]},{"id":"885392.7674fc7","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/green","qos":"","retain":"","broker":"41d96726.6df538","x":1193.0000076293945,"y":2165.5000009536743,"wires":[]},{"id":"35eb87a3.6daee8","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/blue","qos":"","retain":"","broker":"41d96726.6df538","x":1195.0000076293945,"y":2229.5000009536743,"wires":[]},{"id":"65944c2e.c0ad04","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/setReadTempPeriod","qos":"","retain":"","broker":"41d96726.6df538","x":1518.0000076293945,"y":1708.5000009536743,"wires":[]},{"id":"4f8f3c8d.f50664","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/status","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":691.363639831543,"y":631.5909051895142,"wires":[["3d0fca29.adee96"]]},{"id":"6a038a0b.990d64","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/temp","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":688.6111907958984,"y":51.11112594604492,"wires":[["e9295dbd.445e3","e6f83f09.dec","afee97b3.b5a378"]]},{"id":"afee97b3.b5a378","type":"debug","z":"d1bee08f.46262","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1119.5000381469727,"y":50.3889045715332,"wires":[]},{"id":"1293b5af.eb01da","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/humidity","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":696.0000686645508,"y":129.72223472595215,"wires":[["95692eb.c4550d","3d5aa33d.b51e3c","afee97b3.b5a378"]]},{"id":"a61e6037.201ac","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/pressure","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":696.77783203125,"y":194.72222328186035,"wires":[["a9030bb9.1b7ac8","ff0b1910.81f6f8","afee97b3.b5a378"]]},{"id":"8e682876.3ce6d8","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/light","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":679.0000762939453,"y":264.63132190704346,"wires":[["afee97b3.b5a378"]]},{"id":"7c2674a9.242b6c","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/relay","qos":"","retain":"","broker":"41d96726.6df538","x":906.0000152587891,"y":481.50000381469727,"wires":[]},{"id":"5ca6dd5e.754a94","type":"ui_switch","z":"d1bee08f.46262","name":"","label":"Small","tooltip":"","group":"1d8ccb2c.b858a5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":657.5664596557617,"y":481.94427967071533,"wires":[["7c2674a9.242b6c"]]},{"id":"e9295dbd.445e3","type":"ui_gauge","z":"d1bee08f.46262","name":"","group":"4080e421.c34094","order":2,"width":"3","height":"3","gtype":"gage","title":"Малый балкон","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":1131.111183166504,"y":103.33332252502441,"wires":[]},{"id":"95692eb.c4550d","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"BME280/humidity","qos":"","retain":"","broker":"4f151d55.656914","x":1144.444351196289,"y":201.1111249923706,"wires":[]},{"id":"a9030bb9.1b7ac8","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"BME280/pressure","qos":"","retain":"","broker":"4f151d55.656914","x":1145.5556716918945,"y":252.2222137451172,"wires":[]},{"id":"e6f83f09.dec","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"BME280/temp","qos":"","retain":"","broker":"4f151d55.656914","x":1132.2221183776855,"y":149.99998378753662,"wires":[]},{"id":"3d5aa33d.b51e3c","type":"ui_gauge","z":"d1bee08f.46262","name":"","group":"fb746a36.b70ef8","order":1,"width":"3","height":"3","gtype":"gage","title":"Улица","label":"%","format":"{{value}}","min":"20","max":"100","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":1104.9999351501465,"y":302.50311756134033,"wires":[]},{"id":"d3cf879a.e28ca8","type":"inject","z":"d1bee08f.46262","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":681.111083984375,"y":412.2221984863281,"wires":[["d86a5bb3.967bb8"]]},{"id":"d86a5bb3.967bb8","type":"file in","z":"d1bee08f.46262","name":"restore from file","filename":"/home/pi/.node-red/pressure_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":882.1110916137695,"y":412.22220039367676,"wires":[["7af3fce3.315654"]]},{"id":"7af3fce3.315654","type":"json","z":"d1bee08f.46262","name":"","pretty":true,"x":1075.1110916137695,"y":412.22220039367676,"wires":[["a6eeedc0.934e8"]]},{"id":"db85f5f.359a508","type":"file","z":"d1bee08f.46262","name":"backup to file","filename":"/home/pi/.node-red/pressure_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1646.6668701171875,"y":415.8332824707031,"wires":[[]]},{"id":"ff0b1910.81f6f8","type":"function","z":"d1bee08f.46262","name":"Max/min","func":"var norm = {};\n\nnorm.payload = 990;\nnorm.topic = \"norm\"\nreturn [norm, msg];","outputs":"2","noerr":0,"x":1060.111083984375,"y":346.7221984863281,"wires":[["a6eeedc0.934e8"],["a6eeedc0.934e8"]]},{"id":"be93f4e6.eab298","type":"function","z":"d1bee08f.46262","name":"Temp1/Temp2","func":"if (msg.topic == 'WittyCloud2/temp'){\n    flow.set('WittyCloud2/temp', msg.payload);\n}\n\nif (msg.topic == 'WittyCloud1/temp'){\n    var temp2 = {};\n    temp2.payload = flow.get('WittyCloud2/temp') || msg.payload;\n    temp2.topic = \"Small\"\n    msg.topic ='Big'\n    return [temp2, msg];\n}","outputs":"2","noerr":0,"x":1024.3995819091797,"y":864.2333226203918,"wires":[["ad6bb85b.98aae8"],["ad6bb85b.98aae8"]]},{"id":"e5ce74f.a90e588","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/temp","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":692,"y":883,"wires":[["be93f4e6.eab298"]]},{"id":"a6eeedc0.934e8","type":"ui_chart","z":"d1bee08f.46262","name":"","group":"4080e421.c34094","order":6,"width":0,"height":0,"label":"Атмосферное давление (hPa)","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d323b0","#008000","#2ca02c","#98df8a","#d62728","#0000ff","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1358,"y":417,"wires":[["db85f5f.359a508"]]},{"id":"ad6bb85b.98aae8","type":"ui_chart","z":"d1bee08f.46262","name":"","group":"4080e421.c34094","order":5,"width":"0","height":"0","label":"На улице за 7 дней","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1308,"y":773,"wires":[["a936514a.82fe7"]]},{"id":"70595271.9bc16c","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/light","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":679,"y":2494,"wires":[["6c55a1d0.890b7"]]},{"id":"9871fcf7.ce06","type":"mqtt in","z":"d1bee08f.46262","name":"","topic":"WittyCloud1/light","qos":"2","datatype":"auto","broker":"41d96726.6df538","x":682,"y":2595,"wires":[["1185c542.710b3b"]]},{"id":"b66d4fdf.2609a","type":"delay","z":"ab703e2c.55887","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":687.0878562927246,"y":827.4835262298584,"wires":[["bdb80b3e.c31668"]]},{"id":"1eb3be14.78418a","type":"function","z":"d1bee08f.46262","name":"Clear chart","func":"msg.topic = \"Clear\";\nmsg.payload = [];\nreturn msg;\n","outputs":1,"noerr":0,"x":1035.7705203029907,"y":933.8134856575172,"wires":[["ad6bb85b.98aae8"]]},{"id":"5da794d8.5bdb0c","type":"inject","z":"d1bee08f.46262","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850.5657432696053,"y":940.30433086227,"wires":[["1eb3be14.78418a"]]},{"id":"c1298a90.0e6dd8","type":"mqtt out","z":"d1bee08f.46262","name":"","topic":"WittyCloud2/restart","qos":"","retain":"","broker":"41d96726.6df538","x":903,"y":552,"wires":[]},{"id":"4c00b918.1921f8","type":"inject","z":"d1bee08f.46262","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":653.5,"y":552,"wires":[["c1298a90.0e6dd8"]]},{"id":"6c55a1d0.890b7","type":"ui_gauge","z":"d1bee08f.46262","name":"","group":"4080e421.c34094","order":8,"width":"3","height":"3","gtype":"gage","title":"Освещенность 2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":942.5,"y":2493,"wires":[]},{"id":"1185c542.710b3b","type":"ui_gauge","z":"d1bee08f.46262","name":"","group":"4080e421.c34094","order":7,"width":"3","height":"3","gtype":"gage","title":"Освещенность 1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":942.5,"y":2595,"wires":[]},{"id":"ac105080.fee77","type":"Xiaomi BLE","z":"829bb3ab.ab04f","name":"111","address":"64:a6:30:9f:2a:aa","scanningTimeout":"30","x":627.5,"y":248,"wires":[["1b6f4f1a.62f881"]]},{"id":"1b6f4f1a.62f881","type":"debug","z":"829bb3ab.ab04f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":873.5,"y":259,"wires":[]},{"id":"a27af4e5.d0a538","type":"inject","z":"829bb3ab.ab04f","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":357.5,"y":245,"wires":[["ac105080.fee77"]]}]