flows_orangepipc2.json
[{"id":"a17d8f48.1341a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c53e18e8.6deec8","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"2ec4403b.8193a","type":"tab","label":"WittyCloud2","disabled":true,"info":""},{"id":"e943c030.60141","type":"tab","label":"OrangePi","disabled":false,"info":""},{"id":"6e40f9a1.99e438","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"94fe4d3b.bfbfe","type":"tab","label":"WemosD1Mini_1","disabled":false,"info":""},{"id":"749848ed.912728","type":"tab","label":"WemosD1Mini_2","disabled":false,"info":""},{"id":"afb87cdc.16d18","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0805ed9.10d2a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"131a45ea.c2cdca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab618ed5.3282e","type":"ui_group","z":"","name":"Температура","tab":"2117e69e.a49d1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2117e69e.a49d1a","type":"ui_tab","z":"","name":"Метео панель","icon":"dashboard","order":1},{"id":"9e60afd4.c92a6","type":"ui_tab","z":"","name":"Свет","icon":"dashboard","order":2},{"id":"8549576f.ec0758","type":"ui_group","z":"","name":"Никитына комната","tab":"9e60afd4.c92a6","order":2,"disp":true,"width":"6"},{"id":"2375257b.ad244a","type":"ui_group","z":"","name":"Датчик движения на кухне","tab":"96c1a38f.95213","order":1,"disp":true,"width":"6"},{"id":"96c1a38f.95213","type":"ui_tab","z":"","name":"Settings","icon":"dashboard"},{"id":"c1ba9783.6bb348","type":"ui_group","z":"","name":"Orange Pi","tab":"96c1a38f.95213","order":2,"disp":true,"width":"6"},{"id":"e2259787.be1398","type":"ui_group","z":"","name":"Термометр на улице","tab":"96c1a38f.95213","order":3,"disp":true,"width":"6"},{"id":"4a9ff3dd.51582c","type":"ui_group","z":"","name":"Влажность","tab":"2117e69e.a49d1a","disp":true,"width":"6","collapse":false},{"id":"a91bf7eb.001d58","type":"ui_group","z":"","name":"Давление за 3 дня","tab":"2117e69e.a49d1a","disp":true,"width":"6","collapse":false},{"id":"c7f7b8d9.0b7918","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4dab23d9.812fbc","type":"ui_group","z":"","name":"Weather","tab":"96c1a38f.95213","order":4,"disp":true,"width":"6"},{"id":"dffdc19a.9cc57","type":"mqtt out","z":"a17d8f48.1341a","name":"","topic":"test","qos":"","retain":"","broker":"afb87cdc.16d18","x":860,"y":220,"wires":[]},{"id":"1a2f1a5f.1923a6","type":"inject","z":"a17d8f48.1341a","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":220,"wires":[["dffdc19a.9cc57","b4fa8226.b3ec5"]]},{"id":"238f6db4.d74eb2","type":"mqtt in","z":"a17d8f48.1341a","name":"","topic":"test","qos":"2","broker":"afb87cdc.16d18","x":550,"y":460,"wires":[["3245afe9.f63ab"]]},{"id":"3245afe9.f63ab","type":"debug","z":"a17d8f48.1341a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":360,"wires":[]},{"id":"12c1675a.1a8909","type":"exec","z":"a17d8f48.1341a","command":"/sbin/reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":760,"y":480,"wires":[["3245afe9.f63ab"],["3245afe9.f63ab"],["3245afe9.f63ab"]]},{"id":"fb575cf8.32657","type":"exec","z":"e943c030.60141","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["fb4a11eb.7fa5b"],[],[]]},{"id":"e553617f.ddd9f","type":"inject","z":"e943c030.60141","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["fb575cf8.32657"]]},{"id":"195e13cf.1076ac","type":"ui_switch","z":"c53e18e8.6deec8","name":"Nik's lamp","label":"Лампа над диваном","group":"8549576f.ec0758","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WittyCloud1/relay","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":690,"y":820,"wires":[["6e02c79b.933868","b7d6bfce.63de1"]]},{"id":"42852006.3ebb4","type":"ui_gauge","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":1,"width":"3","height":"3","gtype":"gage","title":"На улице","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":589.1000366210938,"y":151.60006713867188,"wires":[]},{"id":"f0fbb45.3e35748","type":"mqtt in","z":"c53e18e8.6deec8","name":"","topic":"WittyCloud/temp","qos":"2","broker":"131a45ea.c2cdca","x":145.09999084472656,"y":130.1999969482422,"wires":[["42852006.3ebb4","5535580b.f3ccd8","1e6be9c5.7e3d96"]]},{"id":"1f9897b8.cc6ea8","type":"ui_text","z":"e943c030.60141","group":"c1ba9783.6bb348","order":1,"width":0,"height":0,"name":"","label":"Температура процессора","format":"{{msg.payload}}°C","layout":"row-spread","x":760,"y":120,"wires":[]},{"id":"fc8a7350.3e6e9","type":"mqtt in","z":"c53e18e8.6deec8","name":"WittyCloud/light","topic":"WittyCloud/light","qos":"2","broker":"131a45ea.c2cdca","x":146.61338424682617,"y":417.5154514312744,"wires":[["46b5bcda.a26814"]]},{"id":"46b5bcda.a26814","type":"ui_text","z":"c53e18e8.6deec8","group":"8549576f.ec0758","order":2,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":558.6133270263672,"y":416.91045093536377,"wires":[]},{"id":"5535580b.f3ccd8","type":"ui_chart","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":3,"width":"0","height":"0","label":"На улице за 7 дней","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":718.7799072265625,"y":233.3599853515625,"wires":[["4f2b329b.b7a69c"],[]]},{"id":"3e70e262.daa5fe","type":"stoptimer","z":"c53e18e8.6deec8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":382.83338928222656,"y":620.7554540634155,"wires":[["195e13cf.1076ac"],[]]},{"id":"1ac4c29b.63244d","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":4,"width":0,"height":0,"passthru":false,"label":"15 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":110.83329010009766,"y":619.9554510116577,"wires":[["32917394.f2729c","3e70e262.daa5fe"]]},{"id":"b7d6bfce.63de1","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":904.8333358764648,"y":607.5555143356323,"wires":[]},{"id":"6e02c79b.933868","type":"mqtt out","z":"c53e18e8.6deec8","name":"Light ON/OFF","topic":"","qos":"","retain":"","broker":"131a45ea.c2cdca","x":908.4335556030273,"y":819.5557241439819,"wires":[]},{"id":"4c50b0cd.943a","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":6,"width":0,"height":0,"passthru":false,"label":"1 Hour","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":109.2332992553711,"y":743.9554834365845,"wires":[["30d28f5d.d851a","32917394.f2729c"]]},{"id":"66ea25bb.3a759c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":5,"width":0,"height":0,"passthru":false,"label":"30 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":111.23329544067383,"y":683.9554796218872,"wires":[["32917394.f2729c","928717e7.98fe18"]]},{"id":"c8dfdf6.f573a2","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":7,"width":0,"height":0,"passthru":false,"label":"Stop","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":113.23330688476562,"y":817.9555101394653,"wires":[["3e70e262.daa5fe","928717e7.98fe18","30d28f5d.d851a","32917394.f2729c","a1b98027.8b6b6"]]},{"id":"928717e7.98fe18","type":"stoptimer","z":"c53e18e8.6deec8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":383.2332992553711,"y":680.7554559707642,"wires":[["195e13cf.1076ac"],[]]},{"id":"30d28f5d.d851a","type":"stoptimer","z":"c53e18e8.6deec8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":375.2332992553711,"y":736.7554578781128,"wires":[["195e13cf.1076ac"],[]]},{"id":"32917394.f2729c","type":"function","z":"c53e18e8.6deec8","name":"Light ON/OFF","func":"if(msg.payload === \"STOP\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"0\"\n}\nelse if(msg.payload === \"0\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":412.73329162597656,"y":817.6554460525513,"wires":[["195e13cf.1076ac"]]},{"id":"c659976e.33ff78","type":"mqtt in","z":"2ec4403b.8193a","name":"","topic":"WittyCloud2/sensorStatus","qos":"2","broker":"131a45ea.c2cdca","x":476.30003356933594,"y":225.0666732788086,"wires":[["db298d7.aa9a67","728217e1.9fc3f8"]]},{"id":"6892f765.8aaac8","type":"mqtt in","z":"2ec4403b.8193a","name":"","topic":"WittyCloud2/light","qos":"2","broker":"131a45ea.c2cdca","x":446.30002212524414,"y":292.0666694641113,"wires":[["db298d7.aa9a67"]]},{"id":"db298d7.aa9a67","type":"debug","z":"2ec4403b.8193a","name":"","active":false,"console":"false","complete":"payload","x":1029.300136566162,"y":83.13336849212646,"wires":[]},{"id":"8f4a4449.799c48","type":"mqtt out","z":"2ec4403b.8193a","name":"","topic":"WittyCloud2/motionSensor","qos":"","retain":"","broker":"131a45ea.c2cdca","x":1277.3002853393555,"y":435.0003080368042,"wires":[]},{"id":"ea6c47d.b80afb8","type":"mqtt in","z":"2ec4403b.8193a","name":"","topic":"WittyCloud2/motionSensor","qos":"2","broker":"131a45ea.c2cdca","x":474.30003356933594,"y":158.6667194366455,"wires":[["db298d7.aa9a67"]]},{"id":"8d6c589f.cc0c48","type":"e-mail","z":"2ec4403b.8193a","server":"smtp.gmail.com","port":"465","secure":true,"name":"ukrduino@gmail.com","dname":"","x":997.3003120422363,"y":359.13337230682373,"wires":[]},{"id":"728217e1.9fc3f8","type":"function","z":"2ec4403b.8193a","name":"Notify by email","func":"if(msg.payload === '4'){\n    msg.payload = \"Motion detected!!!\"\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":757.3001022338867,"y":360.000039100647,"wires":[["f0aafdac.eda5a","8d6c589f.cc0c48"]]},{"id":"f0aafdac.eda5a","type":"function","z":"2ec4403b.8193a","name":"Disable sensor","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":763.3003005981445,"y":434.2000141143799,"wires":[[]]},{"id":"859023aa.affb6","type":"debug","z":"2ec4403b.8193a","name":"","active":false,"console":"false","complete":"false","x":1186.3000526428223,"y":547.1333961486816,"wires":[]},{"id":"b1d02545.d0c1c8","type":"inject","z":"e943c030.60141","name":"Reboot","topic":"","payload":"reboot","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":145.30001831054688,"y":404.0666790008545,"wires":[["3afc7fdf.c52fa"]]},{"id":"3afc7fdf.c52fa","type":"exec","z":"e943c030.60141","command":"/sbin/reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":401.30003356933594,"y":408.1000289916992,"wires":[[],[],[]]},{"id":"25c4debd.96ff82","type":"file in","z":"c53e18e8.6deec8","name":"restore from file","filename":"/root/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":345,"y":231.5,"wires":[["18b4d6df.1749d9"]]},{"id":"4f2b329b.b7a69c","type":"file","z":"c53e18e8.6deec8","name":"backup to file","filename":"/root/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":942,"y":225.99998092651367,"wires":[]},{"id":"d68e7561.692168","type":"inject","z":"c53e18e8.6deec8","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":144.99999237060547,"y":232.49999809265137,"wires":[["25c4debd.96ff82"]]},{"id":"18b4d6df.1749d9","type":"json","z":"c53e18e8.6deec8","name":"","pretty":true,"x":538,"y":231.5,"wires":[["5535580b.f3ccd8"]]},{"id":"1e6be9c5.7e3d96","type":"debug","z":"c53e18e8.6deec8","name":"","active":true,"console":"false","complete":"false","x":532.3000335693359,"y":85.13333892822266,"wires":[]},{"id":"d87eb1cc.93266","type":"mqtt out","z":"c53e18e8.6deec8","name":"Tempreture read Period","topic":"WittyCloud1/setReadTempPeriod","qos":"","retain":"","broker":"131a45ea.c2cdca","x":692.1333847045898,"y":939.55544090271,"wires":[]},{"id":"9ba64b3f.3d8018","type":"ui_button","z":"e943c030.60141","name":"","group":"c1ba9783.6bb348","order":2,"width":"3","height":"1","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":136.90936279296875,"y":484.83435821533203,"wires":[["3afc7fdf.c52fa"]]},{"id":"9cd036be.fd05b8","type":"ui_numeric","z":"c53e18e8.6deec8","name":"","label":"Период опроса датчика (милисекунд)","group":"e2259787.be1398","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":367.74275970458984,"y":938.2927703857422,"wires":[["d87eb1cc.93266","daba45c6.3662d8"]]},{"id":"daba45c6.3662d8","type":"debug","z":"c53e18e8.6deec8","name":"","active":true,"console":"false","complete":"false","x":670.7427597045898,"y":1047.702311515808,"wires":[]},{"id":"4eea2818.2396c8","type":"mqtt out","z":"2ec4403b.8193a","name":"","topic":"WittyCloud2/leds","qos":"","retain":"","broker":"131a45ea.c2cdca","x":721.0093994140625,"y":574.015625,"wires":[]},{"id":"e8648d32.72814","type":"ui_switch","z":"2ec4403b.8193a","name":"","label":"Вкл/выкл индикацию","group":"2375257b.ad244a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":453.0092353820801,"y":573.4819993972778,"wires":[["4eea2818.2396c8"]]},{"id":"9e928408.b99918","type":"mqtt out","z":"2ec4403b.8193a","name":"Tempreture read Period","topic":"WittyCloud2/setSensorStatusPeriod","qos":"","retain":"","broker":"131a45ea.c2cdca","x":1204.3906478881836,"y":698.0155963897705,"wires":[]},{"id":"243985af.c9a8da","type":"ui_numeric","z":"2ec4403b.8193a","name":"","label":"Период обновления статуса (милисекунд)","group":"2375257b.ad244a","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":744.0000305175781,"y":699.7528762817383,"wires":[["9e928408.b99918","2e1e1325.71784c"]]},{"id":"2e1e1325.71784c","type":"debug","z":"2ec4403b.8193a","name":"","active":false,"console":"false","complete":"false","x":1187.9999694824219,"y":817.1623916625977,"wires":[]},{"id":"80387d06.9ae1d","type":"inject","z":"c53e18e8.6deec8","name":"","topic":"","payload":"300000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":125.74898529052734,"y":938.9366607666016,"wires":[["9cd036be.fd05b8"]]},{"id":"f3d910bd.f7279","type":"inject","z":"2ec4403b.8193a","name":"","topic":"","payload":"300000","payloadType":"str","repeat":"","crontab":"","once":true,"x":452.90936279296875,"y":699.3842239379883,"wires":[["243985af.c9a8da"]]},{"id":"8b6387eb.96bb68","type":"debug","z":"94fe4d3b.bfbfe","name":"","active":false,"console":"false","complete":"false","x":922.9124870300293,"y":328.5467748641968,"wires":[]},{"id":"58c73a82.1702f4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"ESP32_1/status","qos":"2","broker":"131a45ea.c2cdca","x":299.9093475341797,"y":327.2843780517578,"wires":[["8b6387eb.96bb68","ab3e84a9.688c98"]]},{"id":"7a3067c.3ee2998","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"131a45ea.c2cdca","x":332.91249084472656,"y":624.287483215332,"wires":[["e8ca2572.43be58","8b6387eb.96bb68"]]},{"id":"33079f0f.ee8c4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"131a45ea.c2cdca","x":319.9093360900879,"y":707.2842922210693,"wires":[["8d0ba26d.4b80f","8b6387eb.96bb68"]]},{"id":"e8ca2572.43be58","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"В кухне","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":707.9124603271484,"y":621.7843704223633,"wires":[]},{"id":"8d0ba26d.4b80f","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"в Кухне","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":709.9093627929688,"y":707.7874755859375,"wires":[]},{"id":"8542e443.7fe468","type":"mqtt out","z":"94fe4d3b.bfbfe","name":"","topic":"Weather/update","qos":"","retain":"","broker":"131a45ea.c2cdca","x":940,"y":420,"wires":[]},{"id":"ab3e84a9.688c98","type":"function","z":"94fe4d3b.bfbfe","name":"Trigger weather update","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["8542e443.7fe468","8b6387eb.96bb68"]]},{"id":"20e4b37f.14bd9c","type":"opi_in","z":"e943c030.60141","name":"Pin 13 - PA0","opi":true,"enableInterrupt":"","edge":"","debounce":"","select":"PC","pin":"0","x":310,"y":660,"wires":[["a5801fa9.edb63","a6ea2f67.c0e"]]},{"id":"a5801fa9.edb63","type":"debug","z":"e943c030.60141","name":"","active":true,"console":"false","complete":"false","x":930,"y":660,"wires":[]},{"id":"27d68b3f.3d39f4","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":true,"onceDelay":"60","x":71.90937805175781,"y":655.3843460083008,"wires":[["20e4b37f.14bd9c"]]},{"id":"998fa7e8.2a9368","type":"exec","z":"e943c030.60141","command":"/sbin/shutdown -h 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":940,"wires":[["a5801fa9.edb63"],["a5801fa9.edb63"],["a5801fa9.edb63"]]},{"id":"a6ea2f67.c0e","type":"function","z":"e943c030.60141","name":"Trigger on 1","func":"if (msg.payload === 1){\n    return msg;\n}","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["aeae2269.501de"]]},{"id":"a67cfceb.435be","type":"debug","z":"749848ed.912728","name":"","active":false,"console":"false","complete":"false","x":947.0031394958496,"y":255.01561641693115,"wires":[]},{"id":"f0c269a3.a68ed8","type":"mqtt in","z":"749848ed.912728","name":"","topic":"WemosD1Mini_2/status","qos":"2","broker":"131a45ea.c2cdca","x":334.99998474121094,"y":260.7532172203064,"wires":[["a67cfceb.435be"]]},{"id":"546117f9.b74598","type":"mqtt in","z":"749848ed.912728","name":"","topic":"WemosD1Mini_2/temp","qos":"2","broker":"131a45ea.c2cdca","x":337.0031433105469,"y":550.7563247680664,"wires":[["c4bd150d.226628","a67cfceb.435be"]]},{"id":"6bcb2ff6.b8b63","type":"mqtt in","z":"749848ed.912728","name":"","topic":"WemosD1Mini_2/humidity","qos":"2","broker":"131a45ea.c2cdca","x":332.9999465942383,"y":649.7531089782715,"wires":[["a8acde5a.a2e8d","a67cfceb.435be"]]},{"id":"c4bd150d.226628","type":"ui_gauge","z":"749848ed.912728","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"У Никиты","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":732.0031127929688,"y":548.2532119750977,"wires":[]},{"id":"a8acde5a.a2e8d","type":"ui_gauge","z":"749848ed.912728","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"у Никиты","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":722.9999580383301,"y":649.2562999725342,"wires":[]},{"id":"d5d135e5.84bd88","type":"mqtt in","z":"749848ed.912728","name":"","topic":"WemosD1Mini_2/pressure","qos":"2","broker":"131a45ea.c2cdca","x":335.0093536376953,"y":743.0156326293945,"wires":[["a67cfceb.435be","dfe80dc9.5786d"]]},{"id":"a04e52a1.3013b","type":"ui_chart","z":"749848ed.912728","name":"","group":"a91bf7eb.001d58","order":0,"width":0,"height":0,"label":"hPa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1030","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d323b0","#008000","#2ca02c","#98df8a","#d62728","#0000ff","#9467bd","#c5b0d5"],"useOldStyle":false,"x":892.9125366210938,"y":808.9592895507812,"wires":[["b88b489a.190658"],[]]},{"id":"5694d6da.91a0f8","type":"inject","z":"749848ed.912728","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":296.5,"y":810,"wires":[["88371228.25404"]]},{"id":"88371228.25404","type":"file in","z":"749848ed.912728","name":"restore from file","filename":"/root/pressure_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":497.50000762939453,"y":810.0000019073486,"wires":[["75982f91.4669"]]},{"id":"75982f91.4669","type":"json","z":"749848ed.912728","name":"","pretty":true,"x":690.5000076293945,"y":810.0000019073486,"wires":[["a04e52a1.3013b","a67cfceb.435be"]]},{"id":"b88b489a.190658","type":"file","z":"749848ed.912728","name":"backup to file","filename":"/root/pressure_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1082.5001602172852,"y":802.5000114440918,"wires":[]},{"id":"dfe80dc9.5786d","type":"function","z":"749848ed.912728","name":"Max/min","func":"var norm = {};\n\nnorm.payload = 1013;\nnorm.topic = \"norm\"\nreturn [norm, msg];","outputs":"2","noerr":0,"x":675.5,"y":744.5,"wires":[["a04e52a1.3013b"],["a04e52a1.3013b"]]},{"id":"2feb972b.7c00c8","type":"inject","z":"6e40f9a1.99e438","name":"Get weather","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":"","x":460,"y":360,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"ad1f22e.d1108e","type":"debug","z":"6e40f9a1.99e438","name":"","active":true,"console":"false","complete":"payload","x":1069.999855041504,"y":322.00002098083496,"wires":[]},{"id":"2b266a9c.d5ac66","type":"openweathermap","z":"6e40f9a1.99e438","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Kherson","country":"Ukraine","language":"ru","x":687.9999847412109,"y":325.0000171661377,"wires":[["291d3c05.51f5e4","ad1f22e.d1108e","453b5cac.002a94"]]},{"id":"4b109e43.e1e7b","type":"comment","z":"6e40f9a1.99e438","name":"85caa036010dce285793ea9a1a494fea","info":"https://openweathermap.org/weather-conditions","x":586.8999519348145,"y":439.64055252075195,"wires":[]},{"id":"291d3c05.51f5e4","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.icon.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":863.9061279296875,"y":464.7437114715576,"wires":[["ad1f22e.d1108e","413fa13f.5f82f"]]},{"id":"413fa13f.5f82f","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showIcon","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1120.8998718261719,"y":465.4843225479126,"wires":[]},{"id":"1b6eb7fd.d508b8","type":"ui_button","z":"6e40f9a1.99e438","name":"","group":"4dab23d9.812fbc","order":0,"width":0,"height":0,"passthru":true,"label":"Get weather","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":407.99060821533203,"y":268.98439502716064,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"e8383199.fedcc","type":"mqtt in","z":"6e40f9a1.99e438","name":"","topic":"Weather/update","qos":"2","broker":"c7f7b8d9.0b7918","x":194.9030532836914,"y":269.27186012268066,"wires":[["1b6eb7fd.d508b8"]]},{"id":"453b5cac.002a94","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":860.9999847412109,"y":540.0000171661377,"wires":[["3e3e3938.bbde56","ad1f22e.d1108e"]]},{"id":"3e3e3938.bbde56","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showWind","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1122.999984741211,"y":539.0000171661377,"wires":[]},{"id":"67d85f1f.ff777","type":"exec","z":"6e40f9a1.99e438","command":"date '+%A %d %b'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630.9905700683594,"y":205.98439407348633,"wires":[["cbb69e6d.af9e5","ad1f22e.d1108e"],[],[]]},{"id":"3082e4a.bda4f1c","type":"inject","z":"6e40f9a1.99e438","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":430,"y":200,"wires":[["67d85f1f.ff777"]]},{"id":"cbb69e6d.af9e5","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Date","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":903.4507293701172,"y":193.71745109558105,"wires":[]},{"id":"b4fa8226.b3ec5","type":"opi_in","z":"a17d8f48.1341a","name":"Pin 13 - PA0","opi":true,"enableInterrupt":"","edge":"","debounce":"","select":"PC","pin":"0","x":730,"y":320,"wires":[["3245afe9.f63ab"]]},{"id":"742184f3.96275c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":3,"width":0,"height":0,"passthru":false,"label":"5 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":110,"y":560,"wires":[["32917394.f2729c","a1b98027.8b6b6"]]},{"id":"a1b98027.8b6b6","type":"stoptimer","z":"c53e18e8.6deec8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":560,"wires":[["195e13cf.1076ac"],[]]},{"id":"fb4a11eb.7fa5b","type":"function","z":"e943c030.60141","name":"29296 => 29","func":"msg.payload = msg.payload.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["1f9897b8.cc6ea8"]]},{"id":"aeae2269.501de","type":"delay","z":"e943c030.60141","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":840,"wires":[["998fa7e8.2a9368"]]}]