flows_raspberrypi.json
[{"id":"c53e18e8.6deec8","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"6e40f9a1.99e438","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"e943c030.60141","type":"tab","label":"Raspberry pi","disabled":false,"info":""},{"id":"94fe4d3b.bfbfe","type":"tab","label":"E-ink photo frame","disabled":false,"info":""},{"id":"ec2ea640.fd25e8","type":"tab","label":"Nextion HMI","disabled":false,"info":""},{"id":"b9e299af.17d938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d8b205e.17f5a","type":"tab","label":"ESP8266"},{"id":"f124cd36.1724a","type":"tab","label":"Battery","disabled":false,"info":""},{"id":"afb87cdc.16d18","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0805ed9.10d2a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"131a45ea.c2cdca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab618ed5.3282e","type":"ui_group","z":"","name":"Температура","tab":"2117e69e.a49d1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2117e69e.a49d1a","type":"ui_tab","z":"","name":"Метео панель","icon":"dashboard","order":1},{"id":"9e60afd4.c92a6","type":"ui_tab","z":"","name":"Свет","icon":"dashboard","order":2},{"id":"8549576f.ec0758","type":"ui_group","z":"","name":"Никитына комната","tab":"9e60afd4.c92a6","order":2,"disp":true,"width":"6"},{"id":"96c1a38f.95213","type":"ui_tab","z":"","name":"Settings","icon":"dashboard"},{"id":"c1ba9783.6bb348","type":"ui_group","z":"","name":"Raspberry Pi","tab":"96c1a38f.95213","order":2,"disp":true,"width":"6","collapse":false},{"id":"e2259787.be1398","type":"ui_group","z":"","name":"Термометр на улице","tab":"96c1a38f.95213","order":3,"disp":true,"width":"6"},{"id":"4a9ff3dd.51582c","type":"ui_group","z":"","name":"Влажность","tab":"2117e69e.a49d1a","disp":true,"width":"6","collapse":false},{"id":"a91bf7eb.001d58","type":"ui_group","z":"","name":"Давление за 3 дня","tab":"2117e69e.a49d1a","disp":true,"width":"6","collapse":false},{"id":"c7f7b8d9.0b7918","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4dab23d9.812fbc","type":"ui_group","z":"","name":"Weather","tab":"96c1a38f.95213","order":4,"disp":true,"width":"6"},{"id":"9794bce5.feb15","type":"websocket-listener","z":"","path":"/ws/timer","wholemsg":"false"},{"id":"ae58c6ad.816b18","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"fb575cf8.32657","type":"exec","z":"e943c030.60141","command":"/opt/vc/bin/vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["87f2e83e.80e468"],[],[]]},{"id":"e553617f.ddd9f","type":"inject","z":"e943c030.60141","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":140,"wires":[["fb575cf8.32657"]]},{"id":"195e13cf.1076ac","type":"ui_switch","z":"c53e18e8.6deec8","name":"Nik's lamp","label":"Лампа над диваном","group":"8549576f.ec0758","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WittyCloud1/relay","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1190,"y":820,"wires":[["6e02c79b.933868","b7d6bfce.63de1"]]},{"id":"42852006.3ebb4","type":"ui_gauge","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":1,"width":"3","height":"3","gtype":"gage","title":"На улице","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":589.1000366210938,"y":151.60006713867188,"wires":[]},{"id":"f0fbb45.3e35748","type":"mqtt in","z":"c53e18e8.6deec8","name":"","topic":"WittyCloud/temp","qos":"2","broker":"131a45ea.c2cdca","x":145.09999084472656,"y":130.1999969482422,"wires":[["42852006.3ebb4","5535580b.f3ccd8","1e6be9c5.7e3d96"]]},{"id":"1f9897b8.cc6ea8","type":"ui_text","z":"e943c030.60141","group":"c1ba9783.6bb348","order":1,"width":0,"height":0,"name":"","label":"Температура процессора","format":"{{msg.payload}} °C","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"fc8a7350.3e6e9","type":"mqtt in","z":"c53e18e8.6deec8","name":"WittyCloud/light","topic":"WittyCloud/light","qos":"2","broker":"131a45ea.c2cdca","x":146.61338424682617,"y":417.5154514312744,"wires":[["46b5bcda.a26814","8bb032d7.6e45e"]]},{"id":"46b5bcda.a26814","type":"ui_text","z":"c53e18e8.6deec8","group":"8549576f.ec0758","order":2,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":558.6133270263672,"y":416.91045093536377,"wires":[]},{"id":"5535580b.f3ccd8","type":"ui_chart","z":"c53e18e8.6deec8","name":"","group":"ab618ed5.3282e","order":3,"width":"0","height":"0","label":"На улице за 7 дней","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":718.7799072265625,"y":233.3599853515625,"wires":[["4f2b329b.b7a69c"],[]]},{"id":"3e70e262.daa5fe","type":"stoptimer","z":"c53e18e8.6deec8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":882.8333892822266,"y":620.7554540634155,"wires":[["195e13cf.1076ac"],[]]},{"id":"1ac4c29b.63244d","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":4,"width":0,"height":0,"passthru":true,"label":"15 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":610.8332901000977,"y":619.9554510116577,"wires":[["32917394.f2729c","3e70e262.daa5fe"]]},{"id":"b7d6bfce.63de1","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":1404.8333358764648,"y":607.5555143356323,"wires":[]},{"id":"6e02c79b.933868","type":"mqtt out","z":"c53e18e8.6deec8","name":"Light ON/OFF","topic":"","qos":"","retain":"","broker":"131a45ea.c2cdca","x":1408.4335556030273,"y":819.5557241439819,"wires":[]},{"id":"4c50b0cd.943a","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":6,"width":0,"height":0,"passthru":true,"label":"1 Hour","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":609.2332992553711,"y":743.9554834365845,"wires":[["30d28f5d.d851a","32917394.f2729c"]]},{"id":"66ea25bb.3a759c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":5,"width":0,"height":0,"passthru":true,"label":"30 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":611.2332954406738,"y":683.9554796218872,"wires":[["32917394.f2729c","928717e7.98fe18"]]},{"id":"c8dfdf6.f573a2","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":7,"width":0,"height":0,"passthru":true,"label":"Stop","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":613.2333068847656,"y":817.9555101394653,"wires":[["3e70e262.daa5fe","928717e7.98fe18","30d28f5d.d851a","32917394.f2729c","a1b98027.8b6b6"]]},{"id":"928717e7.98fe18","type":"stoptimer","z":"c53e18e8.6deec8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":883.2332992553711,"y":680.7554559707642,"wires":[["195e13cf.1076ac"],[]]},{"id":"30d28f5d.d851a","type":"stoptimer","z":"c53e18e8.6deec8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":875.2332992553711,"y":736.7554578781128,"wires":[["195e13cf.1076ac"],[]]},{"id":"32917394.f2729c","type":"function","z":"c53e18e8.6deec8","name":"Light ON/OFF","func":"if(msg.payload === \"STOP\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"0\"\n}\nelse if(msg.payload === \"0\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":912.7332916259766,"y":817.6554460525513,"wires":[["195e13cf.1076ac"]]},{"id":"3afc7fdf.c52fa","type":"exec","z":"e943c030.60141","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":360,"y":400,"wires":[[],[],[]]},{"id":"25c4debd.96ff82","type":"file in","z":"c53e18e8.6deec8","name":"restore from file","filename":"/home/pi/.node-red/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":340,"y":220,"wires":[["18b4d6df.1749d9"]]},{"id":"4f2b329b.b7a69c","type":"file","z":"c53e18e8.6deec8","name":"backup to file","filename":"/home/pi/.node-red/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":942,"y":225.99998092651367,"wires":[]},{"id":"d68e7561.692168","type":"inject","z":"c53e18e8.6deec8","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":220,"wires":[["25c4debd.96ff82"]]},{"id":"18b4d6df.1749d9","type":"json","z":"c53e18e8.6deec8","name":"","pretty":true,"x":538,"y":231.5,"wires":[["5535580b.f3ccd8"]]},{"id":"1e6be9c5.7e3d96","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":532.3000335693359,"y":85.13333892822266,"wires":[]},{"id":"d87eb1cc.93266","type":"mqtt out","z":"c53e18e8.6deec8","name":"Tempreture read Period","topic":"WittyCloud1/setReadTempPeriod","qos":"","retain":"","broker":"131a45ea.c2cdca","x":950,"y":1220,"wires":[]},{"id":"9ba64b3f.3d8018","type":"ui_button","z":"e943c030.60141","name":"","group":"c1ba9783.6bb348","order":2,"width":"3","height":"1","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["3afc7fdf.c52fa"]]},{"id":"9cd036be.fd05b8","type":"ui_numeric","z":"c53e18e8.6deec8","name":"","label":"Период опроса датчика (милисекунд)","group":"e2259787.be1398","order":1,"width":"6","height":"3","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000000","step":"10000","x":625.609375,"y":1218.7373294830322,"wires":[["d87eb1cc.93266","daba45c6.3662d8"]]},{"id":"daba45c6.3662d8","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":928.609375,"y":1328.1468706130981,"wires":[]},{"id":"80387d06.9ae1d","type":"inject","z":"c53e18e8.6deec8","name":"","topic":"","payload":"300000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":383.6156005859375,"y":1219.3812198638916,"wires":[["9cd036be.fd05b8"]]},{"id":"8b6387eb.96bb68","type":"debug","z":"94fe4d3b.bfbfe","name":"","active":false,"console":"false","complete":"false","x":922.9124870300293,"y":328.5467748641968,"wires":[]},{"id":"58c73a82.1702f4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"ESP32_1/status","qos":"2","broker":"131a45ea.c2cdca","x":299.9093475341797,"y":327.2843780517578,"wires":[["8b6387eb.96bb68","ab3e84a9.688c98"]]},{"id":"7a3067c.3ee2998","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"131a45ea.c2cdca","x":332.91249084472656,"y":624.287483215332,"wires":[["e8ca2572.43be58","8b6387eb.96bb68"]]},{"id":"33079f0f.ee8c4","type":"mqtt in","z":"94fe4d3b.bfbfe","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"131a45ea.c2cdca","x":319.9093360900879,"y":707.2842922210693,"wires":[["8d0ba26d.4b80f","8b6387eb.96bb68"]]},{"id":"e8ca2572.43be58","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"В кухне","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":707.9124603271484,"y":621.7843704223633,"wires":[]},{"id":"8d0ba26d.4b80f","type":"ui_gauge","z":"94fe4d3b.bfbfe","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"в Кухне","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":709.9093627929688,"y":707.7874755859375,"wires":[]},{"id":"8542e443.7fe468","type":"mqtt out","z":"94fe4d3b.bfbfe","name":"","topic":"Weather/update","qos":"","retain":"","broker":"131a45ea.c2cdca","x":940,"y":420,"wires":[]},{"id":"ab3e84a9.688c98","type":"function","z":"94fe4d3b.bfbfe","name":"Trigger weather update","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["8542e443.7fe468","8b6387eb.96bb68"]]},{"id":"a5801fa9.edb63","type":"debug","z":"e943c030.60141","name":"","active":true,"console":"false","complete":"false","x":1110,"y":720,"wires":[]},{"id":"998fa7e8.2a9368","type":"exec","z":"e943c030.60141","command":"sudo /sbin/shutdown -h 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":940,"wires":[["a5801fa9.edb63"],["a5801fa9.edb63"],["a5801fa9.edb63"]]},{"id":"a6ea2f67.c0e","type":"function","z":"e943c030.60141","name":"Trigger on 1","func":"if (msg.payload === 1){\n    return msg;\n}","outputs":1,"noerr":0,"x":430,"y":720,"wires":[["aeae2269.501de"]]},{"id":"2feb972b.7c00c8","type":"inject","z":"6e40f9a1.99e438","name":"Get weather","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":"","x":460,"y":360,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"ad1f22e.d1108e","type":"debug","z":"6e40f9a1.99e438","name":"","active":false,"console":"false","complete":"payload","x":1069.999855041504,"y":322.00002098083496,"wires":[]},{"id":"2b266a9c.d5ac66","type":"openweathermap","z":"6e40f9a1.99e438","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Kherson","country":"Ukraine","language":"ru","x":687.9999847412109,"y":325.0000171661377,"wires":[["291d3c05.51f5e4","ad1f22e.d1108e","453b5cac.002a94"]]},{"id":"4b109e43.e1e7b","type":"comment","z":"6e40f9a1.99e438","name":"85caa036010dce285793ea9a1a494fea","info":"https://openweathermap.org/weather-conditions","x":586.8999519348145,"y":439.64055252075195,"wires":[]},{"id":"291d3c05.51f5e4","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.icon.substring(0, 2);\nreturn msg;","outputs":1,"noerr":0,"x":863.9061279296875,"y":464.7437114715576,"wires":[["ad1f22e.d1108e","413fa13f.5f82f"]]},{"id":"413fa13f.5f82f","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showIcon","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1120.8998718261719,"y":465.4843225479126,"wires":[]},{"id":"1b6eb7fd.d508b8","type":"ui_button","z":"6e40f9a1.99e438","name":"","group":"4dab23d9.812fbc","order":0,"width":0,"height":0,"passthru":true,"label":"Get weather","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":407.99060821533203,"y":268.98439502716064,"wires":[["2b266a9c.d5ac66","67d85f1f.ff777"]]},{"id":"e8383199.fedcc","type":"mqtt in","z":"6e40f9a1.99e438","name":"","topic":"Weather/update","qos":"2","broker":"c7f7b8d9.0b7918","x":194.9030532836914,"y":269.27186012268066,"wires":[["1b6eb7fd.d508b8"]]},{"id":"453b5cac.002a94","type":"function","z":"6e40f9a1.99e438","name":"Get icon id","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":860.9999847412109,"y":540.0000171661377,"wires":[["3e3e3938.bbde56","ad1f22e.d1108e"]]},{"id":"3e3e3938.bbde56","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Wheather/showWind","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":1122.999984741211,"y":539.0000171661377,"wires":[]},{"id":"67d85f1f.ff777","type":"exec","z":"6e40f9a1.99e438","command":"date '+%A %d %b'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630.9905700683594,"y":205.98439407348633,"wires":[["cbb69e6d.af9e5","ad1f22e.d1108e"],[],[]]},{"id":"3082e4a.bda4f1c","type":"inject","z":"6e40f9a1.99e438","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":430,"y":200,"wires":[["67d85f1f.ff777"]]},{"id":"cbb69e6d.af9e5","type":"mqtt out","z":"6e40f9a1.99e438","name":"","topic":"Date","qos":"","retain":"","broker":"c7f7b8d9.0b7918","x":903.4507293701172,"y":193.71745109558105,"wires":[]},{"id":"742184f3.96275c","type":"ui_button","z":"c53e18e8.6deec8","name":"","group":"8549576f.ec0758","order":3,"width":0,"height":0,"passthru":true,"label":"5 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":610,"y":560,"wires":[["32917394.f2729c","a1b98027.8b6b6"]]},{"id":"a1b98027.8b6b6","type":"stoptimer","z":"c53e18e8.6deec8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":880,"y":560,"wires":[["195e13cf.1076ac"],[]]},{"id":"aeae2269.501de","type":"delay","z":"e943c030.60141","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":840,"wires":[["a5801fa9.edb63","998fa7e8.2a9368"]]},{"id":"7ccf7b2b.d8aaf4","type":"function","z":"e943c030.60141","name":"Split BME280 message","func":"var temp = { payload:msg.payload.temperature - 3};\nvar press = { payload:msg.payload.pressure.toFixed(1)};\nvar hum = {payload:msg.payload.humidity.toFixed(1) + 5};\nreturn [temp, press, hum];\n","outputs":3,"noerr":0,"x":650,"y":1180,"wires":[["af4ecc2.8a1633","eb87330d.9113b","ab770557.e788d8"],["de7e3644.4e7d08","eb12715.49ae89","ab770557.e788d8"],["3905d845.b2e688","892ef54e.3f1cc8","ab770557.e788d8"]],"outputLabels":["temperature","pressure","humidity"]},{"id":"3905d845.b2e688","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/humidity","qos":"","retain":"","broker":"afb87cdc.16d18","x":950,"y":1220,"wires":[]},{"id":"de7e3644.4e7d08","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/pressure","qos":"","retain":"","broker":"afb87cdc.16d18","x":950,"y":1140,"wires":[]},{"id":"af4ecc2.8a1633","type":"mqtt out","z":"e943c030.60141","name":"","topic":"BME280/temp","qos":"","retain":"","broker":"afb87cdc.16d18","x":940,"y":1060,"wires":[]},{"id":"eb87330d.9113b","type":"ui_gauge","z":"e943c030.60141","name":"","group":"ab618ed5.3282e","order":2,"width":"3","height":"3","gtype":"gage","title":"У Никиты","label":"°C","format":"{{value}}","min":"15","max":"30","colors":["#1722f4","#00ff00","#ca3838"],"seg1":"20","seg2":"25","x":1014.9999694824219,"y":1317.4968872070312,"wires":[]},{"id":"892ef54e.3f1cc8","type":"ui_gauge","z":"e943c030.60141","name":"","group":"4a9ff3dd.51582c","order":4,"width":"3","height":"3","gtype":"gage","title":"у Никиты","label":"%","format":"{{value}}","min":"30","max":"80","colors":["#ffff00","#3fa744","#4b16eb"],"seg1":"50","seg2":"60","x":1020,"y":1400,"wires":[]},{"id":"fea69441.23a278","type":"ui_chart","z":"e943c030.60141","name":"","group":"a91bf7eb.001d58","order":0,"width":0,"height":0,"label":"hPa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1030","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d323b0","#008000","#2ca02c","#98df8a","#d62728","#0000ff","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1175.9093933105469,"y":1578.2029647827148,"wires":[["a76228f7.0f1698"],[]]},{"id":"f2e2e776.e2ec78","type":"inject","z":"e943c030.60141","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":579.4968566894531,"y":1579.2436752319336,"wires":[["dd4d67ed.ec8b98"]]},{"id":"dd4d67ed.ec8b98","type":"file in","z":"e943c030.60141","name":"restore from file","filename":"/home/pi/.node-red/pressure_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":780.4968643188477,"y":1579.2436771392822,"wires":[["fd4139e1.7cafe8"]]},{"id":"fd4139e1.7cafe8","type":"json","z":"e943c030.60141","name":"","pretty":true,"x":973.4968643188477,"y":1579.2436771392822,"wires":[["fea69441.23a278"]]},{"id":"a76228f7.0f1698","type":"file","z":"e943c030.60141","name":"backup to file","filename":"/home/pi/.node-red/pressure_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1365.4970169067383,"y":1571.7436866760254,"wires":[]},{"id":"eb12715.49ae89","type":"function","z":"e943c030.60141","name":"Max/min","func":"var norm = {};\n\nnorm.payload = 1013;\nnorm.topic = \"norm\"\nreturn [norm, msg];","outputs":"2","noerr":0,"x":958.4968566894531,"y":1513.7436752319336,"wires":[["fea69441.23a278"],["fea69441.23a278"]]},{"id":"d0001c32.cc62","type":"exec","z":"e943c030.60141","command":"ifconfig wlan0 | grep inet | awk '{ print $2 }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get IP","x":810,"y":460,"wires":[["e7bf0325.ed55b"],[],[]]},{"id":"c2b4bb89.709d88","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":460,"wires":[["d0001c32.cc62"]]},{"id":"8c4d48aa.887b98","type":"debug","z":"e943c030.60141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":460,"wires":[]},{"id":"e7bf0325.ed55b","type":"function","z":"e943c030.60141","name":"Add terminator","func":"var ip = msg.payload.split(\"\\n\")[0];\nmsg.payload = ip\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["8c4d48aa.887b98"]]},{"id":"ab770557.e788d8","type":"debug","z":"e943c030.60141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1180,"wires":[]},{"id":"97b8fdc3.439ac","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"WemosD1Mini_1/temperature","qos":"2","broker":"afb87cdc.16d18","x":560,"y":340,"wires":[["b5c72a60.c66e68"]]},{"id":"567192ef.34095c","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"BME280/temp","qos":"2","broker":"afb87cdc.16d18","x":510,"y":420,"wires":[["9e945fe6.e48fb"]]},{"id":"719955ec.962b8c","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"WemosD1Mini_1/humidity","qos":"2","broker":"afb87cdc.16d18","x":550,"y":500,"wires":[["237f287c.d83278"]]},{"id":"34ff4eef.5f2362","type":"mqtt in","z":"b9e299af.17d938","name":"","topic":"BME280/humidity","qos":"2","broker":"afb87cdc.16d18","x":520,"y":580,"wires":[["505691c2.36d41"]]},{"id":"2fa617b9.321f98","type":"function","z":"b9e299af.17d938","name":"Show 2 temps difference  on chart","func":"msg1 = {};\nmsg1.topic = \"BME-DTH\";\nvar bme = flow.get(\"BME\") || 0;\nvar dth = flow.get(\"DTH\") || 0;\nmsg1.payload = bme - dth;\nreturn msg1;\n","outputs":2,"noerr":0,"x":800,"y":180,"wires":[[],[]]},{"id":"b5c72a60.c66e68","type":"function","z":"b9e299af.17d938","name":"Save DTH","func":"flow.set(\"DTH\", msg.payload);","outputs":1,"noerr":0,"x":830,"y":340,"wires":[[]]},{"id":"9e945fe6.e48fb","type":"function","z":"b9e299af.17d938","name":"Save BME","func":"flow.set(\"BME\", msg.payload);","outputs":1,"noerr":0,"x":810,"y":420,"wires":[[]]},{"id":"7eacc1d1.f2e4","type":"inject","z":"b9e299af.17d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["2fa617b9.321f98"]]},{"id":"89af228.51e8be","type":"function","z":"b9e299af.17d938","name":"Show 2 humidities difference on chart","func":"msg1 = {};\nmsg1.topic = \"DTH_H-BME_H\";\nvar bme = flow.get(\"BME_H\") || 0;\nvar dth = flow.get(\"DTH_H\") || 0;\nmsg1.payload = dth - bme;\nreturn msg1;\n","outputs":2,"noerr":0,"x":810,"y":240,"wires":[[],[]]},{"id":"afeda194.04d06","type":"inject","z":"b9e299af.17d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":240,"wires":[["89af228.51e8be"]]},{"id":"237f287c.d83278","type":"function","z":"b9e299af.17d938","name":"Save DTH_H","func":"flow.set(\"DTH_H\", msg.payload);","outputs":1,"noerr":0,"x":780,"y":500,"wires":[[]]},{"id":"505691c2.36d41","type":"function","z":"b9e299af.17d938","name":"Save BME_H","func":"flow.set(\"BME_H\", msg.payload);","outputs":1,"noerr":0,"x":770,"y":580,"wires":[[]]},{"id":"d9b1341b.ac0708","type":"websocket in","z":"c53e18e8.6deec8","name":"","server":"9794bce5.feb15","client":"","x":160,"y":560,"wires":[["1c606df2.eff262","775f6ba8.de2de4","d983c3f.614924","99ba16f0.4f66e8","424bbe9a.c228b"]]},{"id":"1bb7abac.f47ce4","type":"debug","z":"c53e18e8.6deec8","name":"","active":false,"console":"false","complete":"false","x":550,"y":480,"wires":[]},{"id":"1c606df2.eff262","type":"function","z":"c53e18e8.6deec8","name":"5 min","func":"if(msg.payload == \"5\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["742184f3.96275c","1bb7abac.f47ce4"]]},{"id":"775f6ba8.de2de4","type":"function","z":"c53e18e8.6deec8","name":"15 min","func":"if(msg.payload == \"15\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["1ac4c29b.63244d"]]},{"id":"d983c3f.614924","type":"function","z":"c53e18e8.6deec8","name":"30 min","func":"if(msg.payload == \"30\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["66ea25bb.3a759c"]]},{"id":"99ba16f0.4f66e8","type":"function","z":"c53e18e8.6deec8","name":"60 min","func":"if(msg.payload == \"60\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["4c50b0cd.943a"]]},{"id":"424bbe9a.c228b","type":"function","z":"c53e18e8.6deec8","name":"stop","func":"if(msg.payload == \"stop\"){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["c8dfdf6.f573a2"]]},{"id":"8bb032d7.6e45e","type":"websocket out","z":"c53e18e8.6deec8","name":"","server":"9794bce5.feb15","client":"","x":560,"y":360,"wires":[]},{"id":"87e291c4.4b0a7","type":"http response","z":"c53e18e8.6deec8","name":"","statusCode":"","headers":{},"x":550,"y":980,"wires":[]},{"id":"8f34cb42.dbb438","type":"http in","z":"c53e18e8.6deec8","name":"","url":"/timer","method":"get","upload":false,"swaggerDoc":"","x":171,"y":980,"wires":[["2f27326e.eddd7e"]]},{"id":"2f27326e.eddd7e","type":"template","z":"c53e18e8.6deec8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n<head>\n    <title>Nikita's lamp</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/timer\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"timer\", \"ws/timer\");\n\n        function wsConnect() {\n            console.log(\"connect\", wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function (msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p> Light level: \" + data + \"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('light_level').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function () {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function () {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect, 3000);\n            }\n        }\n\n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    <style type=\"text/css\" media=\"screen\">\n        .bt {\n            background: #333;\n            color: #fdfdfd;\n            height: 150px;\n            display: block;\n            margin-left: auto;\n            margin-right: auto;\n            margin-top: 50px;\n            margin-right: auto;\n            width: 40%;\n            border-radius: 15px;\n            border: 0;\n            font-size: 40px;\n            text-align: center;\n        }\n\n        .main {\n            text-align: center;\n            font-size: 40px;\n            text-align: center;\n        }\n    </style>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n    <font face=\"Arial\">\n        <div class=\"main\">\n            <h1>Lamp timer</h1>\n            <div id=\"status\">unknown</div>\n            <div id=\"light_level\"></div>\n            <button type=\"button\" onclick='doit(\"5\");' class=\"bt\">5 minutes</button>\n            <button type=\"button\" onclick='doit(\"15\");' class=\"bt\">15 minutes</button>\n            <button type=\"button\" onclick='doit(\"30\");' class=\"bt\">30 minutes</button>\n            <button type=\"button\" onclick='doit(\"60\");' class=\"bt\">1 Hour</button>\n            <button type=\"button\" onclick='doit(\"stop\");' class=\"bt\">stop</button>\n        </div>\n    </font>\n</body>\n</html>\n","x":378,"y":980,"wires":[["87e291c4.4b0a7"]]},{"id":"65ad21de.d3dd8","type":"rpi-gpio in","z":"e943c030.60141","name":"","pin":"16","intype":"down","debounce":"25","read":false,"x":290,"y":620,"wires":[["a6ea2f67.c0e"]]},{"id":"87f2e83e.80e468","type":"function","z":"e943c030.60141","name":"Format string","func":"var temp = msg.payload.split(\"=\")[1].split(\"'\")[0];\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["1f9897b8.cc6ea8","8c4d48aa.887b98"]]},{"id":"6a01a05f.13f26","type":"exec","z":"e943c030.60141","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":260,"wires":[["906d2038.906c1"],[],[]]},{"id":"9aa0104c.d8008","type":"inject","z":"e943c030.60141","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["6a01a05f.13f26"]]},{"id":"906d2038.906c1","type":"ui_text","z":"e943c030.60141","group":"c1ba9783.6bb348","order":0,"width":"6","height":"3","name":"","label":"Up time","format":"{{msg.payload}}","layout":"col-center","x":560,"y":240,"wires":[]},{"id":"2e8b5d7f.0a3a02","type":"bme280rpi","z":"e943c030.60141","name":"","bus":"1","address":"0x76","interval":"60000","x":160,"y":1180,"wires":[["8ec6c8b6.a88d78"]]},{"id":"8ec6c8b6.a88d78","type":"json","z":"e943c030.60141","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":1180,"wires":[["7ccf7b2b.d8aaf4"]]},{"id":"814666b8.8323d8","type":"serial out","z":"ec2ea640.fd25e8","name":"Serial","serial":"ae58c6ad.816b18","x":1790,"y":420,"wires":[]},{"id":"8f540952.b0dae8","type":"function","z":"ec2ea640.fd25e8","name":"Buffer for Nextion","func":"var str = msg.payload;\nvar buf = [];\n\nfor (var i=0, l = str.length; i < l; i++) {\n    var ascii = str.charCodeAt(i);\n    buf.push(ascii);\n}\nbuf.push(255);\nbuf.push(255);\nbuf.push(255);\n\nmsg.payload = new Buffer(buf);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":420,"wires":[["814666b8.8323d8"]]},{"id":"91afd8ab.c7d328","type":"inject","z":"ec2ea640.fd25e8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"onceDelay":"","x":730,"y":420,"wires":[["9568ab62.045f88"]]},{"id":"b025cf62.0a657","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"var text = msg.payload.split(',')[0];\nmsg.payload = \"t0.txt=\\\"\" + text + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1143,"y":421,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"691f7e60.b9305","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"var temp = Number(msg.payload).toFixed(1);\nmsg.payload = \"t1.txt=\\\"\" + temp + \" C\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":482.99999618530273,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"23ea45b8.e5814a","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"msg.payload = \"t2.txt=\\\"\" + msg.payload + \" %\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":545.9999961853027,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"af94cd47.ef574","type":"function","z":"ec2ea640.fd25e8","name":"Format for text field","func":"msg.payload = \"t3.txt=\\\"\" + msg.payload + \" hPa\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1141,"y":610.9999961853027,"wires":[["8f540952.b0dae8","d7f14258.72be5"]]},{"id":"9568ab62.045f88","type":"exec","z":"ec2ea640.fd25e8","command":"uptime","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":903.0999946594238,"y":421.9000120162964,"wires":[["b025cf62.0a657"],[],[]]},{"id":"8fe7bc14.7ba2f","type":"mqtt in","z":"ec2ea640.fd25e8","name":"","topic":"BME280/temp","qos":"2","broker":"afb87cdc.16d18","x":870,"y":480,"wires":[["691f7e60.b9305"]]},{"id":"480ae4f4.234e5c","type":"mqtt in","z":"ec2ea640.fd25e8","name":"","topic":"BME280/humidity","qos":"2","broker":"afb87cdc.16d18","x":880,"y":540,"wires":[["23ea45b8.e5814a"]]},{"id":"3cfe3855.d4f938","type":"mqtt in","z":"ec2ea640.fd25e8","name":"","topic":"BME280/pressure","qos":"2","broker":"afb87cdc.16d18","x":890,"y":620,"wires":[["af94cd47.ef574"]]},{"id":"d7f14258.72be5","type":"debug","z":"ec2ea640.fd25e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":340,"wires":[]},{"id":"a88a4c2.45352b","type":"function","z":"ec2ea640.fd25e8","name":"Format for screen backlight","func":"msg.payload = \"dim=\" + msg.payload ;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":700,"wires":[["8f540952.b0dae8"]]},{"id":"3bb94d62.a721a2","type":"ui_slider","z":"ec2ea640.fd25e8","name":"","label":"Screen brightness","group":"c1ba9783.6bb348","order":0,"width":"6","height":"2","passthru":true,"topic":"","min":0,"max":"100","step":"10","x":890,"y":700,"wires":[["a88a4c2.45352b"]]},{"id":"ccfb6a6.7480b98","type":"timerswitch","z":"ec2ea640.fd25e8","name":"Screen backlight","ontopic":"ScreenLight","offtopic":"ScreenLight","onpayload":"70","offpayload":"0","disabled":false,"schedules":[{"on_h":"06","on_m":"00","on_s":"00","off_h":"21","off_m":"00","off_s":"00","valid":true}],"x":680,"y":700,"wires":[["3bb94d62.a721a2"]]},{"id":"580a295.38787d8","type":"http in","z":"3d8b205e.17f5a","name":"OTA Request","url":"/esp8266-ota/update/:version","method":"get","upload":false,"swaggerDoc":"","x":84.5,"y":115,"wires":[["15648220.c9d98e","fcb68d5e.c80c4"]]},{"id":"a68e900.88caf7","type":"http response","z":"3d8b205e.17f5a","name":"OTA Response","statusCode":"","headers":{},"x":3348.5597534179688,"y":594.107177734375,"wires":[]},{"id":"f99ec3d5.1c9ed","type":"file in","z":"3d8b205e.17f5a","name":"Load Firmware","filename":"","format":"","sendError":false,"x":2586.499786376953,"y":379.9285888671875,"wires":[["a68e900.88caf7","ebec35ce.5751f8"]]},{"id":"929908b6.c50f08","type":"change","z":"3d8b205e.17f5a","name":"No Update","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2955.607421875,"y":238.5714111328125,"wires":[["a68e900.88caf7"]]},{"id":"bcb26553.8482c8","type":"change","z":"3d8b205e.17f5a","name":"Forbidden","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Forbidden","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2933.499755859375,"y":115.89285278320312,"wires":[["a68e900.88caf7"]]},{"id":"15648220.c9d98e","type":"switch","z":"3d8b205e.17f5a","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":303.71435546875,"y":114.99999237060547,"wires":[["bcb26553.8482c8"],["bf7382da.db03c","fcb68d5e.c80c4"]]},{"id":"bf7382da.db03c","type":"switch","z":"3d8b205e.17f5a","name":"Update type","property":"req.headers.x-esp8266-mode","propertyType":"msg","rules":[{"t":"eq","v":"spiffs","vt":"str"},{"t":"eq","v":"sketch","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":484.0179748535156,"y":208.57144165039062,"wires":[["929908b6.c50f08"],[]]},{"id":"a795a602.3ef288","type":"comment","z":"3d8b205e.17f5a","name":"Sketch","info":"","x":650.7857055664062,"y":293.142822265625,"wires":[]},{"id":"7f8ac02f.94467","type":"comment","z":"3d8b205e.17f5a","name":"Spiffs","info":"","x":599.5,"y":157,"wires":[]},{"id":"f7b53dc6.1f94f","type":"http in","z":"3d8b205e.17f5a","name":"OTA Manager","url":"/esp8266-ota","method":"get","swaggerDoc":"","x":88.05558013916016,"y":648.2856712341309,"wires":[["f012db45.460d98"]]},{"id":"69d05464.97f1bc","type":"file","z":"3d8b205e.17f5a","name":"Save md5 Checksum","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1539.9998168945312,"y":845.8333740234375,"wires":[]},{"id":"b7d873bb.08a23","type":"file in","z":"3d8b205e.17f5a","name":"Read firmware","filename":"","format":"","x":842.0833740234375,"y":846.6666870117188,"wires":[["e390869a.cecbb8"]]},{"id":"36c95e53.83abb2","type":"change","z":"3d8b205e.17f5a","name":"Extract filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.files.firmware[0].originalname","tot":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":619.375,"y":847.9166870117188,"wires":[["b7d873bb.08a23"]]},{"id":"eb6d6d52.3b13a","type":"change","z":"3d8b205e.17f5a","name":"","rules":[{"t":"change","p":"filename","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1225.625,"y":846.25,"wires":[["69d05464.97f1bc"]]},{"id":"847aa6e1.99a838","type":"file in","z":"3d8b205e.17f5a","name":"Load Hash","filename":"","format":"utf8","sendError":false,"x":1743.910629272461,"y":321.82147216796875,"wires":[["411eaab2.468104"]]},{"id":"411eaab2.468104","type":"switch","z":"3d8b205e.17f5a","name":"Compare MD5 hash","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"req.headers.x-esp8266-sketch-md5","vt":"msg"},{"t":"else"}],"checkall":"false","outputs":2,"x":1954.91064453125,"y":322.1786193847656,"wires":[["929908b6.c50f08"],["37c52e2a.11b3b2"]]},{"id":"37c52e2a.11b3b2","type":"change","z":"3d8b205e.17f5a","name":"Save MD5 Hash","rules":[{"t":"set","p":"headers.x-MD5","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"md5","fromt":"str","to":"bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2279.2857360839844,"y":377.0714416503906,"wires":[["f99ec3d5.1c9ed"]]},{"id":"dcb6c7ba.6261b8","type":"comment","z":"3d8b205e.17f5a","name":"Firmware Upgrade","info":"The system determines which firmware to send based\non the MAC address, version, and MD5 headers in the\nrequest from the ESP8266.\n\nFirstly, it checks if a firmware hash file with \nthe MAC address as the name exists, or else if a \nfirmware file with the version as the name exists.\nIf neither exist then no update is available.\n\nIt then reads the corresponding MD5 hash from the\nhash file and compares to the MD5 hash in the\nrequest.  If they match then the firmware is up\nto date and no update is required.\n\nOtherwise, it sends the contents of the firmware\nbin file and the MD5 hash value.\n\nhttps://flows.nodered.org/flow/888b4cd95250197eb429b2f40d188185\n\nhttps://gist.github.com/DeanCording/5308e474d909f7d70613722fd86b09bb","x":103.5,"y":46,"wires":[]},{"id":"80faf135.534e6","type":"comment","z":"3d8b205e.17f5a","name":"Firmware Management","info":"","x":110.5,"y":542,"wires":[]},{"id":"ad2dfa60.aa0128","type":"change","z":"3d8b205e.17f5a","name":"Get Version hash filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.headers.x-esp8266-version","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":".md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1203.2857666015625,"y":439.6427917480469,"wires":[["1472b6ad.2f5189"]]},{"id":"ec604a9.dd17bb8","type":"template","z":"3d8b205e.17f5a","name":"Firmware Manager","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>ESP8266 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            .file-btn-grp {\n                display: none;\n            }\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .link {\n                font-style: italic;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"esp8266-ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n\n        <div id=\"linkModal\" class=\"modal fade\" role=\"dialog\">\n            <div class=\"modal-dialog\">\n        \n                <!-- Modal content-->\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                        <h4 class=\"modal-title\">Create Symbolic Link</h4>\n                    </div>\n                    <div class=\"modal-body\">\n                        <form class=\"form-horizontal\" id=\"linkForm\" role=\"form\" action=\"#\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkName\">Link:</label> \n                                <div class=\"col-sm-10\">\n                                    <input id=\"linkName\" name=\"linkName\" class=\"form-control\"/>\n                                </div>\n                            </div>\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkFile\">To:</label> \n                                <div class=\"col-sm-10\">\n                                    <input class=\"form-control\" id=\"linkFile\" name=\"linkFile\"/>\n                                </div>\n                            </div>\n                        </form>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"submit\" class=\"btn btn-success link-create\">Create</button>\n                        <button type=\"button\" class=\"btn btn-warning\" data-dismiss=\"modal\">Cancel</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n            var linkButton = \"<button id='link' class='btn btn-success'>Link</button>\";\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n            var twoButtons = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + linkButton + \"</div>\";\n            \n            function addListEntry(list, filename, linkname) {\n            \n                var entry;\n                \n                if (linkname === undefined) {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + twoButtons + \"</div></li>\");\n                } else {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span class='link'>\" \n                    + filename + \"</span> <span class='glyphicon glyphicon-arrow-right'></span> \" \n                    + linkname + oneButton + \"</div></li>\");\n                }\n                \n                entry.mouseover(function(){\n                    $(this).find(\".btn-group\").fadeIn(\"fast\");\n                });\n                entry.mouseleave(function(){\n                    $(this).find(\".btn-group\").fadeOut(\"slow\");\n                });\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                entry.on(\"click\", \"button#link\", function(){\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $(\"#linkName\").val(\"\");\n                    $(\"#linkFile\").prop(\"disabled\", true).val(file);\n                    $(\"#linkName\").parent().removeClass(\"has-error\");\n                    $(\"#linkModal\").modal();\n                    $('#linkModal').on('shown.bs.modal', function () {\n                        $('#linkName').focus();\n                    });\n                });\n                \n                if (list.children().length == 0) {\n                    list.append(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            \n            var files = String(\"{{payload.files}}\").split(',');\n            var links = String(\"{{payload.links}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                if (links[index] == \"\") {\n                    addListEntry(this, file.slice(0,-4));\n                } else {\n                    addListEntry(this, file.slice(0,-4), links[index].slice(0,-4));\n                }\n            },list_of_items);\n           \n           \n            $(\"#linkModal\").on(\"click\", \"button.link-create\", function(event){\n               event.preventDefault();\n               if ($(\"#linkName\").val() == \"\") {\n                    $('#linkName').focus();\n                    $('#linkName').parent().addClass(\"has-error\");\n                    return false;\n               }\n               $(\"#linkFile\").prop(\"disabled\",false);               \n               $.ajax({\n                    type: 'PUT',\n                    data: $(\"#linkForm\").serialize(),\n                    success: function(result) {\n                        $(\"#linkModal\").modal('hide');\n                        addListEntry(list_of_items, $('#linkName').val(), $('#linkFile').val());\n                    },\n                    error: function(result) {\n                        $(\"#linkFile\").prop(\"disabled\", true);\n                        $('#linkName').focus();\n                        $('#linkName').parent().addClass(\"has-error\");\n                        $(linkForm).append(\"<div id='linkError' class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n                });\n            });\n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().slice(0,-4).split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>","output":"str","x":1381.3333740234375,"y":645.8135375976562,"wires":[["a68e900.88caf7"]]},{"id":"ad81c31c.3702d","type":"http in","z":"3d8b205e.17f5a","name":"OTA Delete","url":"/esp8266-ota","method":"delete","upload":false,"swaggerDoc":"","x":83.125,"y":933.75,"wires":[["19e94f7.499ffb1"]]},{"id":"4d9ee2f5.55e66c","type":"catch","z":"3d8b205e.17f5a","name":"File Error","scope":["51744c59.7a3754","989fc342.0eda2","71230628.67b328","422b1628.caee08","b119add.2f3055"],"x":1870.6665573120117,"y":805.3333158493042,"wires":[["ffacca19.478598"]]},{"id":"ffacca19.478598","type":"change","z":"3d8b205e.17f5a","name":"Error","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2159,"y":791,"wires":[["a68e900.88caf7"]]},{"id":"b3704a04.8b03c8","type":"change","z":"3d8b205e.17f5a","name":"Change to MD5 filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"bin","fromt":"str","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1879.1666564941406,"y":936.6666269302368,"wires":[["989fc342.0eda2"]]},{"id":"a752a225.52246","type":"http in","z":"3d8b205e.17f5a","name":"OTA Link","url":"/esp8266-ota","method":"put","swaggerDoc":"","x":84,"y":1041.5,"wires":[["5d1689d4.28b638"]]},{"id":"5d1689d4.28b638","type":"change","z":"3d8b205e.17f5a","name":"Extract filename","rules":[{"t":"change","p":"payload.linkName","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"},{"t":"change","p":"payload.linkFile","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1385,"y":1044,"wires":[["71230628.67b328"]]},{"id":"ba9c9274.82536","type":"change","z":"3d8b205e.17f5a","name":"Change to MD5 Filename","rules":[{"t":"change","p":"payload.linkName","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"},{"t":"change","p":"payload.linkFile","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1908,"y":1045,"wires":[["422b1628.caee08"]]},{"id":"19e94f7.499ffb1","type":"change","z":"3d8b205e.17f5a","name":"Extract filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1382.5,"y":937.5,"wires":[["51744c59.7a3754"]]},{"id":"ebec35ce.5751f8","type":"debug","z":"3d8b205e.17f5a","name":"Update sent","active":true,"console":"false","complete":"req.headers.x-esp8266-sta-mac","x":2931.5000610351562,"y":386.00006103515625,"wires":[]},{"id":"fcb68d5e.c80c4","type":"debug","z":"3d8b205e.17f5a","name":"Update req","active":true,"console":"false","complete":"req.headers","x":690,"y":360,"wires":[]},{"id":"a8523cd8.bf905","type":"switch","z":"3d8b205e.17f5a","name":"","property":"req.headers.x-esp8266-version","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":696.9642333984375,"y":446.7856750488281,"wires":[["ad2dfa60.aa0128"],["bdf1f9ec.b491d8"]]},{"id":"bdf1f9ec.b491d8","type":"change","z":"3d8b205e.17f5a","name":"Version in Request","rules":[{"t":"set","p":"req.headers.x-esp8266-version","pt":"msg","to":"req.params.version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":916.4285278320312,"y":512.8571166992188,"wires":[["ad2dfa60.aa0128"]]},{"id":"ecd1dcb2.69e12","type":"debug","z":"3d8b205e.17f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.params","x":2126.428741455078,"y":574.2858276367188,"wires":[]},{"id":"2342119e.bd661e","type":"debug","z":"3d8b205e.17f5a","name":"Firmware file error","active":true,"console":"false","complete":"error","x":2890.7142944335938,"y":327.1428527832031,"wires":[]},{"id":"22a202b7.c2b0de","type":"catch","z":"3d8b205e.17f5a","name":"File error","scope":["f99ec3d5.1c9ed","847aa6e1.99a838"],"x":2627.8572387695312,"y":328.5714111328125,"wires":[["929908b6.c50f08","2342119e.bd661e"]]},{"id":"b119add.2f3055","type":"fs-ops-move","z":"3d8b205e.17f5a","name":"Store firmware","sourcePath":"req.files.firmware[0].destination","sourcePathType":"msg","sourceFilename":"req.files.firmware[0].filename","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"req.files.firmware[0].originalname","destFilenameType":"msg","link":false,"x":365.89284896850586,"y":818.3332557678223,"wires":[["36c95e53.83abb2","a68e900.88caf7"]]},{"id":"71230628.67b328","type":"fs-ops-move","z":"3d8b205e.17f5a","name":"Link firmware","sourcePath":"","sourcePathType":"str","sourceFilename":"payload.linkFile","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"payload.linkName","destFilenameType":"msg","link":true,"x":1644.5,"y":1044,"wires":[["ba9c9274.82536"]]},{"id":"422b1628.caee08","type":"fs-ops-move","z":"3d8b205e.17f5a","name":"Link MD5","sourcePath":"","sourcePathType":"str","sourceFilename":"payload.linkFile","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"payload.linkName","destFilenameType":"msg","link":true,"x":2152.5,"y":1044,"wires":[["a68e900.88caf7"]]},{"id":"51744c59.7a3754","type":"fs-ops-delete","z":"3d8b205e.17f5a","name":"Delete firmware","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":1628.6250457763672,"y":936.5832777023315,"wires":[["b3704a04.8b03c8"]]},{"id":"989fc342.0eda2","type":"fs-ops-delete","z":"3d8b205e.17f5a","name":"Delete MD5 Hash","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":2170.833206176758,"y":936.6665878295898,"wires":[["a68e900.88caf7"]]},{"id":"8167d19c.433cc","type":"fs-ops-access","z":"3d8b205e.17f5a","name":"Check for MD5 file exists","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1028.857177734375,"y":329.1428527832031,"wires":[["847aa6e1.99a838"],["a8523cd8.bf905"]]},{"id":"1472b6ad.2f5189","type":"fs-ops-access","z":"3d8b205e.17f5a","name":"Check for MD5 file exists","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1496.7857055664062,"y":439.7142028808594,"wires":[["847aa6e1.99a838"],["929908b6.c50f08"]]},{"id":"18fff6bf.620459","type":"fs-ops-link","z":"3d8b205e.17f5a","name":"Get Links","path":"firmware.directory","pathType":"flow","filename":"payload.files","filenameType":"msg","link":"payload.links","linkType":"msg","x":776.4999923706055,"y":648.3333110809326,"wires":[["ec604a9.dd17bb8"]]},{"id":"f012db45.460d98","type":"fs-ops-dir","z":"3d8b205e.17f5a","name":"Firmware listing","path":"firmware.directory","pathType":"flow","filter":"*.bin","filterType":"str","dir":"payload.files","dirType":"msg","x":493.0355987548828,"y":647.8015928268433,"wires":[["18fff6bf.620459"]]},{"id":"e390869a.cecbb8","type":"md5","z":"3d8b205e.17f5a","name":"","fieldToHash":"payload","hashField":"payload","hashFieldType":"msg","x":1031.6668090820312,"y":846.6666259765625,"wires":[["eb6d6d52.3b13a"]]},{"id":"5b249827.c2db98","type":"config","z":"3d8b205e.17f5a","name":"Firmware Config","properties":[{"p":"firmware.directory","pt":"flow","to":"/home/pi/ota/firmware/","tot":"str"}],"active":true,"x":123.0714111328125,"y":360.1428527832031,"wires":[]},{"id":"75aaf602.3c6cc8","type":"httpInMultipart","z":"3d8b205e.17f5a","name":"OTA Upload","url":"/esp8266-ota","method":"post","fields":"[{ \"name\": \"firmware\"}]","swaggerDoc":"","x":79.7857437133789,"y":812.4286108016968,"wires":[["b119add.2f3055"]]},{"id":"7c01675f.5851f8","type":"mqtt in","z":"3d8b205e.17f5a","name":"","topic":"Client_Name/status","qos":"2","broker":"afb87cdc.16d18","x":340,"y":1220,"wires":[["62b6bdbf.017444"]]},{"id":"62b6bdbf.017444","type":"debug","z":"3d8b205e.17f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1220,"wires":[]},{"id":"a66b892.6d8a078","type":"mqtt in","z":"3d8b205e.17f5a","name":"","topic":"Client_Name/sensor_value","qos":"2","broker":"afb87cdc.16d18","x":330,"y":1300,"wires":[["62b6bdbf.017444"]]},{"id":"1884f749.835fd9","type":"inject","z":"3d8b205e.17f5a","name":"","topic":"","payload":"10000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1400,"wires":[["eab6557a.dc46f8"]]},{"id":"eab6557a.dc46f8","type":"mqtt out","z":"3d8b205e.17f5a","name":"","topic":"Sender_2/topic_2","qos":"","retain":"","broker":"afb87cdc.16d18","x":740,"y":1400,"wires":[]},{"id":"d02aa813.2e4398","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery/busPower","qos":"2","broker":"afb87cdc.16d18","x":510,"y":260,"wires":[["288d7383.e9f60c"]]},{"id":"89a88c60.e48ed","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery/busVoltage","qos":"2","broker":"afb87cdc.16d18","x":540,"y":360,"wires":[["288d7383.e9f60c"]]},{"id":"132f2cb1.e6c8b3","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery/shuntCurrent","qos":"2","broker":"afb87cdc.16d18","x":520,"y":460,"wires":[["288d7383.e9f60c"]]},{"id":"fb0f6c81.f858b","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery/shuntVoltage","qos":"2","broker":"afb87cdc.16d18","x":560,"y":560,"wires":[["288d7383.e9f60c"]]},{"id":"288d7383.e9f60c","type":"debug","z":"f124cd36.1724a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":200,"wires":[]},{"id":"4441fe6e.dcc25","type":"mqtt in","z":"f124cd36.1724a","name":"","topic":"Battery/status","qos":"2","broker":"afb87cdc.16d18","x":560,"y":680,"wires":[["288d7383.e9f60c"]]},{"id":"8620c807.4df808","type":"mqtt out","z":"f124cd36.1724a","name":"","topic":"Battery/sensorRequestPeriod","qos":"","retain":"","broker":"afb87cdc.16d18","x":990,"y":880,"wires":[]},{"id":"921d849d.111c98","type":"inject","z":"f124cd36.1724a","name":"","topic":"","payload":"30000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":900,"wires":[["8620c807.4df808"]]}]