NodeRedFlows.json
[{"id":"cc00772.c3bab88","type":"tab","label":"WittyCloud","disabled":false,"info":""},{"id":"13b6d67d.29235a","type":"tab","label":"OrangePi Zero","disabled":false,"info":""},{"id":"397fe4aa.4892ec","type":"tab","label":"WittyCloud2","disabled":false,"info":""},{"id":"5804f7e3.4e68d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8304c09.37807","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ad69849.ec5b68","type":"ui_group","z":"","name":"Температура","tab":"def6532b.16776","order":1,"disp":false,"width":"6"},{"id":"def6532b.16776","type":"ui_tab","z":"","name":"Температура","icon":"dashboard"},{"id":"38fa827.3db747e","type":"ui_tab","z":"","name":"Свет","icon":"dashboard"},{"id":"870f31fb.29937","type":"ui_group","z":"","name":"Никитына комната","tab":"38fa827.3db747e","order":2,"disp":true,"width":"6"},{"id":"cd6ca71e.71ea08","type":"ui_tab","z":"","name":"Движение","icon":"dashboard"},{"id":"3c4179a9.a69e36","type":"ui_group","z":"","name":"Движение","tab":"cd6ca71e.71ea08","disp":true,"width":"6"},{"id":"6201a3d4.abdb4c","type":"ui_group","z":"","name":"MiFlora","tab":"4db44263.288d7c","order":2,"disp":true,"width":"6"},{"id":"34e9d357.d374ec","type":"ui_group","z":"","name":"Report","tab":"798f8449.c86d2c","order":2,"disp":true,"width":"18"},{"id":"36145d0c.bb6fd2","type":"ui_group","z":"","name":"Selection","tab":"798f8449.c86d2c","order":1,"disp":true,"width":"5"},{"id":"4db44263.288d7c","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"798f8449.c86d2c","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"6765594b.3f62d8","type":"sqlitedb","z":0,"db":"/root/sensordata.db"},{"id":"59ec8680.2ea948","type":"sqlitedb","z":0,"db":"/home/pi/sqlite/nodered"},{"id":"eae8a525.c71d48","type":"exec","z":"13b6d67d.29235a","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GetProcTemp","x":300,"y":140,"wires":[["4551f038.eb572"],[],[]]},{"id":"4551f038.eb572","type":"mqtt out","z":"13b6d67d.29235a","name":"ProcTemp","topic":"","qos":"","retain":"","broker":"e8304c09.37807","x":505.0000419616699,"y":141.99999046325684,"wires":[]},{"id":"ad1b00b8.c7dcf","type":"inject","z":"13b6d67d.29235a","name":"","topic":"ProcTemp","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":110,"y":140,"wires":[["eae8a525.c71d48"]]},{"id":"332f678a.86d438","type":"ui_switch","z":"cc00772.c3bab88","name":"Nik's lamp","label":"Лампа над диваном","group":"870f31fb.29937","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WittyCloud/input","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":716.1666107177734,"y":1096.4445295333862,"wires":[["d56a40dd.bac57","ae95abf4.6b1808"]]},{"id":"aaf52aa9.333f58","type":"ui_gauge","z":"cc00772.c3bab88","name":"","group":"8ad69849.ec5b68","order":1,"width":"0","height":"0","gtype":"gage","title":"Температура на улице","label":"°C","format":"{{value}}","min":"-20","max":"+40","colors":["#3a31f2","#1acc2c","#ca3838"],"seg1":"10","seg2":"25","x":589.1000366210938,"y":151.60006713867188,"wires":[]},{"id":"b7baff53.01f5c","type":"mqtt in","z":"cc00772.c3bab88","name":"","topic":"WittyCloud/temp","qos":"2","broker":"e8304c09.37807","x":151.09999084472656,"y":152.2000002861023,"wires":[["aaf52aa9.333f58","d5f352b5.91289","e94e815b.aa6ea"]]},{"id":"c309f61b.496b88","type":"mqtt in","z":"13b6d67d.29235a","name":"","topic":"ProcTemp","qos":"2","broker":"e8304c09.37807","x":80.91249084472656,"y":257.2843704223633,"wires":[["193c9bbb.4c1284"]]},{"id":"193c9bbb.4c1284","type":"ui_text","z":"13b6d67d.29235a","group":"8ad69849.ec5b68","order":3,"width":0,"height":0,"name":"","label":"OrangePi proc temp","format":"{{msg.payload}}°C","layout":"row-spread","x":482.9093704223633,"y":258.27809715270996,"wires":[]},{"id":"751a1586.7bb21c","type":"mqtt in","z":"cc00772.c3bab88","name":"WittyCloud/light","topic":"WittyCloud/light","qos":"2","broker":"e8304c09.37807","x":172.7799949645996,"y":693.9599809646606,"wires":[["fbb40d5f.c6a87"]]},{"id":"fbb40d5f.c6a87","type":"ui_text","z":"cc00772.c3bab88","group":"870f31fb.29937","order":2,"width":0,"height":0,"name":"","label":"Датчик света","format":"{{msg.payload}}","layout":"row-spread","x":584.7799377441406,"y":693.35498046875,"wires":[]},{"id":"d5f352b5.91289","type":"ui_chart","z":"cc00772.c3bab88","name":"","group":"8ad69849.ec5b68","order":2,"width":"0","height":"0","label":"История","chartType":"line","legend":"false","xformat":"dd HH","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":718.7799072265625,"y":233.3599853515625,"wires":[["e5eb7a15.d45478"],[]]},{"id":"9692479f.e2cd38","type":"stoptimer","z":"cc00772.c3bab88","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":409,"y":897.1999835968018,"wires":[["332f678a.86d438"],[]]},{"id":"4b29efc9.47adc","type":"ui_button","z":"cc00772.c3bab88","name":"","group":"870f31fb.29937","order":3,"width":0,"height":0,"passthru":false,"label":"15 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":136.9999008178711,"y":896.399980545044,"wires":[["ae62564e.ce0708","9692479f.e2cd38"]]},{"id":"ae95abf4.6b1808","type":"debug","z":"cc00772.c3bab88","name":"","active":true,"console":"false","complete":"false","x":695.9999389648438,"y":808,"wires":[]},{"id":"d56a40dd.bac57","type":"mqtt out","z":"cc00772.c3bab88","name":"Light ON/OFF","topic":"","qos":"","retain":"","broker":"e8304c09.37807","x":934.6001663208008,"y":1096.0002536773682,"wires":[]},{"id":"1c4eaf66.2cfe31","type":"ui_button","z":"cc00772.c3bab88","name":"","group":"870f31fb.29937","order":5,"width":0,"height":0,"passthru":false,"label":"1 Hour","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":135.39990997314453,"y":1020.4000129699707,"wires":[["f7d83c5a.96a3a","ae62564e.ce0708"]]},{"id":"f5b68cd1.20ea6","type":"ui_button","z":"cc00772.c3bab88","name":"","group":"870f31fb.29937","order":4,"width":0,"height":0,"passthru":false,"label":"30 Min","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"WittyCloud/input","x":137.39990615844727,"y":960.4000091552734,"wires":[["ae62564e.ce0708","731deb51.8e7e64"]]},{"id":"b203f98f.85a788","type":"ui_button","z":"cc00772.c3bab88","name":"","group":"870f31fb.29937","order":6,"width":0,"height":0,"passthru":false,"label":"Stop","color":"red","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":139.39991760253906,"y":1094.4000396728516,"wires":[["9692479f.e2cd38","731deb51.8e7e64","f7d83c5a.96a3a","ae62564e.ce0708"]]},{"id":"731deb51.8e7e64","type":"stoptimer","z":"cc00772.c3bab88","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":409.39990997314453,"y":957.1999855041504,"wires":[["332f678a.86d438"],[]]},{"id":"f7d83c5a.96a3a","type":"stoptimer","z":"cc00772.c3bab88","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":401.39990997314453,"y":1013.199987411499,"wires":[["332f678a.86d438"],[]]},{"id":"ae62564e.ce0708","type":"function","z":"cc00772.c3bab88","name":"Light ON/OFF","func":"if(msg.payload === \"STOP\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"0\"\n}\nelse if(msg.payload === \"0\"){\n    msg.topic = \"WittyCloud/input\"\n    msg.payload = \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":438.89990234375,"y":1094.0999755859375,"wires":[["332f678a.86d438"]]},{"id":"2747cb21.f459c4","type":"mqtt in","z":"397fe4aa.4892ec","name":"","topic":"WittyCloud2/status","qos":"2","broker":"e8304c09.37807","x":456.30003356933594,"y":225.0666732788086,"wires":[["27ef3b0d.be65b4","e10ac79f.380718","909f51e8.1944a"]]},{"id":"c3541510.ee3418","type":"mqtt in","z":"397fe4aa.4892ec","name":"","topic":"WittyCloud2/light","qos":"2","broker":"e8304c09.37807","x":447.30003356933594,"y":284.0666732788086,"wires":[[]]},{"id":"27ef3b0d.be65b4","type":"debug","z":"397fe4aa.4892ec","name":"","active":true,"console":"false","complete":"payload","x":948.3000907897949,"y":224.13338088989258,"wires":[]},{"id":"cfceec3f.713a","type":"mqtt out","z":"397fe4aa.4892ec","name":"","topic":"WittyCloud2/MotionSensor","qos":"","retain":"","broker":"e8304c09.37807","x":1277.3002853393555,"y":435.0003080368042,"wires":[]},{"id":"5ffe65a3.2b6bfc","type":"ui_switch","z":"397fe4aa.4892ec","name":"","label":"Alarm on/off","group":"3c4179a9.a69e36","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":979.300121307373,"y":434.46668243408203,"wires":[["cfceec3f.713a","499bd277.78783c"]]},{"id":"60329925.de1888","type":"mqtt in","z":"397fe4aa.4892ec","name":"","topic":"WittyCloud2/MotionSensor","qos":"2","broker":"e8304c09.37807","x":478.30004119873047,"y":356.6667251586914,"wires":[["27ef3b0d.be65b4"]]},{"id":"e15eb46b.66a2f8","type":"e-mail","z":"397fe4aa.4892ec","server":"smtp.gmail.com","port":"465","secure":true,"name":"ukrduino@gmail.com","dname":"","x":997.3003120422363,"y":359.13337230682373,"wires":[]},{"id":"e10ac79f.380718","type":"function","z":"397fe4aa.4892ec","name":"Notify by email","func":"if(msg.payload === '4'){\n    msg.payload = \"Motion detected!!!\"\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":757.3001022338867,"y":360.000039100647,"wires":[["825a9ad9.7a6148","e15eb46b.66a2f8"]]},{"id":"825a9ad9.7a6148","type":"function","z":"397fe4aa.4892ec","name":"Disable sensor","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":763.3003005981445,"y":434.2000141143799,"wires":[["5ffe65a3.2b6bfc"]]},{"id":"499bd277.78783c","type":"debug","z":"397fe4aa.4892ec","name":"","active":false,"console":"false","complete":"false","x":1186.3000526428223,"y":547.1333961486816,"wires":[]},{"id":"909f51e8.1944a","type":"ui_chart","z":"397fe4aa.4892ec","name":"","group":"3c4179a9.a69e36","order":0,"width":0,"height":0,"label":"Активность","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":753.2334594726562,"y":111.53339385986328,"wires":[[],[]]},{"id":"1e9d819c.ad111e","type":"inject","z":"13b6d67d.29235a","name":"Reboot","topic":"","payload":"reboot","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":143.30002212524414,"y":407.0666780471802,"wires":[["9980f168.3b792"]]},{"id":"9980f168.3b792","type":"exec","z":"13b6d67d.29235a","command":"reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":391.30003356933594,"y":408.1000289916992,"wires":[[],[],[]]},{"id":"1bb1a8f7.0f0d37","type":"file in","z":"cc00772.c3bab88","name":"restore from file","filename":"/root/temp_chart.dump","format":"utf8","chunk":false,"sendError":false,"x":345,"y":231.5,"wires":[["eb3ec2a0.27b96"]]},{"id":"e5eb7a15.d45478","type":"file","z":"cc00772.c3bab88","name":"backup to file","filename":"/root/temp_chart.dump","appendNewline":true,"createDir":false,"overwriteFile":"true","x":934,"y":227.5,"wires":[]},{"id":"e94e815b.aa6ea","type":"function","z":"cc00772.c3bab88","name":"Save data to DB","func":"\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":357.5,"wires":[[]]},{"id":"ede676f7.88dd98","type":"inject","z":"cc00772.c3bab88","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":127,"y":230.5,"wires":[["1bb1a8f7.0f0d37"]]},{"id":"eb3ec2a0.27b96","type":"json","z":"cc00772.c3bab88","name":"","pretty":false,"x":538,"y":231.5,"wires":[["d5f352b5.91289"]]}]